[2012-10-17 12:08] daonb opened #1 "Use HTTP POST for upvotes"
According to the w3c, requests that change the database should be made using POST requests.

The code should include changing the upvote view to support only POST request and adding javascript code to handle upvote clicks.

[2012-10-17 12:14] daonb opened #2 "Optimize performance of calculating the tags cloud in questions view"
Well, the way it's code right now, it's too slooow. Look for `TODO` if okqa/qa/views.py

[2012-10-17 12:15] daonb opened #3 "Add Search"
we need it

[2012-10-17 12:15] daonb opened #4 "Create the question details page"

[2012-10-17 12:16] daonb opened #5 "Create the User and Candidate pages"
It's actually the same page...

[2012-10-17 12:16] daonb opened #6 "Clicking on Tags should display a tag page"

[2012-10-17 15:37] daonb opened #7 "Adding a way to flag a question"
Becuase people are nasty, we need to give the good folks a way to report bad questions.

[2012-10-17 20:57] daonb opened #9 "Add fixtures"
So that the groups are created and some basic, valid questions are loaded.

[2012-10-17 22:30] daonb opened #10 "Add Atom feeds"
For all the questions, all the answers and for answers for a specific question

[2012-10-17 22:31] daonb opened #11 "Make the Ask button work"

[2012-10-22 12:17] #4 closed, assigned to daonb

[2012-10-22 13:09] #9 closed, assigned to daonb

[2012-10-22 19:05] shimont opened #13 "Creating new candidates doesntwork"
Creation of new candidates doesnt work

[2012-10-22 20:42] #11 closed, assigned to daonb

[2012-10-22 20:43] daonb opened #15 "When Asking a question, tags don't do anything"
Enter one or more tags at http://localhost:8000/q/post/ and you'll see they're lost.

[2012-10-22 20:43] daonb opened #16 "When Asking a question, tags don't do anything"
Enter one or more tags at http://localhost:8000/q/post/ and you'll see they're lost.

[2012-10-22 22:31] daonb commented on #3
Closing this ticket, as search is here. opening 2 new tickets to improve the search

[2012-10-22 22:38] daonb opened #18 "Improve Search Box design"
The navbar looks like shit, some better spacing is needed...

[2012-10-22 22:41] daonb opened #19 "Improve search results page"
When searching, the result show up on a page that has an empty search box on the top and a full search box on the bottom. This does not make sense....

[2012-10-23 08:27] daonb opened #21 "Design the candidates page"
- bio
- image
- links
- faecbook embed
- rss reader
- Three Party Question
- Focusing on tags

[2012-10-24 14:53] #19 closed, assigned to nobody

[2012-10-24 14:56] daonb opened #22 "Add the question upvote button"
I think it should be only in the detail screen

[2012-10-24 14:59] daonb opened #23 "Use S3 to host static files"
Currently, static files are served by Django and if we release it like that, they may take my driving license...

[2012-10-24 15:05] daonb commented on #18
the template for the search result is at qa/tempates/search/search.html

[2012-10-24 19:39] #16 closed, assigned to nobody

[2012-10-24 19:40] #3 closed, assigned to nobody

[2012-10-24 19:48] daonb commented on #2
I think it's optimized now, please close if it is.

[2012-10-24 19:56] daonb opened #24 "support hebrew user names"
Because it's ugly to mix two languages

[2012-10-24 20:04] yaninelbi commented on #24
+1

[2012-10-24 20:07] #15 closed, assigned to daonb

[2012-10-24 20:09] daonb opened #25 "The tags buttons are not aligned well"
Now that you can add tags, you'll see it on the left pane in the question list.

[2012-10-24 20:10] yaninelbi commented on #25
How can I add tags to see them ?

[2012-10-24 20:10] daonb opened #26 "Clicking on 'Candidate' and the 'Home' stays selected"

[2012-10-24 20:12] yaninelbi commented on #26
That is correct, can you add a view variable containing the active menu context ? (page/controller?)

[2012-10-24 20:16] yaninelbi opened #27 "Design / Prettify the login and signup pages / partials"

[2012-10-24 20:17] yaninelbi commented on #27
I can't assign this to myself nor add a label I'm afraid

[2012-10-24 20:17] daonb commented on #26
I think that when I'm on questions page I should have no navbar item selected

[2012-10-24 20:20] daonb commented on #27
Seems like I have to add developers to team for them to take on ticket.

Welcome to the Team!

[2012-10-24 20:20] yaninelbi commented on #26
I think that we should update the "Home" button to say "Questions" and that should be selected, so it's a clear.
I believe that in the near future the home page wouldn't only contain the questions but only the top ones / newest as opposed to containing all of them as it is now. That's when a questions section would be appropriate (that would show all questions). I'll remove it for now then

[2012-10-24 20:26] yaninelbi commented on #18
I meant the small helper that rendered the form on the top navigation bar. Never mind though.

I think we can close this issue.

[2012-10-24 20:30] #18 closed, assigned to nobody

[2012-10-24 20:42] daonb commented on #25
Ask a question and ad a comma separated list of tags on the tags field

[2012-10-24 20:43] daonb commented on #25
You have to pull the latest code...

[2012-10-26 10:55] daonb opened #28 "Add a sitemap for search bots"

[2012-10-26 10:55] daonb opened #29 "Add a read-only API"

[2012-10-28 12:03] pwalsh commented on #28
Hey Benny,

I'd like to do an SEO feature branch to improve the whole searchability of the QA site(s).

That would mean:
- Sitemap
- Good impl of meta tags
- Slugification of Hebrew Qs

The last one will maybe get some resistance so I wanted to check what you say. It will def. be better for search discovery of the QA sites. I have a good impl for this that I have used on another Hebrew site we'll

[2012-10-28 13:13] daonb commented on #28
Go for it. Regarding hebrew slugification we now use ids as slugs and if
you think we should do it open an issue. I'll add you to the Team next time
i have my laptop connected
On Oct 28, 2012 2:03 PM, "Paul Walsh" notifications@github.com wrote:

[2012-10-28 17:48] pwalsh commented on #28
I think it should be done for all public URLs. I'll open an issue for that separately.

[2012-10-29 07:02] pwalsh opened #30 "search bots friendly URLs"
URLs with keywords help pages rank better (all other things being equal), especially on low volume search terms (where keywords and on-page optimization tweaks weigh heavier than signals like trust).

Django sucks for unicode URLs out of the box, but Mozilla released a nice python unicode slugify script precisely for this reason.

I suggest to add a new Charfield to all models with public URL path

[2012-10-29 08:19] daonb opened #31 "login errors should appear on the login modal"
bad username/password are common. the login POST should be done for js and  received errors displayed on the modal.

[2012-10-29 10:31] #1 closed, assigned to nobody

[2012-10-29 10:31] #22 closed, assigned to yaninelbi

[2012-10-29 10:33] daonb commented on #25
seems fine now

[2012-10-29 10:33] #25 closed, assigned to yaninelbi

[2012-10-29 11:12] #2 closed, assigned to shaib

[2012-10-29 13:47] pwalsh commented on #28
Sitemaps:

I need to understand about the users.
- As I see it there are multiple user types, probably filterable via groups association.

Two two types I can gather from the code are "candidates" and "members".

Do both user types have publicly accessible profile pages, even if they are not implemented yet?

Just working out what else I need for the sitemaps, apart from question paths.

[2012-10-29 17:19] daonb commented on #28
For now, we should make sure that users of the `candidates` group pages are
indexed.

[2012-10-29 18:12] daonb commented on #10
and a feed for the answers of a specific candidate

[2012-10-29 20:32] daonb opened #32 "Allow an author to edit his question"
Maybe the author made a mistake?

[2012-10-29 20:37] #6 closed, assigned to iritmalka

[2012-10-29 21:10] pwalsh commented on #10
Got feed for all questions.

Got feed of answers for a given question.

Got feed of answers for a given candidate (and a given member).

Need to do a bunch of fixes in the rest of the codebase to make it all work properly :)

[2012-10-29 21:46] pwalsh commented on #10
Benny, I have finished this feature, but it is on my seo-101 branch, and I can't do another pull request until you accept my currently waiting one.

Ping me when you have done the previous one, and I'll open a new pull request for this.

[2012-10-29 22:15] #31 closed, assigned to nobody

[2012-10-30 04:13] #27 closed, assigned to yaninelbi

[2012-10-30 05:31] daonb commented on #10
Ping!
On Oct 29, 2012 11:46 PM, "Paul Walsh" notifications@github.com wrote:

[2012-10-30 06:29] pwalsh commented on #10
Actually, you merged it with the sitemap feature merge. See the commit message on the last commit from me.

Next time, I'll more strictly separate so that feature == my local branch.

[2012-10-30 07:12] daonb opened #36 "feeds should work on tag pages as well"

[2012-10-30 07:23] daonb commented on #10
I've just merged with Yanin and updated to the heroku, take a look. Seems like there are some english strings in the feed that are not in the `po` file...

[2012-10-30 12:53] pwalsh commented on #28
benny you can close this issue.

[2012-10-30 16:08] pwalsh commented on #36
meaning, all questions with this tag?

[2012-10-30 16:47] daonb opened #39 "Allow users to follow a candidate"
So they can recieve email updates when he posts new answers

[2012-10-30 16:48] daonb opened #40 "Add users' photos next to their questions & answers"
Make it more close and personal

[2012-10-30 16:49] daonb opened #41 "Add email updates"
Keep track of what the users are following and send them email update when their stream fills or when they haven't received a notification in a while. User can follow questions and candidates.

[2012-10-30 16:51] #28 closed, assigned to pwalsh

[2012-10-30 16:54] daonb commented on #36
yep, but it can also be a list of comma seperated tags. I suggest you add a get a get parameter `tags` with a comma seperated list of tags and filter by it. check `okqa.qa.views.tagged_questions` for code to copy.

[2012-10-30 17:03] pwalsh commented on #36
Ok, so a tag view can be for one or many tags. If many, then the keyword
argument is a comma separated list of the tags. Correct?

On Tuesday, October 30, 2012, benny daon wrote:

[2012-10-30 17:32] daonb commented on #36
Correct

[2012-10-31 23:13] pwalsh opened #42 "Proof of concept with CBVs"
I started a POC branch to show two changes:

I am looking for comments before I tidy up into pull requests for the master branch.

https://github.com/pwalsh/ok-qa/commits/cbv-poc

Specifically, these two commits:

https://github.com/pwalsh/ok-qa/commit/6ed71b84d21c7b35eea798c57c561f19a8e4b366
https://github.com/pwalsh/ok-qa/commit/ced8ec9ec3b1178323d5bb9e8347cd03a203f523
## Unislugs

I opened an e

[2012-11-01 09:02] daonb opened #43 "Add a "contact us" form"

[2012-11-01 09:09] #5 closed, assigned to mkamensky

[2012-11-01 09:10] daonb opened #44 "Add questions asked to user's page"
becuase not all users are candidates

[2012-11-01 20:09] daonb commented on #21
Add an anchor to each answer for easy facebook sharing

[2012-11-01 20:20] #10 closed, assigned to pwalsh

[2012-11-01 20:50] daonb opened #45 "Allow users to change their avatars"

[2012-11-01 20:54] daonb opened #46 "Autocomplete tags"
So we don't end up with to many tags

[2012-11-01 21:01] daonb commented on #42
I've pulled the code and add a data migration for existing questions, looks good!
What should we do with the old view_question function? I'd like to have an option for short URLs using question ids, can CBV support ids as well?

[2012-11-01 21:04] daonb opened #47 "Add an about page"
so people know what it's all about

[2012-11-01 21:08] daonb commented on #21
need to add the option to edit the page

[2012-11-02 04:40] daonb commented on #42
Decided I don't like CBV and prefer view functions. Why? beacuse function are simpler and more readable.
CBV requires the developer to know a lot about their flow and the diffrenet mixin, while there's very little heavy-lifting that goes on in the background.

[2012-11-02 05:09] pwalsh commented on #42
Yes I understand, CBVs are less immediate and readable especially at first, and that is why I added this as a
POC and didn't do a pull request.

As for your earlier question re ids. Yes, you can overuse get_slug and implement any logic required. For example, I'd do something like if the request was an id, return json, if unilslug, return HTML page.

[2012-11-04 07:08] maayan commented on #47
See suggested text here: https://docs.google.com/document/d/1uShqtHF21cdkc0AoAM1_5oTFdqH3wjIcd4Qx_34uvRc/edit
(who should I share it with?)

[2012-11-04 07:54] daonb commented on #47
first version is on the live demo, but it still needs html-ing. @maayan please point your browser at http://okqa.herokuapp.com/admin/flatpages/flatpage/1/ and add a bit of formatting

[2012-11-05 06:21] maayan commented on #47
Did some paragraphing. Do we have a contact form (to contact team)? I'll link to it from the "About" page

[2012-11-05 14:16] daonb commented on #47
we have an address: qa@hasadna.org.il

[2012-11-05 14:20] daonb opened #48 "Help forgetfull people login"
By adding a 'forgot password' link

[2012-11-05 14:23] daonb commented on #43
see #47

[2012-11-05 14:23] #43 closed, assigned to nobody

[2012-11-05 14:24] #42 closed, assigned to nobody

[2012-11-05 14:27] #39 closed, assigned to nobody

[2012-11-05 14:30] daonb commented on #36
I suggest we use the chance to refactor the feed view functions to feeds.py

[2012-11-05 14:32] daonb commented on #24
I know you can use _edit prfile_  your name to be in hebrew

[2012-11-05 14:32] #30 closed, assigned to pwalsh

[2012-11-05 15:08] #21 closed, assigned to nobody

[2012-11-05 15:12] #13 closed, assigned to nobody

[2012-11-05 22:51] #48 closed, assigned to daonb

[2012-11-06 07:40] #44 closed, assigned to nobody

[2012-11-06 07:40] #40 closed, assigned to nobody

[2012-11-06 07:41] #7 closed, assigned to nobody

[2012-11-08 06:41] #23 closed, assigned to nobody

[2012-11-08 14:29] daonb opened #51 "Make it simpler for an Editor to add a candidate"
So that the system will send him an automated email inviting him to complete the registration and start answering questions

[2012-11-11 10:21] daonb commented on #32
Not sure he should... What happens if there are answers and we have a joker?

[2012-11-11 10:26] daonb opened #52 "Allow candidates to specify they are running in the registration form"
And remove the line from the activation email that asks the candidates to send an email

[2012-11-11 10:28] daonb opened #53 "Allow stuff member to access admin from their menu"
Probably another menu item just before 'logout'

[2012-11-11 10:32] daonb opened #54 "Work with Amazon's SES"
The current smtp service - SendGrid has a 200 email a day cap on free accounts. Better use Open-Knesset Amazon's SES service - probably using this - https://github.com/duointeractive/sea-cucumber

[2012-11-12 10:55] #47 closed, assigned to maayan

[2012-11-14 06:35] #51 closed, assigned to daonb

[2012-11-14 06:55] daonb opened #56 "תמיכה בפורמט מעוצב לשאלות ותשובות"
בעיקר בקישורים, אבל גם בהבלטות. לדוגמא:
http://havoda.yeda.us/q/%D7%94%D7%90%D7%9D-%D7%90%D7%AA%D7%9D-%D7%99%D7%95%D7%93%D7%A2%D7%99%D7%9D-%D7%9E%D7%94-%D7%94%D7%99%D7%90-%D7%9B%D7%9C%D7%9B%D7%9C%D7%AA-%D7%97%D7%95%D7%91/

[2012-11-14 19:25] david206 commented on #24
1. בחירת שם משתמש: הכנסתי את שמי המלא - וקיבלתי תשובה: ערך זה יכול להכיל אותיות, ספרות והתווים @/./+/-/_ בלבד. הכנסתי את שמי הפרטי (אותיות בלבד), וקיבלתי את אותה התשובה. מניח שהכוונה היא שהערך יכול לקבל אותיות באנגלית בלבד - כדאי להסביר.

[2012-11-14 19:26] david206 opened #58 "Fix the activation mail content"
1. מייל הפעלת החשבון נראה קצת מוזר, המרכאות מצ'וקמקות: )&quot(

תודה שנרשמת לאתר שו&quot;ת במפלגת הליכוד. על מנת להשלים את ההרשמה, אנא לחץ/י...

[2012-11-18 07:50] daonb opened #59 "Import havoda candidate from the official site"
Write a management command to import the bio, photo, email and home page of the avoda candidates from http://members.havoda.org.il/primaries.php into the User and UserProfile models

[2012-11-18 07:59] daonb opened #60 "Order the candidates using a random algorithem"
on the /candidates/ page display on the photos, names and questions answered and use a random number generator to order the candidates

[2012-11-18 09:05] #53 closed, assigned to nobody

[2012-11-18 09:06] daonb opened #61 "Add a 'last answers' Tab on home page"
And make it the default tab for returning users.

[2012-11-20 14:08] #24 closed, assigned to shaib

[2012-11-20 14:09] daonb opened #62 "Make Facebook sharing more informative"
Need to add meta keyowrds on the pages so that facebook will use the right title when ppl share a page from the site.

[2012-11-20 14:14] daonb commented on #62
here's a bit old explanation I found about facebook publisher: http://webapps.stackexchange.com/questions/6745/how-does-facebook-publisher-select-the-image-title-and-content-from-a-shared

[2012-12-20 14:35] daonb commented on #60
And now it needs search, if there's a specific candidate the user is looking for

[2012-12-20 14:37] #59 closed, assigned to nobody

[2012-12-20 14:39] #46 closed, assigned to nobody

[2013-05-02 14:01] daonb opened #63 "Add a login error page"
and set LOGIN_ERROR_URL to point there

[2013-05-05 05:44] daonb opened #64 "Edit profile improvments"
Remove the username and make the bio optional

[2013-06-14 14:29] daonb opened #65 "add link to questions in main nav"
Ron had a problem finding the link.

[2013-06-16 10:16] idoivri opened #66 "Add a counter for remaining # of chars left ("
In order for the user to see how far she is from the max number of 500 chars,
a counter (such as Twitter's character counter) is needed somewhere above or below a question/answer textbox.

Cheers!

[2013-06-16 10:21] idoivri opened #67 "Add a counter for remaining # of chars left"
In order for the user to see how far she is from the max number of 500 chars,
a counter (such as Twitter's character counter) is needed somewhere above or below a question/answer textbox.

Cheers!

[2013-06-16 10:21] #66 closed, assigned to nobody

[2013-06-23 06:21] #65 closed, assigned to nobody

[2013-06-23 06:22] #52 closed, assigned to nobody

[2013-06-23 06:23] #45 closed, assigned to nobody

[2013-06-23 06:23] daonb opened #68 "Allow an author to delete his question"

[2013-06-23 06:24] daonb opened #69 "email flagged questions to the local editors"

[2013-06-27 08:14] daonb opened #71 "Add a "forgot email" link on the login page"

[2013-06-27 10:02] daonb opened #72 "Simplify inviting users by email"
Support the uploca of a csv file with names and emails like the `invite_members` in the user app does.

[2013-06-29 21:47] daonb opened #73 "fix facebook login"

[2013-06-29 21:47] daonb opened #74 "fix twitter login"

[2013-06-30 13:10] #26 closed, assigned to yaninelbi

[2013-06-30 13:15] #58 closed, assigned to nobody

[2013-06-30 13:16] daonb commented on #64
The username stays for now

[2013-06-30 13:16] #64 closed, assigned to nobody

[2013-07-01 07:38] daonb opened #75 "Add a section for Users"
Showing the most active users, etc and the user detail pages.

[2013-07-01 15:52] #73 closed, assigned to nobody

[2013-07-01 15:52] #74 closed, assigned to nobody

[2013-07-08 10:37] #41 closed, assigned to daonb

[2013-07-08 10:38] daonb opened #76 "New Answer notification"
Email a notification to the question author when there's a new answer. Probably a good time to add celery for background tasks

[2013-07-08 10:40] #71 closed, assigned to nobody

[2013-07-08 10:42] daonb opened #77 "let the user set his locality"

[2013-07-09 21:22] daonb opened #79 "Show all the buttons, even for anonymous user"
In a single question page, there are three buttons which are diaplyed on if the user is logged in and has permissions.  Better to show the buttons all the time and when the users clicks, tell him what to do to make his click count.

[2013-07-09 21:47] daonb opened #80 "Add tags"
The project had tags. They are still in there, but are in active because they have to work per-locality.

[2013-07-10 08:46] daonb commented on #67
Now, we need to do the same for the answers

[2013-07-10 12:34] daonb opened #81 "Support local admins"
Local admins are going to be added by the super users are they should be able to:
- get an email when a new candidate joins
- remove non-legit candidates
- get an email when someone flags a question
- remove non-legit questions

[2013-07-11 13:57] BoazChen opened #82 "Search doesn't work"
Not Found

The requested URL /search/ was not found on this server.

[2013-07-11 13:59] BoazChen opened #83 "when you logoin you are redirected to the front page (though I have selected a city before I loged). rather not."

[2013-07-12 06:07] ydaniv opened #84 "Add "See all questions" so I can repost a question I like to my muni"
I'd like to see all questions and filter them, to be able to pick one I liked and present it to the contenders on my muni.

[2013-07-13 22:03] david206 commented on #32
+1,
At least let the author edit his question **before** there are any answers.

[2013-07-16 08:57] #81 closed, assigned to daonb

[2013-07-16 09:04] daonb opened #85 "Add editors' notification"
Send an email to editors when a major event happens in their locality:
- A new candidate joins
- A message is flagged

Probably a good time to add celery based worker to send the emails async

[2013-07-16 19:53] daonb opened #86 "Update the search indexes"
When we'll have celery, use RealtimeSignalProcessor to update the search index in close to real time.

[2013-07-17 19:34] daonb opened #87 "Add tags"
Tagging was part of an earlier version and it was unwisely removed by yours truly.  I only removed the interface, so the model and the controllers should be still there.
Tags should work differently on the local and global scope.  From the home page it will be possible to see, for example, the _transportation_ questions from across the country.  If the users clicks a Tag from a url which is place-

[2013-07-17 20:29] daonb opened #88 "Backup and Restore"
Make sure we have it

[2013-07-18 04:16] BoazChen commented on #82
well, it doesn't. no error but is doen't find any word...

[2013-07-18 04:21] BoazChen opened #89 "the tab "filter by rating" on home page doesn't work"
it works in a city but not on the HP.

[2013-07-18 05:02] BoazChen opened #90 "Clicking a question contributor name cause err 500"

[2013-07-19 09:38] daonb opened #91 "Block same questions in the same locality"
Make sure we don't have two questions with the same slug int he same locality or the question detail page will crash

[2013-07-19 12:50] amirnissim commented on #90
Assign to me

[2013-07-19 12:50] tbrisker commented on #91
אני עובד על זה

[2013-07-19 13:09] ozomer opened #92 "Show pictures of authors that answered a question, in the main preview."
I'll start working on that

[2013-07-19 13:38] tbrisker commented on #32
I;m on it.

[2013-07-19 13:59] amirnissim commented on #89
Me! Me! Assign to me!

[2013-07-19 16:23] ozomer opened #95 "Only moderators should be able to set users as candidates. Users should "request to become a candidate". This is necessary to prevent trolling."

[2013-07-20 08:07] amirnissim commented on #61
Done
https://github.com/amirnissim/okqa/commit/fcb517a9ba45578abd8d2ad7024a6b9af8677e62

[2013-07-20 08:08] amirnissim commented on #67
Done
https://github.com/amirnissim/okqa/commit/f76ff129589a9babcef97c4e2e4c14be18ab83e4

[2013-07-20 08:08] amirnissim commented on #89
Done
https://github.com/amirnissim/okqa/commit/fcb517a9ba45578abd8d2ad7024a6b9af8677e62

[2013-07-20 08:09] amirnissim commented on #79
I'm on it

[2013-07-20 08:21] #67 closed, assigned to amirnissim

[2013-07-20 08:21] #89 closed, assigned to nobody

[2013-07-20 08:21] #90 closed, assigned to nobody

[2013-07-20 09:09] amirnissim commented on #79
I am not sure it makes sense to show users neither
1. editor buttons like 'remove question'
2. nor candidate buttons like 'answer question'

I am only removing the 'disabled' state for 'flag question' button, which redirects to login anyways

https://github.com/amirnissim/okqa/commit/b3cb2c9d0ae407ded8e598c0852da514d5b4ff5c

[2013-07-20 09:16] ozomer commented on #68
I'll work on this.

[2013-07-20 12:20] ozomer opened #101 "Page of flagged posts for editors"
I'm working on this.

[2013-07-20 15:05] ozomer opened #105 "If the candidate already wrote an answer, the button should say "edit answer"."

[2013-07-20 15:55] ozomer opened #106 "Choose different city without moving through homepage"
I'm working on that

[2013-07-20 19:34] ozomer commented on #32
What about the candidates? They should be able to edit/delete their answers too.

... and somehow prevent them from deleting their promises the day after the elections.

[2013-07-21 10:07] daonb opened #107 "make the design responsive"
So it won't hurt our eyes to see it on mobile

[2013-07-21 12:21] daonb commented on #32
Right, candidates should be able to edit their answers, but that's another ticket

[2013-07-21 12:21] #32 closed, assigned to nobody

[2013-07-21 12:27] daonb commented on #106
I've talk to Muson the Design Czar and he suggested we use a map based display to display the question and for the user to select their place. i'm talking to the people of http://opentaba.info/ to see if they'll help us use your interface.

[2013-07-23 17:13] gl1000007 opened #110 "Add QR Code Generator"
This can help candidates and their activists distribute the candidate page, by:
1. Printing the code on a sticker an sticking it to any pre-printed material.
2. Downloading the code as an image file and incorporating it in new graphic materials.

QR code can be added to candidate pages, city pages, or virtually any page on the site.

[2013-07-24 10:01] #106 closed, assigned to daonb

[2013-07-24 10:09] gl1000007 commented on #106
A map display is a good idea but I suggest to use it in addition to the current localities list, maybe below it on the left sidebar. Also, there is a place to consider adding some infographics, such as number of questions or candidates from each locality.

[2013-07-24 10:32] gl1000007 commented on #107
A common use case is entering the site from a smartphone or tablet, for example during parlor meetings and many outdoor activities.
Another use case is adding and editing questions and answers on the go.
The improved design should take those into account.

[2013-07-24 10:36] gl1000007 opened #111 "top bar suggestions"
I suggest using a constant menu in all pages:
בית, שאלות, מועמדים, אודות
- All links, including "questions" and "candidates", will be visible in every page.
- If no locality has been chosen, "questions" and "candidates" will display country-wide content.
- Candidate sorting ideas: most asked, newest.

[2013-07-24 10:39] gl1000007 opened #112 "cannot register via facebook"
error:
תצורת היישום אינה מאפשרת את כתובת ה-URL הנתונה.: ‎One or more of the given URLs is not allowed by the App's settings. It must match the Website URL or Canvas URL, or the domain must be a subdomain of one of the App's domains.‎

tried it on firefox, chrome and ie.

[2013-07-24 10:49] daonb commented on #112
shit. I forgot to update the urls of the callbacks in facebook and twitter.
will fix soon (on a bus now)
On Jul 24, 2013 1:39 PM, "Gilad Leibovits" notifications@github.com wrote:

[2013-07-24 10:52] gl1000007 opened #113 "Forgot password? Efes!"
Maybe it's a tiny detail, but:
When a user forgets their password, he/she sees this message:
!שכחת סיסמה? אפס
There **will be** some users feeling harmed by it.
We can avoid this by changing the sentence to something like:
שכחת סיסמה?  תוכל/י לאפס אותה [כאן](http://oshot.hasadna.org.il/accounts/password/reset/)

Also, in the password reset form, דואל should be replaced with דוא"ל.

[2013-07-24 12:31] gl1000007 opened #114 "add like/share buttons for social networks"
at least facebook and twitter

[2013-07-24 13:55] #112 closed, assigned to nobody

[2013-07-24 13:57] daonb commented on #113
Good catch. We try to use the plural form so we won't get into the male/female slashes. so it's better to change it to:
שכחתם סיסמה? אפסו

[2013-07-24 13:59] daonb commented on #111
+1

[2013-07-24 14:01] #68 closed, assigned to nobody

[2013-07-24 14:01] daonb opened #115 "Warn user before deleting his question"

[2013-07-24 19:06] gl1000007 commented on #113
agreed

[2013-07-29 07:54] daonb opened #116 "Display a welcome message for virgin places"
Places that still have no questions are the most common pages on the site right now.  Better to display a welcome message calling people to post the first questions to become editors and help us keep it honest and bring the local candidates.

[2013-07-29 14:16] gl1000007 opened #117 "discussion request: make top bar, sidebar interface uniform"
This comes as an addition to my "top bar suggestions" issue.

There are some cases, when these parts' interface changes.
For example, when a string search returns no results, the most focused element, the search text box itself, jumps from left to right.

In these cases, some buttons surprisingly change position, and some completely disappear, leaving most users confused (let's remember many users

[2013-07-29 15:23] gl1000007 opened #118 "in Search Error page, display entered string"
Despite the error, it provides _some_ informative feedback to the user, Instead of just a laconic message.
Additionally, if some technical error occurs, like getting gibberish input or in an incorrect text encoding, that error will be shown.

[2013-07-29 17:22] gl1000007 opened #119 "should we allow a user to post a question related to other locality?"
just an idea that popped into my head...

pls write your thoughts here

[2013-07-29 18:03] ozomer commented on #105
I'm taking this issue.

[2013-07-29 18:26] michalten opened #120 "Wrong redirection on nonexistent location"
On the main page, pick a location from the dropdown menu.
Then, change the location to the first one ("-------").
It redirects you to the url "qna", which is nowhere...
It should probably just do nothing.

[2013-07-29 18:37] ozomer opened #121 "Tags should be split by commas, not by spaces, even if the user did not write any commas."

[2013-07-29 18:38] ozomer commented on #121
The code is mingled with the taggit library.
It's best to change it from there (from Benny's fork).

[2013-07-29 19:39] ozomer commented on #105
done

[2013-07-29 19:53] ozomer commented on #115
done

[2013-07-29 20:01] ozomer commented on #101
done.
Just replace the "qna" in the URL with "flagged".

[2013-07-29 20:14] ozomer opened #122 "User profile not remembered after logging out and logging in."

[2013-07-29 21:25] gl1000007 commented on #121
what about tags that do contain spaces, like גנים ציבוריים or בנייה לגובה ?

[2013-07-29 21:31] gl1000007 commented on #107
@yaninelbi
I can help with some UX insights. Do you mind if I take a look at the work in progress?

[2013-07-30 06:40] daonb commented on #121
Are you sure we know better than [djago-taggit](https://django-taggit.readthedocs.org/en/latest/forms.html) ?

[2013-07-30 06:43] daonb commented on #122
I couldn't recreate it.  can you add a more detailed usage scenario?

[2013-07-30 06:50] daonb opened #123 "Add a special marking for editor pages/avatars"

[2013-07-30 11:09] #80 closed, assigned to nobody

[2013-07-30 11:10] #54 closed, assigned to nobody

[2013-07-30 12:14] #95 closed, assigned to nobody

[2013-07-30 12:15] #101 closed, assigned to nobody

[2013-07-30 12:15] #115 closed, assigned to nobody

[2013-07-30 12:17] daonb commented on #119
nope. let's keep it simple

[2013-07-30 12:17] #119 closed, assigned to nobody

[2013-07-30 12:20] #105 closed, assigned to nobody

[2013-07-30 13:01] #117 closed, assigned to nobody

[2013-07-30 13:20] #120 closed, assigned to nobody

[2013-07-30 13:21] daonb commented on #118
How do I get to the search error page?

[2013-07-30 13:21] #113 closed, assigned to nobody

[2013-07-30 13:22] #92 closed, assigned to nobody

[2013-07-30 13:22] #87 closed, assigned to nobody

[2013-07-30 13:23] daonb commented on #79
@amirnissim can we close this?

[2013-07-30 13:23] #77 closed, assigned to nobody

[2013-07-30 13:23] ozomer commented on #121
The label should say: "Tags are separated by spaces or commas, to put a two-words tag wrap it with quotation marks.

[2013-07-30 13:24] #91 closed, assigned to nobody

[2013-07-30 13:25] #72 closed, assigned to nobody

[2013-07-30 13:26] ozomer commented on #122
Log in with facebook.
Change your profile first/last name.
Log out.
Log in again.
Check your profile name...

[2013-07-30 13:27] daonb opened #125 "support auto posting of Questions and Answer to facebook"
Add a checkbox - "post to my facebook wall" - when enetering a question or an answer

[2013-07-30 13:29] daonb opened #126 "Suuport city council candidates"
Allow candidates to the city council to join, naming their party and displaying their answer alongside the answer from the mayor candidate

[2013-07-30 13:31] daonb commented on #122
+1

[2013-07-30 13:43] daonb commented on #121
The translation is from django-taggit, I updated it there

[2013-07-30 13:58] amirnissim commented on #79
yep

[2013-07-30 19:11] yaninelbi commented on #107
Hi guys, I haven't started on this ticket, I will get an initial version
done this Monday after the meetup :-)
You're welcome to join!

On Tue, Jul 30, 2013 at 12:31 AM, Gilad L notifications@github.com wrote:

[2013-07-31 06:04] #79 closed, assigned to nobody

[2013-07-31 13:42] daonb opened #127 "Add creative common license notes"
All users content is provided under CC-BY

[2013-08-02 09:43] gl1000007 commented on #118
By searching for any string, including words which do appear in one ore more questions.
For example try to search for גובה, which can be found in a question written by me, URL follows:

http://oshot.hasadna.org.il/%D7%92%D7%9F-%D7%99%D7%91%D7%A0%D7%94/qna/%D7%9E%D7%94-%D7%A2%D7%9E%D7%93%D7%AA%D7%9A-%D7%91%D7%A0%D7%95%D7%A9%D7%90-%D7%91%D7%A0%D7%99%D7%99%D7%94-%D7%9C%D7%92%D7%95%D7%91%D7%94/

[2013-08-02 10:11] gl1000007 opened #128 "Make URLs Short, Pretty and sharable"
Many URLs contain Hebrew strings, such as  questions and locality names. This makes URLs very long, and pretty ugly (as a result of of mis-decoded text).

Take this for example:
http://oshot.hasadna.org.il/%D7%92%D7%9F-%D7%99%D7%91%D7%A0%D7%94/qna/%D7%9E%D7%94-%D7%A2%D7%9E%D7%93%D7%AA%D7%9A-%D7%91%D7%A0%D7%95%D7%A9%D7%90-%D7%91%D7%A0%D7%99%D7%99%D7%94-%D7%9C%D7%92%D7%95%D7%91%D7%94/

I suggest to

[2013-08-04 10:59] #60 closed, assigned to nobody

[2013-08-04 16:45] lotan1 commented on #126
Maybe the candidates page can include parties as well,
candidates to the city council should registerd then as a head of party.
Their answers then can be alongside or even below,
but only for mayor candidate and parties leaders, not any council candidate.

[2013-08-04 16:51] lotan1 opened #129 "suggested tabs addition to header"
The header tab includes: שאלות, מועמדים ואודות
And can include: תגיות וישובים, as well.

[2013-08-04 21:17] gl1000007 commented on #126
I think It's much more complicated. For example:
2 kinds of lists: idependent and party supported - does the DB has to change? How we'll display it to the users? Should we add a parties page? etc.
Should we let any list member other than the head of the list answer questions?
When a candidate answers a question, is he/she answers as a candidate or as the list he/she is leading, or both?
Even if wh

[2013-08-04 21:26] gl1000007 commented on #129
for יישובים we already have a dropdown list. Do you think of any new related content we should put into the site?

תגיות is interesting. I think about a tag-cloud that will show popular issues at the locality level or nation level.

If there are more ideas, I think we should split this issue into 2, and discuss each page seperately.

[2013-08-05 16:23] tbrisker opened #130 "Notify user of redirection when trying to ask a question in a different locality"
Currently, when a user tries asking a question in a different locality then the one he listed on his profile, he is redirected to asking in his own locality without any notification.

[2013-08-05 16:46] tbrisker commented on #116
on it

[2013-08-05 17:24] danielhers opened #131 "Tags should not be mandatory when creating a question"
When creating a question, you cannot submit it if you did not specify any tag. This should not occur.

[2013-08-06 07:53] gl1000007 opened #133 "Improve page titles"
מועמדים באא עיר לדוגמא | השו"ת המקומי
מתי תתקנו את הביוב שזורם ברחובות? (אא עיר לדוגמא) | השו"ת המקומי

[2013-08-06 09:48] gl1000007 commented on #116
הי, הנה כמה הערות ורעיונות
ברשותכם אכתוב את זה בעברית, כדי להימנע מסלט של עברית ואנגלית.
בסוף סיכמתי את כל ההערות לגירסה חדשה של ההודעה, כדי לחסוך לכם העתקות והדבקות.
ההערות הן:
- "אתם בין המשתמשים הראשונים מהרשות". איזו רשות - הרשות הפלסטינית אולי? זו האסוציאציה הראשונה שעלתה לי, ורק אח"כ חשבתי על רשות מקומית. עד כמה שאני מכיר, יש עיריות, ויש רשויות מקומיות. כדי שלא נצטרך לכתוב קוד שיברר אם ביישו

[2013-08-06 09:54] gl1000007 opened #134 "Make the ask button visible from every page."
Even for logged-out users.
This is our main call-to-action, therefore we should emphasize it.

[2013-08-06 10:02] gl1000007 commented on #130
On the new page, we can add a yellow stripe with this:
"מצטערת, ניתן להעלות שאלה רק ביישוב שלכם. הועברתם ל[תל אביב]."

[2013-08-06 10:27] gl1000007 commented on #125
and make it checked by default, of course.
This can make more people share.

[2013-08-06 10:38] gl1000007 commented on #61
should this issue be closed?

[2013-08-07 06:34] gl1000007 commented on #107
@yaninelbi what's up?
Is there something to see, or we're at square one?
I know it's a dirty word at the workshop, but the two of us will somehow need to coordinate.
I surely can make a wireframe alone, but it's a big task, maybe you have already done something that can be used, and of course 2 minds are better than 1.
I'm available on [github user name] at gmail dot com, and on Github, of course.

[2013-08-07 07:24] yaninelbi commented on #107
Hi Gilad! Due to unfortunate events I couldn't attend on Monday :( @daonb
Will make head way next week.

On Wed, Aug 7, 2013 at 9:34 AM, Gilad L notifications@github.com wrote:

[2013-08-07 07:26] yaninelbi commented on #107
If you could be there as well, we can brainstorm and sketch and implement on the spot

On Wed, Aug 7, 2013 at 9:34 AM, Gilad L notifications@github.com wrote:

[2013-08-07 07:28] gl1000007 commented on #107
yeah, but until then we can use github, google drive, email, etc...
why wait a week?

[2013-08-07 07:34] yaninelbi commented on #107
We'll, I haven't started on it yet so I guess either u upload some wires or sketches or I'll start something and let you know, probably towards the weekend

On Wed, Aug 7, 2013 at 10:28 AM, Gilad L notifications@github.com wrote:

[2013-08-07 08:59] daonb commented on #118
well, the word in your question is לגובה not גובה. That's one of the
limitations of the simple search engine we're using - it's not very smart
when it comes to hebrew...

On 2 August 2013 12:43, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-07 09:04] daonb commented on #130
I've changed it so the button will show only in your locality or the global
scope.  When you view a locality that is different then your own, it
doesn't make sense to show the button so we don't.

On 6 August 2013 13:02, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-07 09:19] daonb commented on #116
I prefer you'll change it yourself. I've made you a superuser so you can
now access the admin interface - there's an option on the user menu "ממשק
ניהול" there you need to click the "flat blocks" and for there...

2013/8/6 Gilad L notifications@github.com

##

http://yeda.us/daonb

[2013-08-07 09:20] daonb commented on #61
Why? we still don't have answers...

On 6 August 2013 13:38, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-07 09:36] gl1000007 commented on #130
Maybe something like this:
![ask a question gan yavne](https://f.cloud.github.com/assets/5072931/923293/120b1f6e-ff44-11e2-9614-5d3910494d5a.PNG)
This kind of button can be placed on **any** page, excluding the "ask" page itself, and still avoid the error of asking outside your locality.
I think this button is one of the main call-to-actions on the site, therefore we should display it in any oppor

[2013-08-07 09:51] gl1000007 commented on #118
Now I see when I search for לגובה, it shows me the question.
Maybe a separate issue should be opened about this?

also,
There is still a place to reflect the users what they have searched.
Think about this: If you perform a search with no results, all you see is the "no matches found" message. You search for a different string, still no results, and you keep seeing the very same message. Then you

[2013-08-07 10:09] gl1000007 commented on #130
P.S.
https://github.com/hasadna/open-shot/issues/134

[2013-08-07 12:17] daonb commented on #134
well, the logic behind the interface is that pages are displayed in a certain scope - aka locality - or in the global scope.  The first line on the page specifies the scope and should probably be highlighted in a special way.
Once the user is in a certain scope, he will not be able to perform action relating to other scopes, other than jumping to them.
Following this logic, the button to ask a que

[2013-08-07 15:00] gl1000007 commented on #134
Sounds logical to me.

(irrelevant material deleted)

[2013-08-07 15:00] gl1000007 commented on #130
@daonb +1

[2013-08-08 04:54] gl1000007 commented on #116
Does the system backup older versions of the block, or I should backup it manually?

[2013-08-08 05:00] gl1000007 commented on #116
sorry, didn't notice the history button.

[2013-08-08 05:03] gl1000007 commented on #116
Both blocks changed.

[2013-08-08 05:58] daonb commented on #134
+1. just copy it to a new issue "Improving page titles" and close this one.

On 7 August 2013 18:00, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-08 07:25] daonb opened #135 "Display the user profile in his locality"
Currently, a User's page is displayed with a general locality
![image](https://f.cloud.github.com/assets/36852/929970/ac4cd51a-fffb-11e2-9159-8f0c174f579e.png)

[2013-08-08 07:26] #130 closed, assigned to nobody

[2013-08-08 10:19] daonb commented on #106
regarding the map & infographics, why not design something?

[2013-08-08 12:44] gl1000007 opened #136 "Default locality should be something meaningful like "בחרו יישוב"."

[2013-08-08 13:19] daonb commented on #136
it really is "כל הארץ", no?

On 8 August 2013 15:44, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-08 13:19] gl1000007 opened #137 "Improving page titles"
We can highlight the scope by writing it in the main title in the page, like we already do in the questions' pages:
first one is locality specific and the second is nation wide:
שאלות למועמדים באבו בסמה
שאלות למועמדים בבחירות המקומיות

We can have:
מועמדים באבו בסמה
מועמדים בבחירות המקומיות

same goes with תשובות.

In general:
[page title] at [locality name]
[page title] at local elections

[2013-08-08 13:19] gl1000007 commented on #134
Sorry for this. It will take me some time to get used to GitHub practices.
https://github.com/hasadna/open-shot/issues/137

[2013-08-08 13:19] #134 closed, assigned to nobody

[2013-08-08 13:38] gl1000007 commented on #136
It is, but I was thinking on it -
"כל הארץ" is just an informative text, whereas "בחרו יישוב" is also a call to action.
There is no one right way to do it, it's my personal opinion.

I found some existing sites that mix the 2 wording methods, like
http://www.yad2.co.il/Yad2/Yad2.php
http://www.2eat.co.il/

And other sites that use the call-to-action method, like
http://www.alljobs.co.il/

So you c

[2013-08-08 13:58] gl1000007 opened #138 "Fix the english title on http://oshot.hasadna.org.il/candidates/"
It says: Candidates for local elections, in English.

I don't remember the exact Hebrew wording, but it has to be in one of the former versions.

[2013-08-08 14:02] gl1000007 commented on #138
Locality specific pages seem to work fine.
The wording should be "מועמדים לבחירות המקומיות"

[2013-08-08 14:19] gl1000007 commented on #137
Maybe you'll come across this in your way
https://github.com/hasadna/open-shot/issues/138

[2013-08-08 14:24] gl1000007 opened #139 "Generate some sort of a site map / tree view"
Some issues relate to the entire site, including every single page in it.
Take for example https://github.com/hasadna/open-shot/issues/133 and https://github.com/hasadna/open-shot/issues/137.

In order to be sure we went through all the pages, a site map can assist.
If not a site map, any solution which provides a way to linearly go through all the pages, will be appreciated.

P.S.
Do you know who

[2013-08-08 14:39] daonb commented on #138
Errrr...now it's working

[2013-08-08 14:39] #138 closed, assigned to nobody

[2013-08-08 14:50] gl1000007 commented on #128
Another relevant issue - putting it here instead of opening a new one:
URL inconsistency between a locality's questions and candidates pages

Take Tel Aviv Jaffa for example:

URL for questions is:
http://oshot.hasadna.org.il/97/qna/

URL for candidates is:
http://oshot.hasadna.org.il/%D7%AA%D7%9C-%D7%90%D7%91%D7%99%D7%91-%D7%99%D7%A4%D7%95/candidates/

first version is better.

[2013-08-10 16:27] gl1000007 commented on #107
Started today making wireframes. It **will** take some time.
First version is transfer of the current design with no changes into [Balsamiq Mockups](http://balsamiq.com/products/mockups/). Think of it as a first commit. When it's ready, I'll share it using Google Drive, where everybody will be able to comment on it.
Then the real fun begins, making it responsive.

Meanwhile, take a look at these p

[2013-08-11 04:55] daonb commented on #139
We already have a sitemap for the crawlers, it's here:
http://oshot.hasadna.org.il/sitemap.xml

On 8 August 2013 17:24, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-11 05:06] daonb commented on #128
According to Paul from the open-muni project:

"We use Hebrew slugs, just like wikipedia and any other website with a
slight interest in search engine results and SEO.

Search engines, browsers, and most social media sites render the strings in
readable Hebrew."

On 8 August 2013 17:50, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-12 13:58] #128 closed, assigned to nobody

[2013-08-12 15:50] gl1000007 commented on #139
ok but what about one for humans? especifically the dev team which needs to get trough all the pages finding bugs.

[2013-08-12 15:57] gl1000007 commented on #137
I think we can close it.

[2013-08-12 15:57] #137 closed, assigned to daonb

[2013-08-12 16:30] lotan1 opened #140 "Server Error 500 while changing user settings at admin > Auth > Users >"

[2013-08-12 16:34] lotan1 opened #141 "questions counter remain on '20'"

[2013-08-12 16:47] lotan1 opened #142 "local moderator can delete any candidate or question in the site"

[2013-08-12 16:56] lotan1 opened #143 "שינוי הגדרות עצמי ב"ערוך פרופיל""
1. משתמש יכול להגדיר עצמו כמועמד בדיעבד
2. מועמד שנכנס לעריכת פרופיל - ברירת המחדל היא שסימון ממועמד מוסר והוא יהפוך למשתמש
3. משתמש לא יכול לשנות בדיעבד את מקום מגוריו - איך מתמודדים עם הקלדה שגויה
4. מועמדים וראשי רשימות צריכים אופציות נוספות בעמד הפרופיל שלהם

[2013-08-12 17:27] lotan1 opened #144 "user avatar size can change between diffrent pictures and browsers"

[2013-08-13 13:55] daonb commented on #139
IMO, it's more trouble than its worth. Maps are OK for static sites but in
our case it's too complex to be usuable.

[2013-08-14 11:07] daonb commented on #140
Seems like the problem is that the current Profile is not displayed and the admin tries to create a new profile when the user saves the user.

[2013-08-14 11:19] daonb commented on #142
How? using admin?

On 12 August 2013 19:47, lotan1 notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-14 11:21] daonb commented on #143
לא ברור מה הבעיה ומה השינוי שצריך לעשות.  נראה לי שמתחבאים כאן יותר
מ"עניין" אחד

2013/8/12 lotan1 notifications@github.com

##

http://yeda.us/daonb

[2013-08-14 11:29] #139 closed, assigned to nobody

[2013-08-14 11:30] #135 closed, assigned to daonb

[2013-08-14 11:31] lotan1 commented on #140
לא רוצה לבאס אבל אני עדיין מקבל הודעות שגיאה כאלו
על כל שינוי של בחצי העמוד של פרופייל בתוך שינוי יוזר
 על שני שינויים שבדקתי על שני יוזרים שונים ועל ידי שני יוזרים שונים שבדקתי כרגע
בהצלחה..

[2013-08-14 11:35] lotan1 commented on #142
כן, כל משתמש שמקבל הרשאת רכז ישוב, כלומר הרשאה למחיקת שאלות,
יכול למחוק שאלות גם כשהוא קורא אותן באתר וגם בפאנל אדמין
לדעתי, ומתברר שאני חשדניסט יותר מהמקובל, זה בעייתי גם מבחינת זדון, וגם בשוגג.

[2013-08-14 11:40] lotan1 commented on #143
אכן כנראה מדובר ביותר מעניין אחד שכולם קשורים לעריכת פרופיל לאחר התחברות
1.  כשם שמשתמש לא יכול לשנות לעצמו את הישוב בדיעבד, אין סיבה שישנה את מהותו הפוליטית בדיעבד, כדאי לנעול
2. כרגע מועמד שנכנס לכתוב על עצמו שהוא גם יודע לנגן גיטרה יכול להימחק בטעות מלהיות מועמד, ברירת מחדל צריכה להיות שמורה על ההגדרת משתמש הקודמת (בהנחה שזה לא נעול מסעיף 2)
3. סוגיית תיקון שגיאות שעולה מתוך סעיף 1
4. זה באמת ד

[2013-08-14 12:42] daonb commented on #140
סגרתי בטעות.  בינתיים לא הצלחתי לתקן את הבעיה ועברתי לבעיות פשוטות יותר...

[2013-08-14 12:45] daonb commented on #143
מה שחשוב לזכור זה שהעניינים כאן קיימים כדי שכל מפתח יוכל לקחת עניין ולקדמו.
 גם אם ש שניים או שלושה עניינים קשורים, עדיף להפריד ולהגדיר כל עניין בנפרד
ובצורה ברורה, כדי שגם מפתח שלא מכיר את ההסטוריה ולא מכיר אותי או אותך יוכל
להבין מה צריך לעשות.

[2013-08-14 12:46] daonb commented on #142
אז מה שצריך לשנות זה שממשק הניהול של עורכים יוגבל כך שהם יוכלו לערוך רק
פרטי מידע הנוגעים לרשות שלהם. נכון?

2013/8/14 lotan1 notifications@github.com

##

http://yeda.us/daonb

[2013-08-14 13:13] lotan1 commented on #142
כן, אם זה ניתן זה יפתור את הבעיה.
גם בממשק הניהול וגם מתוך האתר הרגיל.
כך לצרף "רכז יישוב" לא ייחיב לעשות לו בדיקת אופי..

[2013-08-14 13:16] #143 closed, assigned to nobody

[2013-08-14 13:20] #129 closed, assigned to nobody

[2013-08-14 13:22] lotan1 opened #145 "לנעול את הגדרת המשתמש כמועמד או בוחר לאחר התחברותו הראשונית"
כמו את בחירת היישוב, זה לא דברים שמשתנים בדיעבד, כך שמוטב שלא ישתנו בטעות.

[2013-08-14 13:23] #122 closed, assigned to daonb

[2013-08-14 13:25] lotan1 commented on #56
תמיכה בפורמט מעוצב גם לפרופיל המועמד!

[2013-08-14 13:36] lotan1 opened #146 "make the candidate profile suitable"
1. candidate profile should include definitions of { city council / mayor } candidate.
2. maybe include more informative cells as {personal profile / party profile / contact details / etc}.
3. make all the candidate information requirements of first login.

[2013-08-14 13:38] #127 closed, assigned to nobody

[2013-08-14 13:43] daonb commented on #126
So... we need to change this.  I agree with lotan that the best approach will be to let only party leaders answer questions, as it's almost always their opinion that matters.  The party is important only to let the user know what he should vote for if he likes the candidates answers.
We need to redesign the registration interface with a focus on candidates @gl1000007 can you do it?

[2013-08-14 13:43] #116 closed, assigned to daonb

[2013-08-14 13:44] #69 closed, assigned to daonb

[2013-08-14 14:24] daonb opened #147 "revive the daily/weekly update"
So that users will recieve email updates with new questions and answers

[2013-08-14 14:29] daonb opened #148 "Add a link to user registration with no facebook/twitter"
Should point to /accounts/register/

[2013-08-15 07:35] daonb opened #149 "Support hebrew usernames in admin"
When editing a user whose username is in hebrew the admin validation fails. Seems like the right way to solve this is be refactoring user.Profile to extend AbstarctUser and change the username field to support hebrew. Problem is, anywhere in the code we use user.profile we have to refactor :-(

[specifying a custom user model](https://docs.djangoproject.com/en/dev/topics/auth/customizing/#specifyi

[2013-08-15 14:06] lotan1 commented on #144
1. the avatar size should be permanent relatively.
2. a defaulet avatar for any user should be set, to keep the questions view design constant for all questions.
3. the avatar of candidates answers shuld be at least the same size of the questioners.

[2013-08-15 14:23] lotan1 commented on #141
אחלה!

[2013-08-15 14:23] #141 closed, assigned to nobody

[2013-08-15 14:26] lotan1 commented on #140
יש שם עוד כמה דברים שתוקנו!

[2013-08-15 14:26] #140 closed, assigned to nobody

[2013-08-15 15:01] lotan1 commented on #131
should we limit tags to 20 charcters so it wont mess the tag list?

[2013-08-15 15:17] daonb commented on #131
You can add a new issue for it, but close this one...
On Aug 15, 2013 6:01 PM, "lotan1" notifications@github.com wrote:

[2013-08-15 15:20] lotan1 commented on #111
I suggest somthing that will look more localized
maybe after choosing municipality it should appear as big title
  "עיר לדוגמא"
    "שאלות למועמדים"
then again maybe its not top bar..

[2013-08-15 15:32] lotan1 opened #150 "charcters limit on tags"
should we limit tags to 20 charcters so it wont mess the tag list?

[2013-08-15 20:09] lotan1 opened #151 "loosing locality after clicking /about"
משתמש תושב עיר לדוגמא לוחץ על טאב "אודות" לאחר מכן על טאב "שאלות"
יהיה עליו לבחור כעת את עיר לדוגמא מחדש מהרשימה למעלה.

[2013-08-18 22:10] Suberri opened #152 "Default user location (מקום)"
On entering Open-Shot the location (מקום) should be set to the user location.

M

[2013-08-19 07:08] daonb commented on #152
the location should be the place where the user is voting. There's a chance
the user will be joining the site from his work place or any other place.

[2013-08-19 11:54] Suberri commented on #152
Agree!
My comment is in regard to the setup of the field for a registered user
that have already configured his voting location. It seems to me that when
a registered user logs in or enters the site the system should set the
location field to the user configured location.  At this point the system
leaves the field blank or an arbitrary location is been displayed

M

On Mon, Aug 19, 2013 at 10:08 A

[2013-08-19 14:01] gl1000007 commented on #152
Linking to a former discussion:
https://github.com/hasadna/open-shot/issues/136

In addition, what if a user explicitly wants to see nation-wide data, for instance by clicking on a link to the [main page](http://oshot.hasadna.org.il/)? From my perspective, this kind of setting arbitrarily decides for the user that all they need to see is _their_ locality.

I thought of a solution would help the us

[2013-08-19 14:05] gl1000007 commented on #151
+1

[2013-08-19 14:15] gl1000007 commented on #150
+1
Just saw [12345678901234567890](http://oshot.hasadna.org.il/qna/tags/12345678901234567890/) :)
This is the largest line length before it breaks.
Of course there are some exceptions, like שששששששששששששששששששש, but they are usually Spam and we'll be able to delete them manually.

[2013-08-19 14:33] gl1000007 commented on #131
https://github.com/hasadna/open-shot/issues/150
pls close.

[2013-08-19 14:34] Suberri commented on #152
The system does allow a user to see all the cataloged Qs&As (locally and
nation wide).
However, a user may only enter a Q when the location is set to his own
voting location.

M

On Mon, Aug 19, 2013 at 5:01 PM, Gilad L notifications@github.com wrote:

##

Cheers
Moshe

[2013-08-19 14:49] gl1000007 commented on #144
Let's see if I got you right. What you mean is:
There should be a fixed size for avatars on the right side of the page, both of citizens and candidates.

Technically, we should make them square (42x42 px) by using the [Fit-in](http://www.connsphotolab.com/2009/01/26/fill-in-and-fit-in-explained/) method.

I'm not sure what "permanent relatively" means.

[2013-08-19 15:29] gl1000007 commented on #152
@Suberri Yes but what you suggest is taking the user to their locality automatically, even if they not want to.
Moreover, this may make the nation-wide view hard to reach, because clicking on the workshop's logo would take the user to their locality instead of the **true** main page, which is nation wide.
In that case, users will have to enter the places list and then choose the line of dashes (or

[2013-08-19 16:04] daonb opened #153 "In question detail page display the list of question supporters"
Today, there's no way of knowing who are the users the support a question.

[2013-08-19 16:52] gl1000007 commented on #126
Also, https://github.com/hasadna/open-shot/issues/146 https://github.com/hasadna/open-shot/issues/56

[2013-08-19 16:52] Suberri commented on #152
mmm.. interesting.
Could we agree that in most cases a user would mostly interested in his own
voting locality?
So maybe the locality default should be user-locality or the last locality
that the user visited.
My issue was also to ask a Q, I needed to first go to my locality which is
not so easy (to find Modiin in the big drop down list) and then enter my Q.
Another option is to have a button that

[2013-08-19 16:55] gl1000007 commented on #145
וגם: אם משתמש מסמן את עצמו כמועמד, זה צריך לעבור אישור של עורך מקומי או אדמין כלשהו אחר. עד אז, המשתמש החדש לא יכול לכתוב שאלות או תשובות.

[2013-08-19 17:28] gl1000007 commented on #150
note that something needs to be done with existing long tags, such as "12345678901234567890" above.
make sure that the code refers to those tags (options: delete tag, get first 20 characters, etc.), or they would have to be deleted manually.

[2013-08-19 18:05] gl1000007 commented on #153
![support question](https://f.cloud.github.com/assets/5072931/1207423/5f473b84-25b7-11e3-9362-868535197d46.png)

[2013-08-19 20:37] lotan1 commented on #144
אכן כך
קבוע יחסית היה בהקשר של תלות בזום שהמשמתמש נמצא בו
אבל בעיקר
 אם לא תסכימו להצעתי שהתמונת מועמדים משיבים צריכה להיות באותו הגודל של תמונת השואלים,
אז קבוע בשני גדלים שונים כפי שזה קיים בדרך כלל עכשיו.

קביעת התמונת ברירת מחדל גם לתמונות חסרות זה סבבה?

[2013-08-19 20:53] lotan1 commented on #150
אני אנקה ידנית הכל בהמשך השבוע
וכמובן, אנסה להכניס הכל מחדש..

2013/8/19 Gilad L notifications@github.com

[2013-08-20 08:00] lotan1 opened #155 "users cant edit their own questions"
מקבל: מצטערת, השאלה כבר קיימת
ניתן לשנות את השאלה רק אם משנים את כותרתה

[2013-08-20 08:03] lotan1 opened #156 "new tags problem"
כשמכניסים שאלה חדשה, אם מקלידים רצף אחד עם רווחים כמו

"תג עם רווח"
מקבלים 3 תגיות נפרדות!

"תג עם רווח, עוד תג עם רווח"
עובד יופי!

[2013-08-20 08:48] #61 closed, assigned to nobody

[2013-08-20 08:50] lotan1 commented on #62
חשוב! בהצלחה עם זה

[2013-08-20 08:50] #63 closed, assigned to nobody

[2013-08-20 08:51] lotan1 commented on #75
ארצית?
בכל מקרה לא מעניין לדעתי

[2013-08-20 08:53] lotan1 commented on #83
עדיין פתוח, נכון?

[2013-08-20 08:57] #131 closed, assigned to daonb

[2013-08-20 09:19] lotan1 commented on #145
וגם לקבל הפנייה להשלמת פרטי מועמד על פי התבנית החדשה
בכל מקרה האפשרות תצטרך להינעל לאחר בחירה כמו בחירת ישוב

[2013-08-20 09:27] lotan1 commented on #151
עדיין פתוח

[2013-08-20 09:38] daonb commented on #148
It's probably a design issue now - On the login page, I added a link below twitter to allow the user to register by himself. It's small on purpose as we want ppl to signin using facebook/twitter, but maybe it's too small...

[2013-08-20 10:19] gl1000007 opened #157 "Save history for answer edits"
Further to https://github.com/hasadna/open-shot/issues/105

If a candidate writes an answer and then changes it, citizens should be able to see all of the previous versions, including timestamps for every version, and of course a clear indication of version number.

Example of use: What would you think if you see an answer which its version is 10 ? maybe higher? This is probably a candidate with n

[2013-08-20 10:21] gl1000007 opened #158 "Allow comments in a question page"
This will allow users to discuss with each other about answers.
There will be one central thread under the answer list.

This issue relates to [the ability of candidates to edit an answer](https://github.com/hasadna/open-shot/issues/157). A candidate may change their answer after getting some unfavorable comments, and if we track the changes, citizens can see this action and act accordingly (more

[2013-08-20 10:39] lotan1 commented on #148
good!
now need to add title of "התחברות ראשונית" same as "היכנסו"
and rephrase "הירשמו עצמונית" to somthing like "אימות הרשמה באמצעות כתובת
מייל"

2013/8/20 benny daon notifications@github.com

[2013-08-20 10:49] lotan1 commented on #158
intresting but maybe will make things more  complicated.
any way you suggest comments on questions or on answers or both?

2013/8/20 Gilad L notifications@github.com

[2013-08-20 10:56] lotan1 commented on #157
personally i dont care if candidate changes his answer maybe just taking it
seriusly, but why not.
anyway we need to rememberto lock all the answers permanently on 22/10

2013/8/20 Gilad L notifications@github.com

[2013-08-20 11:02] gl1000007 commented on #158
I suggest one comment list for every question.
The question page will display all the answers, and then the comment list.
Think about all the questions in a page as one large article - the comments refer to that entire article.
The users themselves can write in their comment which answer(s) they refer to.

Why complicated?

[2013-08-20 11:18] daonb commented on #151
There's a question of UX here.  The about is a global page and maybe the
right solution is to move it to the footer of the page.  clicking it will
move the user back to the global scope, loosing the locality like is
happening today, but it will make sense.

[2013-08-20 12:03] lotan1 commented on #151
זה רעיון טוב,
אולי אפשר דווקא להוריד את זה רמה ולייצר עמוד אודות מעט דינמי שכותב גם לינק
ליצירת קשר עם העורך המקומי בעיר שלך.
בכל אופן, לדעתי משתמש לא צריך "לאבד" את העיר שלו אלא אם הוא ממש רוצה,
בהנחה שאנחנו פונים לקהל הרחב, לרובו ממש לא אכפת מה קורה בערים אחרות.

2013/8/20 benny daon notifications@github.com

[2013-08-20 12:28] gl1000007 opened #159 "Add a map display with infographics"
Further to https://github.com/hasadna/open-shot/issues/106

Summarized from 106:
We can use a map based display to display the question and for the user to select their place,on top of http://opentaba.info/.
We'll use it in addition to the current localities list. Also, there is a place to consider adding some infographics, such as number of questions or candidates from each locality.

Below is a

[2013-08-20 13:42] lotan1 commented on #159
Im not shure about the mapping inside municipality,
but choosing locality from map can be cool
not an issue for the next milestone i think
anyway take a look on those maps
http://www.moin.gov.il/SiteCollectionImages/REZEF.jpg
http://www.govmap.gov.il?c=CHS8edbz9ADnx3C4Yqydlg%3d%3d%7CIfueuBQkf3hfQkh5ERP5Rw%3d%3d&z=1&b=0&lay=yeshuvim%7CLOCALITY_210410%7CREGION%7CCOUNTY
http://www.govmap.gov.il?c=B5G

[2013-08-20 15:11] daonb commented on #153
+1, plus a popup with the user's name when mouse is over an avatar

[2013-08-20 15:58] lotan1 commented on #158
ok. like!

2013/8/20 Gilad L notifications@github.com

[2013-08-20 17:23] gl1000007 commented on #159
Thanks for the links.
Clicking on the municipal area is better than clicking on its name. I'll use that.

Also, a locality-specific page in the making, similar to this:
![electratower](https://f.cloud.github.com/assets/5072931/995177/679595fc-09b9-11e3-8de4-abf2ca6ca2fe.PNG)
Clicking on the municipal area will pop the bubble out, and there will be many locality-specific links. When it's ready I'll

[2013-08-20 17:28] gl1000007 commented on #153
The interaction should be identical to existing avatar images.
If possible, use the existing 42x42 images and their code for this.

[2013-08-20 17:32] gl1000007 commented on #159
@daonb any suggestions?

[2013-08-20 21:43] lotan1 opened #160 "כשמשתמש לא מחובר מנסה להעלות שאלה אפשר להעביר אותו למסך התחברות"
(במקום ההודעת שורה שהוא מקבל היום.)
כמו שמשתמש לא מחובר מקבל כשהוא מנסה לדגל שאלה
(מועבר למסך התחברות הרגיל)

[2013-08-20 21:58] lotan1 opened #161 "אפשר ליצור יותר מחשבון אחד על כתובת אי מייל אחת"
זה יוצר אחר כך בעיות גם עם האימות במייל וגם עם האיפוס סיסמא

[2013-08-20 22:04] lotan1 opened #162 "כדאי שתהליך איפוס הסיסמא יציג גם את שם המשתמש"
כי אין דרך לאפס או להזכר בו
אז כדאי שזה יופיע באתר או במייל

[2013-08-20 22:29] lotan1 commented on #144
התמונות משתנות באופן הכי בעייתי באקספלורר

[2013-08-20 22:38] lotan1 commented on #152
just a bit offtopic
On entering a day after first login user location and landing page should remain his user location

[2013-08-20 22:44] lotan1 opened #163 "user can somtimes support questions out of his locality"
couldnt figure out when, cause somtimes i got "מצטערת, צריך להתחבר" line

[2013-08-20 22:57] lotan1 opened #164 "create the local admin panel inside the site"
המנהלים המקומיים (להלן הגננים) צריכים להיות עמוד טווח מרכזי בחשמביר בתפעול והפצה
הגננים (200 בשאיפה) ברובם אינם אנשי תוכנה וחוששים מעמוד הניהול
הגננים לא עוברים אימות זהות ויכולות רציני במיוחד כך שצריך למנוע מהם את האפשרות לפגוע בתוכן של ערים לא להם.

כדאי לייצר להם עמוד גננים עירוני ובו:
הגנן צריך להיות מסוגל לשלוט בעריכת ומחיקת: תגיות, שאלות, משתמשים.
הגנן צריך להיות מסוגל להזמין מועמדים ולפתוח

[2013-08-21 03:52] daonb commented on #144
ברור. ובלי שיש לי גישה לאקספלורר אני יכול להגיד לך קזה משתנה בין גרסאות של
אקספלורר. אין לנו זמן וחשק לקקה הזה, תן לאקספלורר למות לבד בפינה ולמשתמשיו
לסבול.

[2013-08-21 06:27] #151 closed, assigned to nobody

[2013-08-21 06:38] lotan1 commented on #155
אפשרות העריכה עובדת טוב
אבל טעיתי כשסגרתי את זה,
עדיין חייבים לשנות את כותרת השאלה כדי שהיא תוכל להישמר,
מה שיאתגר מדי את המשתמש הממוצע

[2013-08-21 10:48] daonb commented on #151
why is the issue closed?

[2013-08-21 10:53] daonb commented on #155
It's better to close an issue and open a more accurate new one

[2013-08-21 11:02] lotan1 commented on #151
because its fixed
http://localshot.org.il/p/about/?entity=224
can open new issue with the improvement suggestion

2013/8/21 benny daon notifications@github.com

[2013-08-21 11:13] #155 closed, assigned to nobody

[2013-08-21 12:46] lotan1 opened #166 "when editing their own questions, users must change questions title"
אגב, זה שמשתמש לא יכול לערוך שאלה אחרי התשובה הראשונה זה מהתגליות המשמחות שלי בשיטוטיי באתר

[2013-08-21 12:57] Suberri opened #167 "Where a dev question should be posted?"

[2013-08-21 12:57] #167 closed, assigned to nobody

[2013-08-21 13:03] Suberri opened #168 "Dev questions/Issues"
I have a dev question and I am not sure where to post it.
How about adding dev tag to the issue list or creating a Dev page

[2013-08-21 13:58] Suberri opened #169 "Regarding web page space efficiency"
Looking at the Q&A page it caught my eyes that on each of the questions about 95% of the space is occupied repeatedly with an oversized user pic. Thus, on a single page only two questions can be seen.
I am not sure what the user pic adds to the discussion, but if needs to be there a  smaller icon should be considered.

[2013-08-21 15:19] lotan1 commented on #169
Dosnt it gives it the space needed between questions?
#144

[2013-08-21 16:42] daonb commented on #62
I believe it's solved. What's missing?
![image](https://f.cloud.github.com/assets/36852/1002694/90cb22e4-0a80-11e3-93f7-6dff0a3e2ae4.png)

[2013-08-21 17:30] #85 closed, assigned to nobody

[2013-08-21 19:12] daonb commented on #145
@lotan1,
 הוספתי שתי שורות כדי לענות על הבקשה המקורית. עדיף להמנע מ"וגם", עניינים הם בחינם, תמיד עדיף לפתוח אחד חדש...

[2013-08-21 19:15] daonb opened #170 "Aֻdd candidate's profile second page"
When a user checks he's a candidate on his first pass at editing his profile, he should be displayed a second page with a form asking him to fill additional info, such as...

[2013-08-21 19:18] daonb commented on #146
added #170 to answer bullet 3. and now we got it all covered in smaller  tickers, so I'm labeling this invalid and closing.

[2013-08-21 19:18] #146 closed, assigned to nobody

[2013-08-21 19:21] daonb commented on #156
hmm... you should search before you add a new issue, in #121 we had a lengthy discussion. If you must re-open that ticket.

[2013-08-21 19:21] #156 closed, assigned to nobody

[2013-08-21 19:47] daonb commented on #168
use the group: localshot@googlegroups.com

On 21 August 2013 16:03, Suberri notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-21 19:50] daonb opened #171 "Soft delete a question"
So it disappears from the lists, but still has a live url

[2013-08-21 19:57] lotan1 commented on #170
such as
name
picture
letters of candidate or party
personal info (short)
party info (short)
additional info (long)
single youtube
facebook page/user
personal contact details for admins only

2013/8/21 benny daon notifications@github.com

[2013-08-21 20:20] lotan1 commented on #156
to much to search for me
ill open it

[2013-08-21 20:28] lotan1 commented on #121
Im not sure I understood it all but I reopen the issue because
its a problem that user add a question with the tag שיתוף ציבור or איכות הסביבה only, without comma
We will have new tags "ציבור" and "שיתוף".

[2013-08-21 20:39] lotan1 commented on #144
אני רואה שנשברת, או שזה הסתדר באקספלורר בלי שרצית, יופי! אני בטוח ש-9
משתמשי האקספלורר שכבר פועלים באתר יודו לך (אם רק היו לאנשים מהסוג הזה
הכישורים החברתיים לכך).
יש עדיין את העניין של להדביק תמונת ברירת מחדל לקישורים שבורים או חסרים, הנה:
![screenhunter_58 aug 21 23 34](https://f.cloud.github.com/assets/4595165/1004420/cd3e1800-0aa1-11e3-96d9-7c8a5c63fa23.jpg)

[2013-08-21 20:44] lotan1 opened #172 "sort candidates according to the number of their answers"
![screenhunter_58 aug 21 23 41](https://f.cloud.github.com/assets/4595165/1004448/7453c1da-0aa2-11e3-9edd-a24b45a41b45.jpg)

[2013-08-21 20:48] lotan1 opened #173 "some gibberish in the activation mail"
![screenhunter_58 aug 21 23 47](https://f.cloud.github.com/assets/4595165/1004473/ff34d23a-0aa2-11e3-9fa3-ffca02759e95.jpg)

[2013-08-21 22:28] nirwe opened #174 "העמודים שעיצבתי"
![main](https://f.cloud.github.com/assets/5282166/1005101/02d97cd4-0ab1-11e3-88e2-e09fb34323ad.png)
![qanda](https://f.cloud.github.com/assets/5282166/1005102/02dc3672-0ab1-11e3-9e8e-82525ce09dd8.png)
![nominees](https://f.cloud.github.com/assets/5282166/1005100/02dba09a-0ab1-11e3-96fc-6cb0555221cb.png)
![nominee](https://f.cloud.github.com/assets/5282166/1005103/02da8138-0ab1-11e3-82fe-df3fca4293

[2013-08-22 05:34] daonb commented on #172
It's now on random order which seems like the fair thing to do. no?

[2013-08-22 05:39] daonb commented on #142
בדקתי. ממשק הניהול לא נגיש לעורכים מקומיים

[2013-08-22 05:41] daonb commented on #84
you can see all questions today and search them. I guess the change will be a "re-ask" button on question not in your locality. Cool idea.

[2013-08-22 06:54] lotan1 commented on #172
we discuss it monday, we prefer the answering motivation that will grow
from the order by answers.
although yet need to create sort of separation between mayor candidates and
municipallity candidates.

2013/8/22 benny daon notifications@github.com

[2013-08-22 07:01] lotan1 commented on #142
לא צריך ממשק ניהול,
המחיקה יכולה להעשות בתוך האתר באמצעות הדגל האדום על שאלות בכל עיר ובעמוד
המועמדים של כל עיר

2013/8/22 benny daon notifications@github.com

[2013-08-22 07:06] lotan1 commented on #144
ועניין נוסף בהקשר, חיבור מחודש באמצעות פייסבוק מחזיר את התמונה לתמונה בפייסבוק, גם אם שונתה ידנית בעמוד הפרופיל

[2013-08-22 07:32] Suberri commented on #174
Nice work

On Thu, Aug 22, 2013 at 1:28 AM, nirwe notifications@github.com wrote:

##

Cheers
Moshe

[2013-08-22 07:48] Suberri commented on #168
Thanks

On Wed, Aug 21, 2013 at 10:47 PM, benny daon notifications@github.comwrote:

##

Cheers
Moshe

[2013-08-22 11:09] daonb commented on #144
זה לא שיחה חופשית כאן וההקשר פחות חשוב מהגדרה מדויקת של העניין וסגירה
כשהעניין נפתר.  אם בתהליך גילית עניין חדש, סגור את העניין הנוכחי ופתח חדש,
אחרת יהיה ברדק.

2013/8/22 lotan1 notifications@github.com

##

http://yeda.us/daonb

[2013-08-22 15:33] nirwe commented on #174
Thanks!

[2013-08-22 17:45] daonb opened #175 "When joining a question the counter should be updates"
today, you have to refresh the screen so see your upvote

[2013-08-22 18:54] daonb opened #176 "old facebook users need to refresh their action"
I've recently changed the parameters so that our app gets the user's permission to publish_action on their behalf. Older users posting to facebook fail silently :-(

[2013-08-22 19:03] daonb commented on #170
I think we should separate user, candidate and party forms IMO, the candidate form is just about links, allowing candidates to create a collection of all their online resources.
As for party, I stole the [code from the 'polyorg' app I coded for oknesset](https://github.com/hasadna/openshot/blob/dev/polyorg/models.py#L6) and if he's the first, I'll let him add the party

[2013-08-23 09:16] daonb opened #177 "Add a magnifying glass next to the search box"
That's what we're all expecting to see:
![image](https://f.cloud.github.com/assets/36852/1015221/9aa867e0-0bd4-11e3-9387-999fc006417d.png)

[2013-08-23 15:26] gl1000007 commented on #159
It seems like I don't manage to get to that.
Many more important issues.
At least take a look at the [sketches](https://drive.google.com/folderview?id=0B3yaQaorsX55ZUdKVmxZMmUxZEE)

[2013-08-23 16:16] lotan1 commented on #175
I noticed that you dont have to refresh if you are not the first supporter of the question, only from 0 to 1.

[2013-08-23 16:58] lotan1 commented on #170
I want to discuss it for the best comprehensive solution, maybe monday?

2013/8/22 benny daon notifications@github.com

[2013-08-24 16:43] Suberri opened #178 "Password Reset does not work"
Trying to reset my password; getting the following error msg:
חשבון המשתמש המשוייך לכתובת דוא"ל זו אינו יכול לאפס את הסיסמה

[2013-08-24 18:12] #133 closed, assigned to nobody

[2013-08-24 18:15] lotan1 commented on #62
pictures?

[2013-08-24 18:17] lotan1 opened #179 "new "הירשמו" page has no fb/tw login buttons"

[2013-08-24 18:18] lotan1 opened #180 "url not found on facebook / twitter login button"
http://localshot.org.il/login/facebook/
Not Found
The requested URL /login/facebook/ was not found on this server.

http://localshot.org.il/login/twitter/

[2013-08-24 18:22] lotan1 opened #181 "the sadna logo at header disappeared"

[2013-08-24 18:33] lotan1 opened #182 "users cant change their avater"
http://localshot.org.il/avatar/change/
Not Found
The requested URL /avatar/change/ was not found on this server.

[2013-08-24 18:36] lotan1 commented on #83
yet not working
not from the registration and from the login

[2013-08-24 18:39] #144 closed, assigned to daonb

[2013-08-24 18:43] lotan1 opened #183 "server eror on first save of candidate profile"
Server Error (500) when clicking שמירה if מועמד is checked

[2013-08-24 18:49] lotan1 opened #184 "limit candidates answers to 500 characters"
the status now is that the 500 below the answer is only recommendation
and its israel

[2013-08-24 18:51] #145 closed, assigned to daonb

[2013-08-24 18:52] #148 closed, assigned to daonb

[2013-08-24 18:54] lotan1 opened #185 "what is the purpose of the headline /הביתה ?"

[2013-08-24 18:55] lotan1 opened #186 "bad link on אודות"
http://localshot.org.il/p/about/?entity=33

[2013-08-24 18:56] lotan1 opened #187 "bad link on בחזרה לראש העמוד"
redirect to itself

[2013-08-24 18:58] lotan1 commented on #187
forget it im tired
sorry

[2013-08-24 18:58] #187 closed, assigned to nobody

[2013-08-24 19:00] lotan1 commented on #82
the search eror is back

Not Found
The requested URL /search/ was not found on this server.

http://localshot.org.il/search/?q=%D7%A9%D7%90%D7%9C%D7%94&place=%D7%90%D7%90-%D7%A2%D7%99%D7%A8-%D7%9C%D7%93%D7%95%D7%92%D7%9E%D7%90

[2013-08-24 19:13] lotan1 commented on #142
yet open
local moderator define by "is editor" on admin panel, without "סטטוס איש צוות"

[2013-08-24 19:39] daonb commented on #86
using the django-celery-email to update the index SHA: 2d2b41f8

[2013-08-24 19:39] #86 closed, assigned to nobody

[2013-08-24 20:27] daonb commented on #186
This was solved by a major refactor  4cf01c4dc8a00d2270d48f557c437c8520890cf4

[2013-08-24 20:36] daonb commented on #183
hmmm... I'm starting to feel things will be much easier if we won't support candidate in the next milestone, and move to the next milestone on the 3/9

[2013-08-24 23:05] daonb commented on #62
that's another issue.  I'm on it, but you should close this one and open a
new one.

On 24 August 2013 21:15, lotan1 notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-25 06:19] #62 closed, assigned to daonb

[2013-08-25 06:27] lotan1 opened #188 "facebook manual sharing should include pictures"
can be our logo or the avatar that his content shared

[2013-08-25 13:00] daonb commented on #186
We still need to edit some info per place, but it's not a bad link anymore, so it will be separate ticket

[2013-08-25 13:01] #186 closed, assigned to nobody

[2013-08-25 16:01] danielhers commented on #180
Both work fine for me.

[2013-08-25 16:20] danielhers commented on #175
I thought the person asking the question is always a supporter, so the counter can never be zero...

[2013-08-25 18:16] gl1000007 opened #190 "In "Enter" page, replace "או הרשמו עצמונית" with "או הירשמו באמצעות כתובת דוא"ל""

[2013-08-25 18:17] gl1000007 opened #191 "Display Facebook and Twitter login buttons also on "Register" page"
In "register" page, new users only see the option of registering using email, no mention for any social network.
Just copying them from the "Enter" page (without "הירשמו עצמנית") should be enough.

[2013-08-25 18:29] gl1000007 opened #192 "Half Hidden Error message"
Maybe not for next milestone, but it's here so we'll not forget it.
![sorry](https://f.cloud.github.com/assets/5072931/1022838/0eb3dc06-0db4-11e3-8081-a9e0b8b6242b.PNG)

[2013-08-25 18:29] gl1000007 commented on #175
Tested it now on several questions, working :)

[Another issue](https://github.com/hasadna/open-shot/issues/192), Not sure if it's urgent now

[2013-08-25 18:39] gl1000007 commented on #188
I have nothing against Obama, but I think a logo is more appropriate for this location. isn't it?
![obama](https://f.cloud.github.com/assets/5072931/1022841/fec97d90-0db4-11e3-8896-9d861711f36f.PNG)

Maybe a larger version of https://ok-qa-media.s3.amazonaws.com/img/logo.png
Can we ask this from the graphic designer?

P.S.
This should be included in the next milestone.

[2013-08-25 18:52] gl1000007 commented on #188
Further to @lotan1,
I suggest the image will be, in that order:
- If it's a specific candidate or citizen's page, display the person's avatar, else
- For a Locality, display its symbol, else
- Display a Logo.

If time constraints exist and the code above is too complex, just use the same logo for all the pages.

[2013-08-25 19:02] gl1000007 commented on #180
works fine for me too. pls close.

[2013-08-25 19:13] daonb commented on #180
I think the problem is that the register page doesn't have the links. I
suggest we close this as 'invalid' and create a new issue to merge the
login and register pages.

[2013-08-25 19:23] gl1000007 opened #193 "A better alternative for Gravatar"
Most of our users just don't have Gravatar, and we won't be able to convince the masses to register to Gravatar.

and now in a more detailed manner:
Display image from source:
- If user is registered via Facebook _and_ user image is not the default one, display Facebook profile pic, else
- If user is registered via Twitter _and_ user image is not the default one, display Twitter profile pic, else

[2013-08-25 20:05] gl1000007 commented on #182
1
If anyone gets to this, I suggest [this layout](https://docs.google.com/file/d/0B3yaQaorsX55MFZVTW9DQVNnYlU/edit?usp=sharing)

2
not sure if its relevant
https://github.com/hasadna/open-shot/issues/193

[2013-08-25 20:14] lotan1 commented on #192
#160

[2013-08-25 20:15] gl1000007 opened #194 "Add a link to the wiki in אודות"
http://wiki.hasadna.org.il/index.php?title=%D7%A9%D7%90%D7%9C%D7%95%D7%AA_%D7%95%D7%AA%D7%A9%D7%95%D7%91%D7%95%D7%AA
instead of separate links to the code and the document directory.

[2013-08-25 20:15] lotan1 commented on #191
#179

[2013-08-25 20:19] lotan1 commented on #175
maybe we should start the counter on 1, that will solve this issue

2013/8/25 Gilad L notifications@github.com

[2013-08-25 20:22] gl1000007 commented on #185
where is this הביתה ? can you attach a screenshot?

[2013-08-25 20:22] lotan1 commented on #188
sounds like perfect order,
and the snap looks great as well

2013/8/25 Gilad L notifications@github.com

[2013-08-25 20:27] lotan1 commented on #180
the problem isnt exist for the register page because it dosent include those buttons now,
and sloved on the login page

[2013-08-25 20:27] #180 closed, assigned to nobody

[2013-08-25 20:31] lotan1 commented on #193
the method looks good.
dont now how complicated is to do,
but the possibility of facebook avatar and manual define avater should be at this week milestone for my opinion.

[2013-08-25 20:34] lotan1 commented on #185
sloved by "כל הארץ",
knew I should wait for it @daonb ..

[2013-08-25 20:34] #185 closed, assigned to nobody

[2013-08-25 20:36] gl1000007 commented on #179
searched for "twitter", "facebook" and "social" before posting a new issue, still duplicate! ugh.
From now on, please use full names so issues can be more searchable.

Copied from 191 (Now Closed):
In "register" page, new users only see the option of registering using email, no mention for any social network.
Just copying them from the "Enter" page (without "הירשמו עצמנית") should be enough.

[2013-08-25 20:37] #191 closed, assigned to nobody

[2013-08-25 20:52] #136 closed, assigned to daonb

[2013-08-25 20:57] lotan1 commented on #136
its fun!

[2013-08-25 21:59] lotan1 commented on #114
the sharing options of כנסת פתוחה pages at the bottom is enough http://oknesset.org/committee/meeting/7694/

but check out this manual talkbacks facebook share http://tech.walla.co.il/?w=/4013/2627213

[2013-08-25 22:15] #82 closed, assigned to daonb

[2013-08-25 22:23] #166 closed, assigned to nobody

[2013-08-25 22:26] lotan1 commented on #84
"כל הארץ" link at the header is good enough, isnt it?

[2013-08-25 22:33] lotan1 commented on #125
is it working? couldnt find it

[2013-08-25 22:36] #150 closed, assigned to nobody

[2013-08-25 22:39] lotan1 commented on #184
works good on questions!

[2013-08-26 06:16] Suberri commented on #194
Fixed

[2013-08-26 07:55] danielhers commented on #175
I think it starts on 1. The problem was with the transition from 1 to 2, which my commit fixes.

[2013-08-26 08:12] daonb commented on #84
The link is there, but thete's no 'repost' button on questions outside
user's locality

[2013-08-26 08:18] #183 closed, assigned to nobody

[2013-08-26 11:18] Suberri commented on #190
Fixed and commited

[2013-08-26 16:12] danielhers commented on #171
I'm starting to work on this.

[2013-08-26 16:15] gl1000007 commented on #114
Yes! כנסת פתוחה is exactly what I mean.

[2013-08-26 18:35] #175 closed, assigned to nobody

[2013-08-26 19:22] lotan1 opened #197 "User profile editing always annouce אין לך הרשאות עריכה"
אין לך הרשאות עריכה. כדי לקבל הרשאת עריכה עליך לספק כתובת דואר אלקטרוני חוקית

[2013-08-26 19:32] Suberri commented on #197
Just a note - It seems that although the user gets the warning message that you mentioned the user is able to edit/save  the profile.

[2013-08-26 19:52] lotan1 opened #198 "unnecessary note on user registeration process"
written ראשית יש להזין את מקום המגורים
its mandatory anyway isnt it
cancel

[2013-08-26 20:37] lotan1 commented on #197
אכן
its just a note from somthing else that can be removed

[2013-08-26 21:03] Suberri commented on #197
Agree

[2013-08-27 00:28] gl1000007 opened #199 "New Locality Page Design"
**This issue is now closed, as it split to many small issues.
The team can use this issue as a to-do list: When all the referenced issues are closed, the page should be ready.**
Latest Version can be found [here](https://docs.google.com/document/d/1m-Ztw8dLNA9tYpD3Y3lsW3kcCm3RddnA9BS3G7ZORWA/edit?usp=sharing)

---

https://drive.google.com/folderview?id=0B3yaQaorsX55VWxfU04tOGZGUTg&usp=sharing
Mor

[2013-08-27 05:36] daonb commented on #107
@yaninelbi we're launching tonight! are you going to make it?

[2013-08-27 06:00] daonb commented on #182
It's still here. something's wrong with the S3 interface from our server.  When using S3 from my dev server it works, on the live server it fails. I'm on it.

[2013-08-27 06:37] Suberri opened #200 ""העמוד שלי" should be right justified"

[2013-08-27 07:13] lotan1 commented on #199
nice!

2013/8/27 Gilad L notifications@github.com

[2013-08-27 07:26] daonb commented on #199
I'm working on it.  My only comment is that instead of filtering the
candidates we should be split them into two columns: First those who are
running for mayor and those who running for city council. Have you though
of that?

[2013-08-27 07:42] gl1000007 commented on #199
Yes I have. There are candidates running for mayor, candidates running for city council, and candidates that running for _both_ - each one of them has 2 notes, one for themselves and one for their list.

P.S.
I messed with the note colors. Candidate note should be yellow, list note should be white.

[2013-08-27 08:43] gl1000007 commented on #199
I think this page is a duplicate to the "questions" and "answers" page, as it shows all of those pages' content, and can link to individual questions and candidates directly.

Maybe we can use this page **instead** of the current pages.
In this case, I suggest to:
- Make the top bar buttons (home, candidates, questions) lead to in-page bookmarks:
  - Home - Locality Info ("אא מעלה אבק")
  - Candid

[2013-08-27 09:45] gl1000007 commented on #199
New version is up, including many minor improvements, but more important - **comprehensive explanation**.
Take a look in [Google Drive](https://docs.google.com/document/d/1m-Ztw8dLNA9tYpD3Y3lsW3kcCm3RddnA9BS3G7ZORWA/edit?usp=sharing)

[2013-08-28 11:31] #182 closed, assigned to daonb

[2013-08-28 12:07] #172 closed, assigned to nobody

[2013-08-28 12:13] daonb commented on #199
I don't think the navbar with "Questions" and "Candidates" is required anymore and we should remove it.
Let's close this and open three new issues:
- remove the navbar
- Add the locality sumbol and location map
- Replace question pagination with scrolling

[2013-08-28 13:06] gl1000007 opened #202 "Locality Page - Remove The Navbar"
Further to https://github.com/hasadna/open-shot/issues/199

I think we can remove the second line of the header completely:
- "questions" and "candidates" are not needed anymore.
- "home" is a duplicate of the logo.
- "about" can remain in its place at the footer.
- language change buttons can be added as a future issue, if we actually have multi language content.
- "# days for election" string ca

[2013-08-28 13:26] gl1000007 opened #203 "Locality Page - Add a Map View"
Further to https://github.com/hasadna/open-shot/issues/199
I think we should first try to use [OpenTaba](https://github.com/niryariv/opentaba-server) API, and use Google Maps only as a 2nd option.
More info at [Google Drive](https://docs.google.com/document/d/1m-Ztw8dLNA9tYpD3Y3lsW3kcCm3RddnA9BS3G7ZORWA/edit?usp=sharing)

[2013-08-28 13:26] gl1000007 opened #204 "Locality Page - Add Locality Symbol"
Further to https://github.com/hasadna/open-shot/issues/199
More info at [Google Drive](https://docs.google.com/document/d/1m-Ztw8dLNA9tYpD3Y3lsW3kcCm3RddnA9BS3G7ZORWA/edit?usp=sharing)

[2013-08-28 13:36] gl1000007 opened #205 "Locality Page - Replace question pagination with scrolling"
Further to https://github.com/hasadna/open-shot/issues/199

Current state is that after 20 questions, users have to click on "forward" button, and on the new page they find themselves at the top of the page, which now has a massive header (Locality info, Candidates info), and lose orientation completely.

We'll make the question list an endless (infinite) scroll page, so when users reach the end o

[2013-08-28 13:39] gl1000007 commented on #199
Looking good  :)
But what about "שלומות" and the candidates section?
Candidates section has more details, like filtering, notes, list names and graphical cues.
and "שלומות" can't be seen at all.

what are the plans for these parts?
In case these parts are scheduled to a future due-date, I afraid we forget them and lose track of them.
Should this issue remain open, maybe open separate ones? somethi

[2013-08-28 14:51] daonb commented on #199
Better to close this one and open many new small issues. It helps
distrubute the work abd track whats been done. The smaller the issue the
better.

[2013-08-28 16:02] gl1000007 opened #206 "Support Question on Question List"
![support question on question list](https://f.cloud.github.com/assets/5072931/1043324/fe913040-0ffb-11e3-8201-b086f543bba5.png)

Related to https://github.com/hasadna/open-shot/issues/153

[2013-08-28 16:09] gl1000007 commented on #206
updated picture, now added buttons are not adding to the height of the question object.

[2013-08-28 16:14] #111 closed, assigned to nobody

[2013-08-28 16:16] gl1000007 commented on #75
יתאים למספר מקרים מצומצם מאוד.
בכל מקרה, אם משתמש כלשהו יבקש את זה, אפשר להריץ ידנית שאילתה ב-DB לא?
נניח על בסיס סה"כ פרסומי שאלה ותמיכות בשאלה
לדעתי אפשר לסגור

[2013-08-28 16:54] lotan1 opened #207 "last questions are not sorted by creation date"
![screenhunter_58 aug 28 19 53](https://f.cloud.github.com/assets/4595165/1043647/849e7e94-1002-11e3-994e-292b841fefe8.jpg)

[2013-08-28 16:59] lotan1 commented on #202
to my opinion municipality home shouldnt hold all the questions and the candidates, just those we want,
so you still might use question full list and candidates list

[2013-08-28 17:03] daonb commented on #202
"just those we want" sounds very bad. Either we display all the content or
none of it. I prefer to have a simple layout and just one way to view
content.
 On Aug 28, 2013 7:59 PM, "lotan1" notifications@github.com wrote:

[2013-08-28 17:10] lotan1 commented on #202
We may want to place in the local homepage those candidats who answered more questions or randomly.
As well as we can use the most popular 10 questions and the most last written 5 questions.
Thats insted of placing them all in the same page

[2013-08-28 18:17] lotan1 commented on #182
the avatars arent stable
cant explain
![Uploading ScreenHunter_58 Aug. 28 21.15.jpg . . .]()

[2013-08-28 18:34] gl1000007 opened #208 "Have you already voted? version 1"
Just a small nice idea that we can do on election day itself:

![have you already voted](https://f.cloud.github.com/assets/5072931/1044352/47cc503c-1010-11e3-8aa6-c87406ce6102.png)
![have you already voted 2](https://f.cloud.github.com/assets/5072931/1044353/49a77670-1010-11e3-821e-fd3b74ac33d5.png)

Percentage is calculated relative to the number of active users.
An active user is a user that hav

[2013-08-28 18:45] gl1000007 opened #209 "Locality Page - Candidates Section - (1/2) Candidate Widget"
Further to https://github.com/hasadna/open-shot/issues/199

![zadik](https://f.cloud.github.com/assets/5072931/1044435/a3902690-1011-11e3-9af4-15bc5e4660b4.PNG)

avatar dimensions:140x140
More info at [Google Drive](https://docs.google.com/document/d/1m-Ztw8dLNA9tYpD3Y3lsW3kcCm3RddnA9BS3G7ZORWA/edit?usp=sharing)

[2013-08-28 18:45] gl1000007 opened #210 "Locality Page - Candidates Section - (2/2) Candidate List and Filter"
![zadikim](https://f.cloud.github.com/assets/5072931/1044453/d76d9dee-1011-11e3-8f18-c1d21f7e98c2.PNG)

Further to https://github.com/hasadna/open-shot/issues/199
This issue should be realized only after https://github.com/hasadna/open-shot/issues/209 is done.

More info at [Google Drive](https://docs.google.com/document/d/1m-Ztw8dLNA9tYpD3Y3lsW3kcCm3RddnA9BS3G7ZORWA/edit?usp=sharing)

[2013-08-28 18:47] gl1000007 opened #211 "Locality Page - "שלומות" Bubble"
Further to https://github.com/hasadna/open-shot/issues/199

More info at [Google Drive](https://docs.google.com/document/d/1m-Ztw8dLNA9tYpD3Y3lsW3kcCm3RddnA9BS3G7ZORWA/edit?usp=sharing)

[2013-08-28 19:07] gl1000007 opened #212 "Locality Page - Locality Statistics"
![localitystatistics](https://f.cloud.github.com/assets/5072931/1044504/c5152530-1012-11e3-97c8-d79409bf609b.PNG)

Further to https://github.com/hasadna/open-shot/issues/199

Take @daonb's excellent work ([example](http://localshot.org.il/97/qna/)) and append to it the data which presented in this picture.
Comprehensive explanation about data sources and calculating method for response percentage,

[2013-08-28 19:12] gl1000007 commented on #199
OK, I think I'm done here.
The team can use this issue as a to-do list: When all the referenced issues are closed, the page should be ready.
Now closing.

[2013-08-28 19:12] #199 closed, assigned to daonb

[2013-08-28 20:26] lotan1 commented on #182
ok, looks better now

[2013-08-28 20:46] lotan1 opened #213 "Fix the candidate avatars at the answerd questions pages"
explaind by a pic

![screenhunter_58 aug 28 23 44](https://f.cloud.github.com/assets/4595165/1045306/dbbc672a-1022-11e3-9094-fe48b8b80ee7.jpg)

[2013-08-28 20:54] lotan1 commented on #207
הבנתי!
זה מסודר לפי הפעילות האחרונה, כולל תשובות ותמיכות בשאלה
לדעתי צריך להשתנות לתאריך יצירת השאלה כל עוד הכותר היא שאלות אחרונות ולא פעילות אחרונה

[2013-08-28 21:15] daonb commented on #182
There was a missing jpeg library in the server which crashed the handling of jpeg avatars. That's because jpeg license is restrictive. Always use PNG when you can, because jpeg's screwed up license is crashing our servers...

[2013-08-28 21:41] lotan1 commented on #182
Nice to know
But Im afraid it will be difficult to eplain it to the world out there
Its works good now!

[2013-08-28 21:52] lotan1 opened #214 "the name tag of the questioners looks bit unnecessary beside the avatars"
any way most of the users and candidates dosnt know the questioners,
and if they do they will recognize their pictures.
Dont know, somthing about the design of the questions view dosnt look good.
Take a look here:
![screenhunter_58 aug 29 00 48](https://f.cloud.github.com/assets/4595165/1045832/109d1774-102c-11e3-9b09-7ea3e7124b29.jpg)

[2013-08-29 01:01] daonb commented on #202
If we want to change we always can. for now, there's no point in keeping
the navbar

On 28 August 2013 20:10, lotan1 notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-08-29 09:22] lotan1 opened #215 "Rearrange tags list"
Tags sorted now alphabetic,
shuld be by nummbers (of tag uses that appears already).
or somthing more sophisticated as cloud by size etc

[2013-08-29 10:00] gl1000007 commented on #215
Tag sorting and font sizing by uses are good ideas :)
Please open 2 separate issues for these, link them to this issue, and then close this one (like I did in https://github.com/hasadna/open-shot/issues/199).

(Damn you mobile Safari! Now I have to write this comment all over again!)

[2013-08-29 10:03] lotan1 commented on #215
forget about the size and cluod
lets go with sorting

2013/8/29 Gilad L notifications@github.com

[2013-08-29 10:36] gl1000007 commented on #215
Why forget?
Maybe it isn't in top priority right now, but we can get to it later.
Just open an issue(s) and it would wait for us, not interfearing in any way.

Sent from my iPhone 5S

ב-29 באוג 2013, בשעה 13:03, lotan1 notifications@github.com כתב/ה:

[2013-08-29 13:42] danielhers opened #216 "New municipality welcome message "about" link is broken"
For example, in http://localshot.org.il/268/qna/ the "about" link points to http://localshot.org.il/about where it should be http://localshot.org.il/p/about/

[2013-08-29 16:22] gl1000007 opened #217 "Firefox has blocked content that isn't secure"
![contentnotsecure](https://f.cloud.github.com/assets/5072931/1051210/bc744258-10c6-11e3-945e-8e06490c32cb.png)

Firefox 23.0.1

[2013-08-29 17:31] gl1000007 commented on #152
First of all,
@Suberri , there is a search box in the locality list, especially for the case you describe. Try searching for Modiin after typing "מו".

Second,
In most sites, Clicking the logo leads to the main page of the site, which in our case is the nation-wide view, or "אא מעלה אבק" in the beta. No one can argue otherwise. Check **ANY** large site you can think of. **We just can't break that

[2013-08-30 04:24] gl1000007 commented on #199
someone please add the small issues to a milestone

[2013-08-30 07:00] Suberri commented on #152
GL,

Thank you for your detailed response.
Let me see if I can clearly communicate my point:

As a user of the site I would appreciate the ability to get to my locality,
from anywhere on the site, with a single click.

Cheers
Moshe

On Thu, Aug 29, 2013 at 8:31 PM, Gilad L notifications@github.com wrote:

##

Cheers
Moshe

[2013-08-30 07:09] Suberri opened #218 "Clicking on "כל הארץ" sends me to my locality"

[2013-08-30 08:22] lotan1 commented on #217
I Dont know anything about it, but I have this plugin at firefox
www.webutation.net says we are at 70/100

2013/8/29 Gilad L notifications@github.com

[2013-08-30 08:37] gl1000007 commented on #152
**ACTION ITEMS HERE**

@Suberri my last comment should address exactly this need, while trying to balance it with the need of other users to gain access to the main page.
On second thought, that layout is still problematic, as it contains duplication of the locality controls (2 lists). So, from my perspective, you _will_ have to suffer 2 clicks instead of 1, but the layout will be _waaaaay_ more s

[2013-08-30 08:54] Suberri commented on #152
Gilad L

Thanks - this is much better then searching for my locality.

Another option if I may - include "My Locality" in the user drop down menu
(my page, edit my profile, logout)

Cheers
Moshe

On Fri, Aug 30, 2013 at 11:37 AM, Gilad L notifications@github.com wrote:

##

Cheers
Moshe

[2013-08-30 09:29] gl1000007 commented on #152
Possible, but not replacing the solution above.
You may open an issue for it.

[2013-08-30 10:21] gl1000007 commented on #218
duplicate: #152

[2013-08-30 10:21] gl1000007 commented on #152
Changed my mind. This is technically possible, but still a duplicate.
More important reason, many users may completely miss the ability to view localities other than theirs, which is an important feature of the site, promoting nation-wide discussion about election issues.
(this mind-change is caused by the separate issues working method, which makes it difficult for systemic thinking)

[2013-08-30 16:13] Suberri commented on #152
GL,

"many users may completely miss the ability to view localities other than
theirs...promoting nation-wide discussion about election issues"
I agree.
Please note that if the user would like to come back his locality, he must
be wondering  in other localities or  nation-wide .

Another option to one click locality is to change the button "העלו
שאלה"  when the user is wondering outside of his loc

[2013-08-30 17:30] gl1000007 commented on #152
**No, he's not,** because his locality is placed at the _shiny and glorious_ beginning of the localities menu.
The reason behind all of this is keeping locality related controls in one place, even with the heavy price (seriously!) of one more click.
ANY, I repeat - **ANY** option of selecting a locality apart from the localities menu (excluding links inside the content area of the page), is wrong,

[2013-08-30 18:58] gl1000007 commented on #209
List characters can be added to the name of the list.
exmaple (RTL):
רשימת הצדיקים (צדק)

[2013-08-30 19:00] gl1000007 commented on #126
A stupid question - If we don't let candidates answer questions, then what do they do in the site?
From @daonb 's last comment, one can conclude that its sufficient for party members to use the normal user type (citizen), and for users to know what to vote for, we'll add: 1. characters of the list at some strategic locations (for example in the [candidate widget](https://github.com/hasadna/open-sh

[2013-08-31 08:37] lotan1 commented on #152
סחטיין על ההעמקה!
אשמח אם מישהו מכם יוכל להציג את החלופות הקיימות כרגע בדיון לעניין, אולי
בגוגל גרופ שמכותבים בו עוד כמה משתמשים.
שבת שלום!

2013/8/30 Gilad L notifications@github.com

[2013-08-31 08:49] lotan1 commented on #126
When I tried last time to answer questions at מעלה אבק I succed,
But its true we dont support candidates now,
we should by ראש השנה
Were are we standing now with it?

I suggest, lets develop those issues
-design for candidates page, by same basic tamplate for municipality and
mayor
-candidates register form, as a second page of registering, by same
tamplate as well
-create the procedure for locala

[2013-08-31 08:54] lotan1 commented on #199
I'll try

2013/8/30 Gilad L notifications@github.com

[2013-08-31 09:09] gl1000007 commented on #152
זה בדיוק הדבר ההפוך ממה שצריך לקרות עם הדיון הזה. זה נושא ממש קטן (יחסית לתמונה הכללית) ואנחנו סתם מנפחים אותו.
כבר נכתב מספיק, פה: https://github.com/hasadna/open-shot/issues/152
בוא נסמוך על חברי הצוות שמבינים אנגלית, ושיקראו ישירות משם. זה מספיק מפורט, אולי אפילו יותר מדי.
זהו, אמרתי וציירתי את כל מה שאני חושב על הנושא הזה, ומבחינתי הדבר הבא שצריך לקרות זה שמישהו יממש את זה. לא שום דבר אחר.
קדי

[2013-08-31 09:43] lotan1 commented on #211
else then this new cool feature?

![screenhunter_58 aug 31 12 43](https://f.cloud.github.com/assets/4595165/1062070/cfb0828a-1221-11e3-8622-d55e5380ed23.jpg)

[2013-08-31 09:53] lotan1 commented on #204
the symbols by municipality nummber are here:
https://drive.google.com/?tab=mo&authuser=0#folders/0BybPNoUcfXcMekNaODljLVlXelE

[2013-08-31 10:41] lotan1 commented on #200
can you explain?

[2013-08-31 10:50] #194 closed, assigned to nobody

[2013-08-31 10:51] #193 closed, assigned to nobody

[2013-08-31 10:52] #192 closed, assigned to nobody

[2013-08-31 10:53] #179 closed, assigned to nobody

[2013-08-31 10:54] #181 closed, assigned to nobody

[2013-08-31 10:59] #173 closed, assigned to nobody

[2013-08-31 11:05] gl1000007 commented on #200
It doesn't matter. I'm working on a completely new layout, which be right justified.

[2013-08-31 11:09] #168 closed, assigned to nobody

[2013-08-31 11:13] gl1000007 commented on #193
What change has been done?

[2013-08-31 11:17] lotan1 opened #220 "server eror during manual registeration process"
on successful login you'll get Server Error (500)
![screenhunter_58 aug 31 14 13](https://f.cloud.github.com/assets/4595165/1062182/dc6a887e-122e-11e3-9999-72ae6d09b69a.jpg)

[2013-08-31 11:24] gl1000007 commented on #202
No, its not. Search bar is still at the second line, interfearing the content area of the page.
Check my wireframe at #199 .
@lotan1 please reopen.

[2013-08-31 11:24] #118 closed, assigned to nobody

[2013-08-31 11:30] #125 closed, assigned to daonb

[2013-08-31 11:30] gl1000007 commented on #211
This cool new feature is based on my design. Haven't you seen the wireframe???
I'm preparing a pic with explaination about what still needs to be done here (let's call it a second iteration). Please don't close.

[2013-08-31 11:34] lotan1 commented on #193
uploading an avatar or using the social network login avatar

[2013-08-31 15:53] daonb commented on #218
I think it's a feature...

[2013-08-31 16:09] daonb commented on #216
Just tested, seems like the problem is with the 'About' link on the welcome messages, which can be changed through the admin panel. Which reminds me, lotan give daniel superuser access so next time he can fix it himslef and save us two days!

[2013-08-31 16:26] lotan1 commented on #216
done

2013/8/31 benny daon notifications@github.com

[2013-08-31 16:57] gl1000007 commented on #218
@daonb I hope you're joking. Please read #152. All of it.

[2013-08-31 18:17] daonb commented on #126
I think we'll trust candidates for the start. By making the candidates wait
we add unnecessary red tape. the simplest way is to approve candidates
automaticlly and trust the editor to quickly remove jokers.
As for the candidates page, I think I have everything I need from open
knesset. There's a `links` app the allows you to attach as many URL as you
like to any objects. In oknesset we use it to k

[2013-08-31 18:50] daonb commented on #220
Doesn't look like an error...

[2013-08-31 19:36] lotan1 commented on #220
the screenshot?
ill take the next screen
here:
![screenhunter_58 aug 31 22 35](https://f.cloud.github.com/assets/4595165/1062901/9b81f1d0-1274-11e3-8432-585da0b2a0e2.jpg)

[2013-08-31 20:31] gl1000007 commented on #211
OK, "cool-feature" upgrade is ready.
https://docs.google.com/document/d/1m-Ztw8dLNA9tYpD3Y3lsW3kcCm3RddnA9BS3G7ZORWA/edit#bookmark=id.ib3hhka8xz1w

Before realizing this, #202 should be closed.

[2013-09-01 06:12] daonb commented on #215
I feel there's a deeper question here we should consider. I feel the using larger fonts for more popular tags and sorting them according to poppularity is wrong because the more popular tags are not the more important tags.
If you want to convince me, you'll need a better reason than "it's a good idea" and some samples...

[2013-09-01 06:35] lotan1 commented on #215
more reasons are, the unxplain order that is now:
![screenhunter_58 sep 01 09 33](https://f.cloud.github.com/assets/4595165/1063598/7fad9124-12d0-11e3-9d32-91e6df4c891f.jpg)
and take a look at maale avavk to see what alphabetic order will look like on the first screen.
order by popularity can show an active site

[2013-09-01 08:40] danielhers commented on #216
When I go to http://localshot.org.il/admin/ I get Server Error (500)

[2013-09-01 08:41] daonb commented on #216
I'm on it

On 1 September 2013 11:40, Daniel Hershcovich notifications@github.comwrote:

##

http://yeda.us/daonb

[2013-09-01 08:42] danielhers opened #221 ""no edit permissions" message in Edit Profile is confusing"
Whenever I open my user profile I see the red message at the top:
אין לך הרשאות עריכה. כדי לקבל הרשאת עריכה עליך לספק כתובת דואר אלקטרוני חוקית.

Although i have a validated e-mail address set.

[2013-09-01 09:00] danielhers opened #222 "Error in requirements.txt"
Maybe the first line with the hyphen is the problem:
`- git+https://github.com/hasadna/django.git#egg=django`

Here is what I get:

[code]

[2013-09-01 09:16] daonb commented on #222
errrrr. fixed it...

[2013-09-01 09:16] #222 closed, assigned to nobody

[2013-09-01 09:26] danielhers commented on #216
Looks good

[2013-09-01 09:26] #216 closed, assigned to lotan1

[2013-09-01 09:38] danielhers opened #223 "Login with Google: Server Error (500)"
After selecting a Google account, I am redirected to `http://localshot.org.il/complete/google-oauth2/` (with `state` and `code` parameters), and get a `Server Error (500)`.

Maybe related to this problem: http://stackoverflow.com/questions/16093305/django-social-auth-google-oauth-2-authcancelled-even-when-allow-access-is

[2013-09-01 10:16] daonb commented on #215
So lets order it from a to z

[2013-09-01 11:37] #213 closed, assigned to daonb

[2013-09-01 11:39] #83 closed, assigned to nobody

[2013-09-01 12:01] daonb commented on #152
I still don't get this change and I don't have time to read this. If there's a change that needs to be made, state it clearly. The title of the issue: "On entering Open-Shot the location (מקום) should be set to the user location." is working fine now as registered users are redirected from home to their locality

[2013-09-01 12:01] #152 closed, assigned to nobody

[2013-09-01 12:20] gl1000007 commented on #152
This is a fundemental usability problem.
Action items are here:
https://github.com/hasadna/open-shot/issues/152#issuecomment-23547668
I took the time to explain it deeply, so if you have the time, still read it.

ב-1 בספט 2013, בשעה 15:01, benny daon notifications@github.com כתב/ה:

[2013-09-01 12:36] daonb commented on #223
It worked!

[2013-09-01 12:37] danielhers commented on #223
Yeah, could be the same as #220 ...

[2013-09-01 12:38] daonb commented on #171
This is not 100% yet. two bugs I found:
- On the user's profile the deleted questions are diaplyed
- On the deleted question page, there's no indication it's been removed.
  Check my profile at http://localshot.org.il/daonb40565e1811304268/

[2013-09-01 12:43] daonb commented on #217
I'm on 23.0 and I don't see it.

[2013-09-01 12:46] daonb commented on #197
I solved the newer issue - #221 .

[2013-09-01 12:46] #197 closed, assigned to nobody

[2013-09-01 12:46] daonb commented on #178
What's the email you used to register?

[2013-09-01 12:52] daonb commented on #152
then copy whatever is applicable to a new issues that clearly tells me what
needs to be done. You trust the coder to read too much text and he'll end
up draing his own conclusions.
Create a new issue with a clear title and description and I'll fix it.

Benny

On 1 September 2013 15:20, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-09-01 13:33] daonb commented on #158
hmm... I think comments are bad, especially is out type of a site.

https://twitter.com/avoidcomments

[2013-09-01 13:34] daonb opened #226 "Feed link is broken"
Clicking the rss icon on any locality gets you an error

[2013-09-01 14:29] danielhers commented on #121
This seems to be working as expected... The instructions say:
רשימה של תגיות מופרדות בפסיקים או ברווחים. השתמשו במרכאות כדי ליצור תגית עם שתי מילים או יותר.

[2013-09-01 14:39] danielhers opened #228 "Tag autosuggest doesn't work"
When creating a new question and starting to type a tag (that I saw in another question, so it exists), I expect to get completions, but don't get anything.

[2013-09-01 15:47] gl1000007 commented on #158
@daonb two words for you: Local Editors.
They are the moderators of their locality.
and, if comments are so bad, we can enable posting comments only for logged in users with verified email addresses.
Why don't we talk about this tomorrow at the meeting? (There will be a meeting, right?)

[2013-09-01 17:23] gl1000007 opened #229 "Clicking on the site's logo should redirect to the main page"
Clicking on the site's logo at the top right corner of the page, should lead to:
- for the beta, to "אא מעלה אבק".
- for release, to the main page, a.k.a. http://localshot.org.il/.

---

copied from [this specific comment](https://github.com/hasadna/open-shot/issues/152#issuecomment-23547668).
This is a follow-up to #152. To any question, and I mean **ANY** question, please take 5 and read it enti

[2013-09-01 17:23] gl1000007 opened #230 "Fix automatic redirections"
When and where to automatically redirect a user to another page:
- After login or registration **only**, take the user to their locality.
- When entering to the main page http://localshot.org.il either by typing the URL or by clicking on the logo, display "אא מעלה אבק" for the beta and http://localshot.org.il/ for release.
- For all other pages, just display that page _without any redirections_.

[2013-09-01 17:23] gl1000007 opened #231 "Better Locality List"
Below is a new layout for the locality list, which should address the need to find a registered user's locality **fast**, while trying to balance it with the need of other users to see other localities other from theirs.
The ability to see other localities is an important feature of the site, promoting a nation-wide discussion about election issues.

Please apply this:
![default locality 3](https:

[2013-09-01 17:46] daonb commented on #158
We'll meet tomorrow
On Sep 1, 2013 6:47 PM, "Gilad L" notifications@github.com wrote:

[2013-09-01 18:54] danielhers opened #232 "Deleted questions should have disabled buttons"
When a question is deleted, it is still accessible via direct link (as required), but the "support this question" and "flag/delete question" buttons are still available. This may confuse editors who may try to delete the question several times before they realize it is deleted (although I added an alert which should make it clear).

The buttons should be disabled when a question is deleted.

[2013-09-01 19:10] Suberri commented on #158
I agree.
However, In my opinion there should be very basic way for the voters to
voice their opinion about the answers (agree/disagree/....). This would
give the candidates some voter feedback without lengthy/endless discussion.

On Sun, Sep 1, 2013 at 4:33 PM, benny daon notifications@github.com wrote:

##

Cheers
Moshe

[2013-09-01 19:53] polinas123 opened #233 "התנתקות"
בתפריט המשתמש
למען הפוליטיקלי קורקט כדאי לכתוב "התנתק/י" או לחלופין "התנתקו"

[2013-09-01 20:04] polinas123 opened #234 "עימודים שמציקים בעין"
בחלק מהמקומות תגיות מתחיל בשול הימני מתחת לתמונת הפרופיל, בחלק מהמקומות יש הזחה לשמאל ככה שזה מופיע מתחת לטקסט. כדאי ליישר באופן אחיד לאחת מהאופציות

כותרות ארוכות שנשברות לשתי שורות נראות קרובות מדי לריבוע הכחול של שם המשתמש - מציעה להכניס הזחה או להגדיל את הרווח בין השורות

הכוונה לעמוד הזה למשל
http://localshot.org.il/277/qna/

[2013-09-01 20:14] lotan1 commented on #215
I think that if someone would search somthing he can use the search.
and mabye I didnt understand the the purpose of viewing tags
anyway now I thinkl its not so good
![screenhunter_59 sep 01 22 14](https://f.cloud.github.com/assets/4595165/1064551/e76b96e8-133a-11e3-8e88-bb7247458145.jpg)

[2013-09-01 20:17] #221 closed, assigned to daonb

[2013-09-01 20:22] lotan1 commented on #178
Didnt work for me as well on saturday for some registerd emails of mine

2013/9/1 benny daon notifications@github.com

[2013-09-01 20:23] #207 closed, assigned to daonb

[2013-09-01 20:38] lotan1 commented on #121
I thought its not good enough because user will right just איכות הסביבה/
thought maybe it will be east to just add (,) to the end of evry typed string,
but I dont realy know

[2013-09-01 21:12] lotan1 commented on #158
It could be maybe nice feature at the bottom of the page in the future.
Although the avoidcomments thing was funny..
the facebook is a great place for feedback for candidates, so I care more
about voters.
I think its could be an issue for Aharei Hagaim

2013/9/1 Suberri notifications@github.com

[2013-09-02 04:51] gl1000007 commented on #199
8 issues are still wide open. enter the issue page to see.

[2013-09-02 05:04] danielhers commented on #121
I think previewing the tags while typing will solve these usability issues. We just need to figure out why django-taggit-autosuggest stopped doing that...

[2013-09-02 06:37] gl1000007 commented on #152
these 3 new issues should be assigned to a milestone.

[2013-09-02 06:50] daonb commented on #215
Well, until someone has a better idea, this is fixed as the order is alphabetic

[2013-09-02 06:50] #215 closed, assigned to daonb

[2013-09-02 07:05] #220 closed, assigned to daonb

[2013-09-02 07:13] daonb commented on #212
The reason the change was reverted is because google drive performance was slowing the entire site down.
The things to do are:
- edit the [spreadsheet](https://docs.google.com/spreadsheet/ccc?key=0AibPNoUcfXcMdDJfTWlQTG1lcUFtOTgydTJldWRPMnc&usp=sharing) to have english coloumn label
- download it as csv and write a small script to turn it into a json object where the locality code is used as an in

[2013-09-02 07:21] #171 closed, assigned to danielhers

[2013-09-02 07:21] #160 closed, assigned to daonb

[2013-09-02 07:22] daonb commented on #142
this is upposed to be fixed. can someone test this?

[2013-09-02 07:23] daonb commented on #121
+1
@danielhers, are you on it?

[2013-09-02 07:25] danielhers commented on #121
I'll try tonight.

[2013-09-02 08:23] #142 closed, assigned to daonb

[2013-09-02 08:36] lotan1 commented on #212
Can we use the "all in one" spreadsheet?
https://docs.google.com/spreadsheet/ccc?key=0AibPNoUcfXcMdHFrSmlOc1plZTA5Y1dGWjc1ZXh3Y3c#gid=0
I copied the english label (some) from open muni budget

2013/9/2 benny daon notifications@github.com

[2013-09-02 10:15] daonb commented on #212
Sure, use lotan's spreadsheet

[2013-09-02 10:40] lotan1 commented on #188
If we can set what happans when user will share the domain, thats can be great for now
![screenhunter_59 sep 02 01 16](https://f.cloud.github.com/assets/4595165/1066824/ff3d512c-13bb-11e3-9f50-525e67449a21.jpg)

[2013-09-02 11:45] Suberri opened #235 "Bug - was able to delete a question that I did not author"

[2013-09-02 11:47] Suberri opened #236 "How can one find if he supported a question?"

[2013-09-02 11:49] Suberri opened #237 "Should the system expose the question supporting voters to the voters?"

[2013-09-02 12:20] Suberri opened #238 "Geting "מצטערת, יש להתחבר כדי לתמוך בשאלה" when trying to support a Q that I am supporting"

[2013-09-02 12:21] gl1000007 commented on #236
1. #153
2. In the user page, there will be a list of supported questions.
   There is nothing to do here, please close.

[2013-09-02 12:24] #236 closed, assigned to nobody

[2013-09-02 12:26] gl1000007 commented on #237
If I got you right, then https://github.com/hasadna/open-shot/issues/153
This is the 2nd duplicate of that issue. Please close it too.

[2013-09-02 12:29] Suberri commented on #236
GL,

Thanks.
Went to my page (the menu item under my name) and could not find the
question that I have supported.

Cheers
M

On Mon, Sep 2, 2013 at 3:21 PM, Gilad L notifications@github.com wrote:

##

Cheers
Moshe

[2013-09-02 12:30] #237 closed, assigned to nobody

[2013-09-02 12:31] Suberri commented on #237
you r correct

On Mon, Sep 2, 2013 at 3:26 PM, Gilad L notifications@github.com wrote:

##

Cheers
Moshe

[2013-09-02 16:35] gl1000007 opened #240 "Find a way to group candidates in the locality page"
copied from a mail from polina s:
מה קורה אם יש הרבה רשימות, ונגיד לכל רשימה שישה מועמדים? אז בעמוד העירוני יש מלא מלא מועמדים
גם אם מסווגים אותם לפי לבן וצהוב - עדיין יש בליל של מועמדים (בערים הגדולות לפחות) איך מסדרים את זה? אולי איזשהו סוג של קיבוץ (עיגולים שקצת עולים אחד על השני לפי סדר הרשימה וככה יותר קל לקלוט בעין שזו רשימה נפרדת מהאחרות, וככה רק ראש הרשימה במוקד

This is not an urgent task

[2013-09-02 16:38] tbrisker commented on #212
i'm on it

[2013-09-02 16:46] nirwe opened #241 "נגישות באתר"
לדעתי כדאי להגדיל את רוב הפונטים באתר, לשם נגישות של האתר לאנשים מבוגרים או אנשים שלא גולשים הרבה באינטרנט.
בנוסף להגדיל את הכפתורים באתר.

[2013-09-02 16:52] #233 closed, assigned to nobody

[2013-09-02 18:53] tbrisker commented on #212
what information should we display on the locality? population? number of council members? socio-economic cluster? something else?

[2013-09-02 20:19] lotan1 commented on #240
maybe we can use on the form of candidate registration, a required field of party letter, and of place in the list.
then view on the city page just the head of each party (5-25 for desgin).
and to make it possible to open evry party list as if it was list of questions realted to a tag.

[2013-09-02 20:44] lotan1 commented on #212
great
those, and maybe we shell use allowd voters(בזב"ים) if they will publish.
my next options are:
מאזן הגירה (סהכ נכנסים-סהכ יוצאים) , סה"כ הוצאות הרשות, גרעון מצטבר, ואז קצת נתוני חינוך
can we use just few indicators and add "click here for more" thing?
its not our goal but a nice feature.

[2013-09-02 20:45] lotan1 commented on #204
can i offer some of my black jobs abilitys on it?

[2013-09-02 21:32] gl1000007 commented on #212
לא ניסחתי את זה מספיק ברור? יש למעלה איור מאוד מדויק, וגם קישור לגוגל דרייב. פשוט תקראו את ההודעה שפתחה את הדיון הזה. בבקשה להתחיל מהנתונים שכתבתי, ואח״כ אפשר להוסיף את מה שכתבתם ב-2 ההערות האחרונות.

[2013-09-03 19:59] lotan1 commented on #230
completing registration now lead to the profile without a clear link to your locality qna
![screenhunter_62 sep 03 22 54](https://f.cloud.github.com/assets/4595165/1075684/094f47a2-14d3-11e3-8241-68e5cb8df198.jpg)

[2013-09-03 20:01] lotan1 commented on #218
as well as clicking our logo will sends you to your locality

[2013-09-03 20:04] lotan1 opened #243 "Server Error 500 when posting a question"
http://localshot.org.il/qna/post_q/

[2013-09-03 20:08] lotan1 commented on #243
actually it happans evrywere
http://localshot.org.il/%D7%91%D7%90%D7%A8-%D7%A9%D7%91%D7%A2-2/qna/%D7%9E%D7%94%D7%95-%D7%A9%D7%99%D7%AA%D7%95%D7%A3-%D7%A6%D7%99%D7%91%D7%95%D7%A8-%D7%91%D7%A2%D7%99%D7%A0%D7%99%D7%9A-%D7%95%D7%94%D7%90%D7%9D-%D7%95%D7%9B%D7%99%D7%A6%D7%93-%D7%94%D7%95%D7%90-%D7%A6%D7%A8%D7%99%D7%9A-%D7%9C%D7%94%D7%AA%D7%A8%D7%97%D7%A9-%D7%91%D7%A2%D7%99%D7%A8-%D7%A9%D7%9C%D7%A0%D7%9

[2013-09-03 20:10] lotan1 opened #244 "cant post same question in two different cities"

[2013-09-04 08:20] gl1000007 commented on #230
At the last meeting we found a solution for that.
I'll update everything shortly.

[2013-09-05 09:29] danielhers opened #245 "Tags for deleted questions are still displayed in the locality page"
![selection_036](https://f.cloud.github.com/assets/263363/1087065/a4323d34-160d-11e3-8b84-5142d8ac1b2e.png)

[2013-09-05 09:33] danielhers commented on #238
![selection_037](https://f.cloud.github.com/assets/263363/1087097/393116c6-160e-11e3-8e10-ac3ccc2f8949.png)

[2013-09-07 20:49] daonb opened #246 "Removing Zeros from unborn locality"
Unborn locality should be fresh ground. It doesn't look like that with all that zeros...

![zeros](https://f.cloud.github.com/assets/36852/1102127/c19f7628-17fe-11e3-85d3-1ce4edd2aac2.png)
 0,0,0,0,0,0,0,0

[2013-09-07 20:54] #226 closed, assigned to daonb

[2013-09-07 20:54] daonb commented on #211
Can we close this?

[2013-09-07 20:57] daonb commented on #218
Following Monday meeting it was agreed that as long as we don't have a nation-wide view, this works fine.

[2013-09-07 20:57] #218 closed, assigned to nobody

[2013-09-07 20:59] daonb commented on #212
First version didn't look good enough. Bug is at #246

[2013-09-07 20:59] #212 closed, assigned to tbrisker

[2013-09-07 21:00] daonb commented on #243
couldn't recreate. can you try again with different types of users?

[2013-09-07 21:31] lotan1 commented on #243
Half of the questions here: http://localshot.org.il/33/qna/
But maybe its all becuase of the same question title bug #244

[2013-09-08 21:58] lotan1 opened #247 "Questions edit Not Found"
Not Found

The requested URL /אא-מעלה-אבק/qna/מהו-שיתוף-ציבור-בעיניך-וכיצד-הוא-צריך-להתרחש-בעיר-שלנו/edit/ was not found on this server.

http://localshot.org.il/%D7%90%D7%90-%D7%9E%D7%A2%D7%9C%D7%94-%D7%90%D7%91%D7%A7/qna/%D7%9E%D7%94%D7%95-%D7%A9%D7%99%D7%AA%D7%95%D7%A3-%D7%A6%D7%99%D7%91%D7%95%D7%A8-%D7%91%D7%A2%D7%99%D7%A0%D7%99%D7%9A-%D7%95%D7%9B%D7%99%D7%A6%D7%93-%D7%94%D7%95%D7%90-%D7%A6%D7

[2013-09-08 22:03] lotan1 opened #248 "Limit the displayed details of questions"
Maybe to 2-3 lines
![screenhunter_62 sep 09 01 00](https://f.cloud.github.com/assets/4595165/1103952/65f581a8-18d2-11e3-8c2f-aa3dbfebd475.jpg)

[2013-09-08 22:08] lotan1 opened #249 "Add "report a problem" button for users"
When talking with freinds about their experience at the system they always have ideas or difficulties.
They can help us help them..

[2013-09-08 22:11] lotan1 opened #250 "Create some admin statistics"
For example,
no' of questions/users/candidates/active localities
arranged by date/locality/users etc.

[2013-09-08 22:21] lotan1 opened #251 "Consider arrange everything by popularity as default"
Suggest to stick the idea of order everything by popularity as default.
Questions, Answers, Tags, Candidates.
Attaching pics of now defaults
![screenhunter_62 sep 09 01 17](https://f.cloud.github.com/assets/4595165/1103980/8aaa0602-18d4-11e3-8a70-515261ad14d3.jpg)
![screenhunter_62 sep 09 01 19](https://f.cloud.github.com/assets/4595165/1103981/b22366ce-18d4-11e3-99fd-2a955aefd712.jpg)

[2013-09-09 05:00] daonb commented on #250
For now, the best way will be to use analytics to track the activity.
Theres a way to add goals and track them of time. Analytics will not only
tell us how man users registeted, joined a q, etc but will also give us
conversion rates

[2013-09-09 05:22] danielhers commented on #218
What I understood from the last meeting is that the default page should be the user's locality (and it is reached by clicking the logo). However, I think the "כל הארץ" link is a slightly different issue: since it does not send you to a nation-wide view, it is misleading. Perhaps this link should just be hidden for now.

[2013-09-09 05:28] danielhers commented on #245
This is a follow-up on #171 .

[2013-09-09 05:29] danielhers commented on #235
Are you an editor in the question's locality?

[2013-09-09 05:36] daonb commented on #245
I guess before deleting a question we should [clear](https://django-taggit.readthedocs.org/en/latest/api.html#TaggableManager.clear) its tags.

[2013-09-09 05:38] daonb opened #252 "Remove the כל הארץ from the breadcrumbs"
It's not really breadcrumbs anymore...

[2013-09-09 05:39] daonb commented on #218
#252

[2013-09-09 05:54] lotan1 commented on #235
Didnt find it

[2013-09-09 05:54] daonb commented on #247
I'm assuming you logged in as the author of the question, got in its [page](http://localshot.org.il/%D7%90%D7%90-%D7%9E%D7%A2%D7%9C%D7%94-%D7%90%D7%91%D7%A7/qna/%D7%9E%D7%94%D7%95-%D7%A9%D7%99%D7%AA%D7%95%D7%A3-%D7%A6%D7%99%D7%91%D7%95%D7%A8-%D7%91%D7%A2%D7%99%D7%A0%D7%99%D7%9A-%D7%95%D7%9B%D7%99%D7%A6%D7%93-%D7%94%D7%95%D7%90-%D7%A6%D7%A8%D7%99%D7%9A-%D7%9C%D7%94%D7%AA%D7%A8%D7%97%D7%A9-%D7%91%D7

[2013-09-09 06:01] lotan1 commented on #247
Right.

2013/9/9 benny daon notifications@github.com

[2013-09-09 06:31] gl1000007 opened #253 "Show Nomination and list notes in avatar picture"
![show nomination and list notes in avatar picture](https://f.cloud.github.com/assets/5072931/1105101/6a8efea0-1919-11e3-9ec2-cdb466b2e0d9.png)

Further to @lotan1 's suggestion ("ויובחנו ויזואלית באתר בין הלבנים לצהובים"), There's a way to distinguish between different types of candidates, even outside the candidate page.
This should be applied after or simultaneously with #209, therefore should

[2013-09-09 07:30] gl1000007 commented on #158
Added a sketch further to @Suberri 's comments at the last meeting (sep 2, 2013). @Suberri
Please add your comments to explain why this suggestion should be used.
This is a sketch, therefore it describes a little more than a static state, and most interaction issues are still ignored.
Note: This discussion starts to be a little long. When the time comes, I'll reduce it to a new compact issue.

![q

[2013-09-09 07:49] gl1000007 commented on #152
Further to the last meeting (2 sep 2013), we decided:
- For now, we won't use a nation-wide view.
- The "main page" of each user is their locality page.
- As long as there is no nation-wide view, Current state is correct.

Now updating the 3 issues above to reflect these decisions. (Update: Finished)
**There's nothing to see here, Move along ;)**

[2013-09-09 07:53] gl1000007 commented on #229
Closed as outdated. Read this specific comment in https://github.com/hasadna/open-shot/issues/152?source=cc#issuecomment-24050821

[2013-09-09 07:53] #229 closed, assigned to nobody

[2013-09-09 07:56] gl1000007 commented on #231
Closed as outdated. Locality list should remain as it is. Read this specific comment in https://github.com/hasadna/open-shot/issues/152?source=cc#issuecomment-24050821

[2013-09-09 07:56] #231 closed, assigned to nobody

[2013-09-09 08:09] gl1000007 opened #254 "Completing registraion should lead to the user's locality page"
Further to @lotan1 's comment in https://github.com/hasadna/open-shot/issues/230#issuecomment-23742146 (no need to enter, as it's summarized below)

Copied from 230:
completing registration now lead to the profile without a clear link to your locality qna
![094f47a2-14d3-11e3-8241-68e5cb8df198](https://f.cloud.github.com/assets/5072931/1105425/008b5ee2-1926-11e3-8586-40e57873b082.jpg)

Like Lotan,

[2013-09-09 08:09] gl1000007 commented on #230
Closed as outdated. Read this specific comment in https://github.com/hasadna/open-shot/issues/152?source=cc#issuecomment-24050821
Regarding @lotan1 's comment, I've opened a new issue for that. Take a look at #254.

[2013-09-09 08:09] #230 closed, assigned to nobody

[2013-09-09 08:09] polinas123 opened #255 "add support option to questions on main locality list"
when displaying locality page (e.g http://localshot.org.il/%D7%99%D7%A8%D7%95%D7%A9%D7%9C%D7%99%D7%9D-2/qna/) users need the option to support questions from the list (without clicking on specific question)
so that in short time user can support multiple questions

[2013-09-09 10:04] Suberri commented on #235
mmm...
I think so. When I signed up I was informed that I am the first person in
Modiin, and thus the system choose me to be an editor.

On Mon, Sep 9, 2013 at 8:29 AM, Daniel Hershcovich <notifications@github.com

##

Cheers
Moshe

[2013-09-09 10:12] danielhers commented on #235
Editors can delete questions in their localities by design.
On Sep 9, 2013 1:09 PM, "Suberri" notifications@github.com wrote:

[2013-09-09 10:49] gl1000007 opened #256 "In "ask" page, add a suggestion to pre check the question list"
לפני שתעלו שאלה חדשה, אנא בדקו אם היא כבר קיימת [בעמוד של הרשות שלכם](http://localshot.org.il/).

Because the main page auto redirects to the user's locality, we don't have to mess with parameters. So, maybe we'll add it to the flat block?

[2013-09-09 10:50] gl1000007 opened #257 "Make the "ask" button available from any locality"
Further to our last meeting (2 sep 2013) , #130 and #134 (no need to read).
**Action items** are marked below, but it is still recommended to read the whole issue (knowledge preserving and stuff).

Summary of everything above:
- It makes sense to link to the "ask" page, only from the user's locality. For any other location, we should not put a link to that page. (GL: at least not a direct link) (f

[2013-09-09 11:20] Suberri commented on #235
yes you r correct

On Mon, Sep 9, 2013 at 1:12 PM, Daniel Hershcovich <notifications@github.com

##

Cheers
Moshe

[2013-09-09 11:37] lotan1 commented on #226
I think its still broken http://localshot.org.il/33/atom/

[2013-09-09 11:45] daonb commented on #254
I think the user should see his page. It's the decent think to do - if we create a page and we link to it from other pages it makes sense the user should be the first to see his page.
BTW - I'm not sure when you took the screenshot, but now it looks more like below, so it's easy to get to the user's locality:

![image](https://f.cloud.github.com/assets/36852/1106455/3175b1b4-1945-11e3-91f9-dd6999e

[2013-09-09 11:45] #254 closed, assigned to nobody

[2013-09-09 11:49] daonb commented on #226
Looking good. you just need a reader. try using feedly.com

[2013-09-09 12:00] #235 closed, assigned to nobody

[2013-09-09 14:44] lotan1 commented on #226
ברור
חשבתי שצריך להיות שם איזה מסך הסבר/מעבר
בכל מקרה אני כבר משתדל לא לבדוק את המערכת כל יום אלא לקבל באגים ממשתמשים, זה אחד שכזה
מניח שזה לא המשתמש היחיד שאין לו תוכנה ולא סגור על פישרו של הסמל

[2013-09-09 15:19] daonb commented on #226
ככה זה עובד באינטרנט - סמל של פיד שמקשר לפיד. יש גם משתמשים נודניקים...

[2013-09-09 15:33] daonb commented on #255
Question is, can it be too easy to support a question? If we make the
interface as easy as you suggest, aren't we risking having all the users
support all the questions?

[2013-09-09 15:42] lotan1 commented on #255
maybe we`ll let them over support at the begining, then if it`ll be too much we`ll change it

[2013-09-09 16:02] polinas123 commented on #255
I see what you're saying benny, but I think right now we are risking no
support at all.
It may change when questions will have answers so people will have an
insentive to click them. But yet again, than we might get
supported-answered linkage, while the interesting questions left untouched.
So I tend to agree with Lotan
On 9 בספט 2013 18:50, "lotan1" notifications@github.com wrote:

[2013-09-09 16:02] danielhers opened #258 ""post question" page does not show what is the locality"
It should be instead of "בחרו רשות" and possibly in the "הנכם מוזמנים..." message.
![capture](https://f.cloud.github.com/assets/263363/1108087/3fd41f24-1969-11e3-9854-26e7238bce1a.PNG)

[2013-09-09 17:47] gl1000007 opened #260 "Search bar - Change string"
Search is performed in the local scope only, so we should inform users about that.

Replace "חפשו" with "חפשו ב-[locality]"
for example:
"חפשו בתל אביב"
"חפשו בא.א. מעלה אבק"

[2013-09-09 18:10] gl1000007 opened #261 "Question list - Get rid of the date"
Delete the date from: question list, answer list, and everywhere else I missed, in case you find a date.
Reason: Unnecessary noise
@danielhers

[2013-09-09 20:45] lotan1 opened #262 "Shuld we delete entities that wont ellect?"
Its minoric issue, less then 50 entities seems to not paricipating the next ellection
http://bocharim.org.il/files/list.pdf

[2013-09-09 23:29] daonb opened #263 "Replace all links to slug based urls"
With links to shorter, id based urls
based on @ofri suggestion

[2013-09-10 06:19] nogar opened #264 "Hebrew corrections"
. אנא הכניסו שם משתמש וססמא (חסרה  י)
מצטערת תשנה למצטערים

[2013-09-10 06:20] nogar opened #265 "Login issues"
הצלחתי להרשם עם אותו מייל פעמיים, אולי כדאי לשנות

הכניסה לממשק צריכה להיות שם משתמש או מייל.

[2013-09-10 06:22] nogar opened #266 "Add back to locality button on question detail page."
אחרי פרסום שאלה צריך כפתור שיחזיר אותי לעמוד העיריה שלי

[2013-09-10 06:22] nogar commented on #266
הייתי שוקלת לעשות מיון לפי נושאים, כלומר כאשר מעלים שאלה יש לבחור לה נושא ראשי: חינוך, בינוי, מיסים, פוליטיקה וכו׳.
הייתי שמחה לראות חלוקה לפי אשכולות המידע האלה וככה זה גם ימנע הרבה שאלות חוזרות.....

[2013-09-10 07:54] danielhers commented on #261
@michalten

[2013-09-10 12:44] #260 closed, assigned to nobody

[2013-09-10 12:44] #246 closed, assigned to gl1000007

[2013-09-10 12:45] #248 closed, assigned to nobody

[2013-09-10 12:45] #252 closed, assigned to nobody

[2013-09-10 13:04] lotan1 opened #267 "Update the numbers of municipality seats"
current is the Lamas numbes by the last ellections
Where should I correct it? on the drive?

[2013-09-10 13:23] daonb commented on #147
The email should include only content from your locality:
- New answers to questions that you asked or joined (use Follow)
- New questions
- New answers from candidates you follow

[2013-09-10 13:29] daonb opened #268 "Allow editors to add parties"
They are really CandidateList in `polyorg` app...

Create a simple form available only for editors where they can key in the parties.

[2013-09-10 13:30] daonb opened #269 "Allow superusers to send email to editors/users"
Somewhere in the admin...

[2013-09-10 17:07] tbrisker commented on #267
There are changes? i pulled the stats from the lamas file you put on the drive.
If there are only few changes it might be faster to manually edit the stats in the project, otherwise update the file on the drive and let me know once it's updated so I can scrape it again.

[2013-09-10 19:30] daonb opened #270 "Add a new partner - the joint"
here's what it should say "המכון למנהיגות וממשל - גו'ינט ישראל"
and link to http://www.theinstitute.org.il/

[2013-09-11 05:43] lotan1 opened #271 "/login/ not found"
clicking להצטרפות leads to http://localshot.org.il/login/  Not Found
clicking הכנסו on top works at http://localshot.org.il/u/login/

[2013-09-11 05:49] lotan1 opened #272 "welcome massege shows up for existing login users"
![screenhunter_63 sep 11 08 48](https://f.cloud.github.com/assets/4595165/1120540/e5b2fba8-1aa5-11e3-89a5-f743f0e9cf81.jpg)

[2013-09-11 08:00] tbrisker commented on #272
please test and close if fixed.

[2013-09-11 08:07] tbrisker commented on #271
fixed the link in the flatblock admin interface.

[2013-09-11 08:07] #271 closed, assigned to nobody

[2013-09-11 08:24] #272 closed, assigned to nobody

[2013-09-11 10:08] polinas123 opened #273 "כפתור להצטרפות לא עובד!"
ממש קריטי אני אומרת לכולם לחפש את הכפץור הירוק...
זורק 404

[2013-09-11 10:11] tbrisker commented on #273
תוקן.

[2013-09-11 10:11] #273 closed, assigned to nobody

[2013-09-11 10:20] #270 closed, assigned to tbrisker

[2013-09-14 15:40] #245 closed, assigned to nobody

[2013-09-14 15:40] #232 closed, assigned to nobody

[2013-09-14 15:45] danielhers commented on #265
Right, email is currently not a unique property in the user object. It's also not verified on registration, which is important before we make it unique.

[2013-09-14 16:28] danielhers commented on #228
Fixed by correcting the js and css path, but now there are two problems:
- tag controls appear in the wrong place on the page
- the letter ת cannot be typed in a tag, because it's interpreted as a comma. The js looks at the key code rather than the character code. Need to fix it before we enable django-taggit-autosuggest.

[2013-09-14 16:30] danielhers commented on #214
How about showing it under the avatar, like in the candidate names?

[2013-09-14 18:23] #268 closed, assigned to tbrisker

[2013-09-15 06:33] lotan1 commented on #214
could be better.
but its not for now anyway
lets finsh the candidate issues

[2013-09-15 10:41] #247 closed, assigned to daonb

[2013-09-16 06:22] tbrisker opened #276 "some users' public profiles cause a server error"
Users known to cause this:
boaz.chen
lilib
לילי בן עמי
tal.kaufman
lolopipa
tami.shmuel1

Traceback (most recent call last):

  File "/home/oshot/src/oshot/ENV/src/django/django/core/handlers/base.py", line 115, in get_response
    response = callback(request, _callback_args, *_callback_kwargs)

  File "/home/oshot/src/oshot/user/views.py", line 62, in public_profile
    return render(request, "us

[2013-09-16 10:06] lotan1 opened #277 "New server error when completing registration"
http://localshot.org.il/u/profile/
"שמירה" without definde locality lead to server error 500 instead of "יש להזין תוכן בשדה זה"

[2013-09-16 18:17] gl1000007 opened #279 "Locality Stats take too much vertical space"
'העברת מקל".opened by @daonb  in the mail

![img_20130916_204718](https://f.cloud.github.com/assets/5072931/1151592/63b0b882-1efd-11e3-8aa4-1a4f379c8146.jpg)

The sketch above describes the locality page, broken down into parts.

Pink numbers:
1. Statistics:
- Move them as they are, meaning that values are separated by line breaks.
- If the stats still take too mush vertical space, replace the lin

[2013-09-16 19:00] #261 closed, assigned to nobody

[2013-09-16 19:05] #264 closed, assigned to nobody

[2013-09-16 19:09] michalten opened #282 "Cancel upvote on question"
After upvoting a question, the button stays the same (with error popping if pressed again).
It should change to "cancel upvote".

[2013-09-16 20:20] lotan1 commented on #265
different duplicate issues

[2013-09-16 20:20] #265 closed, assigned to nobody

[2013-09-16 22:26] lotan1 commented on #251
done for questions
https://github.com/hasadna/open-shot/commit/fd16eeb0f603a7bc2a35e39651c9f9c18f8fb062
next is tags

[2013-09-16 22:29] lotan1 commented on #250
or manualy:
local editors: name, mail, fb, locality
active localities: users no', questions no', ansaers no'

[2013-09-16 22:31] #238 closed, assigned to nobody

[2013-09-16 22:32] #217 closed, assigned to nobody

[2013-09-16 22:33] #211 closed, assigned to nobody

[2013-09-16 22:35] #200 closed, assigned to nobody

[2013-09-16 22:35] #198 closed, assigned to nobody

[2013-09-16 22:40] #176 closed, assigned to nobody

[2013-09-17 08:09] #263 closed, assigned to nobody

[2013-09-17 08:09] tbrisker commented on #276
caused by users who haven't selected a locality.

[2013-09-17 08:34] lotan1 commented on #276
קשור ל #277  ?

[2013-09-17 08:51] #276 closed, assigned to nobody

[2013-09-17 08:51] #277 closed, assigned to tbrisker

[2013-09-18 09:10] tbrisker opened #286 "tag filtering does not work correctly"
try for example "אוויר נקי" in maale avak.

[2013-09-18 09:12] tbrisker opened #287 "response rate in locality stats not calculated correctly"
in maale avak - 200% response. see #212 for how it should be calculated.

[2013-09-18 09:31] tbrisker commented on #126
basic candidate input is now available to editors via #285. please test before sending editors to work.

[2013-09-18 09:38] #258 closed, assigned to nobody

[2013-09-18 09:42] tbrisker commented on #266
לגבי החלוקה לנושאים - בשביל זה יש תגיות, לא יהיה תמיכה מעבר לכך בשלב הזה.

[2013-09-18 14:45] #244 closed, assigned to nobody

[2013-09-18 14:47] tbrisker commented on #243
couldn't recreate. reopen if happens again.

[2013-09-18 14:47] #243 closed, assigned to nobody

[2013-09-18 14:49] tbrisker commented on #206
duplicate #255

[2013-09-18 14:49] #206 closed, assigned to nobody

[2013-09-18 14:55] tbrisker commented on #169
seems like this was fixed already.

[2013-09-18 14:55] #169 closed, assigned to nobody

[2013-09-19 12:21] lotan1 commented on #286
its only two word tag problem right? I think its the dash, for example http://localshot.org.il/277/qna/tags/%D7%90%D7%95%D7%95%D7%99%D7%A8-%D7%A0%D7%A7%D7%99/ VS http://localshot.org.il/277/qna/tags/%D7%90%D7%95%D7%95%D7%99%D7%A8%20%D7%A0%D7%A7%D7%99/

[2013-09-20 04:58] david206 opened #288 "In בנימינה-גבעת עדה there are 11 seats, and not 9 like mentioned"
See: http://bocharim.org.il/files/list.pdf

[2013-09-20 05:55] lotan1 commented on #288
yep  #267 it is

[2013-09-20 08:04] #163 closed, assigned to nobody

[2013-09-20 08:14] tbrisker commented on #178
also #162 while at it.

[2013-09-20 08:26] lotan1 opened #289 "on ניהול רשימות allow soft delete"
Now when local admin can add list and candidates, they should handle themself on wrong user pick (easy mistake) or wrong list connect, only if its soft delete
http://oshot.hasadna.org.il/po/list/

[2013-09-20 08:30] lotan1 opened #290 "Filter candidates on users at admin panel"
לחסוך לנו את חיפוש המשתמשים שהוגדרו מועמדים מבין כל היוזרים כשצריך לשנות לשחזר וכו
http://oshot.hasadna.org.il/admin/auth/user/

[2013-09-20 08:45] #290 closed, assigned to nobody

[2013-09-20 08:49] lotan1 commented on #290
very usfull
thanks

[2013-09-24 06:25] gl1000007 commented on #206
@tbrisker why duplicate? look at the issue numbers: this one is 206 and the other one is 255.
Anyway, since you have already closed this one, I'll copy the pic to 255.

[2013-09-24 06:29] gl1000007 commented on #255
copied from #206
![support question on question list](https://f.cloud.github.com/assets/5072931/1197700/85b32f88-24e2-11e3-9fec-283e8159f324.png)

[2013-09-24 06:42] gl1000007 commented on #266
לגבי העברה לעמוד העיריה, זה יעבוד רק אם תצוגת ברירת המחדל תהיה של השאלות האחרונות. טענה זו מתבססת על ההנחה שהמשתמש ירצה לראות את השאלה שלו מופיעה בפועל באתר, בתור אישור לזה שהשאלה פורסמה בהצלחה. אם אני זוכר נכון (#251), אנחנו לא הולכים לכיוון של שאלות אחרונות אלא של _שאלות מובילות_, ולכן עדיף להשאיר את המצב הקיים - להפנות אל דף השאלה אפילו שאין בו תשובות.
עוד דבר - משתמשים מתקדמים ירצו לשתף את השא

[2013-09-24 06:52] gl1000007 opened #291 "remove junk answer in gan yavne"
http://localshot.org.il/127/qna/%D7%9E%D7%94-%D7%A2%D7%9E%D7%93%D7%AA%D7%9A-%D7%91%D7%A0%D7%95%D7%A9%D7%90-%D7%91%D7%A0%D7%99%D7%99%D7%94-%D7%9C%D7%92%D7%95%D7%91%D7%94/
Since I'm not a candidate, I can't delete it. The question itself is legit and should be kept.

[2013-09-24 07:03] #291 closed, assigned to nobody

[2013-09-24 10:07] gl1000007 commented on #282
Great idea! I was thinking about this but had no time to write it here, so +1 :+1:

[2013-09-24 10:07] gl1000007 commented on #238
Solution: #282

[2013-09-24 14:56] tbrisker commented on #206
I closed this as duplicate because the discussion about it was in 255.

[2013-09-24 15:06] polinas123 opened #292 "תלונות מהשטח - מועמד בפ"ת רמי גרינברג מתלונן שנמחקים לו הפרטים בעמוד"
אני רואה שהמשתמש שלו קיים ואפילו מוצג, מסומן כ is candidate
ניסיתי לשנות דרך users
משהו פשוט כדי לראות אם זה נשמר וקיבלתי שגיאה על שם משתמש לא חוקי - רמיגרינברג
אולי כי הוא בעברית?

הוא טוען שנרשם דרך הפייסבוק
הוא כנראה סימן שהוא מועמד ורץ מטעם הליכוד

בעיות:
יש את העניין שהוא מוצג כמועמד למועצת העיר ולא לראשות העיר
עניין מחיקת הפרטים, שלא הצלחתי לשחזר בעצמי

זה המייל שלו rami.greenberg78@gmail.co

[2013-09-24 15:08] polinas123 commented on #292
זו הכתובת של המשתמש שהוא פתח ואני ניסיתי לשנות בו את הביו ואת המין וקיבלתי הודעה על שם משתמש לא חוקי
http://localshot.org.il/admin/auth/user/279/

[2013-09-24 15:17] lotan1 commented on #292
לפחות הוא עדיין מופיע כמועמד
אני לא רואה טעם למלא פרטים עד שנוכל לקלוט את הפרטים האלו מופרדים לתאים
שונים, כולה פיסקת טקסט בלי קישורים. עדיף להתמקד בתשובות בנתיים

בתאריך 24 בספטמבר 2013 18:08, מאת polinas123 notifications@github.com:

[2013-09-24 15:33] polinas123 commented on #292
בפ"ת ספציפית יש 4 שאלות כרגע...
תומר ביקש שאפתח, זה מתקדם לשלב שאנחנו נמצאים בו אבל אני רוצה לשמור על
המועמד שלא יברח.
אם יהיה מסובך מדי אמצא דרך להסביר לו שיתחיל עם תשובות... אני קצת בספק שירצה
לעשות את זה כל עוד הוא מופיע כמועמד למועצת העירייה.... לא כל כך טוב לאגו.
חוצמזה אם אנחנו רושמים היום-מחר הרבה מועמדים והעורכים מתחילם לפנות אליהם -
הרי אמרנו שתמריץ טוב זה לתת למועמדים עמודים לא מלאים על

[2013-09-24 16:19] gl1000007 opened #293 "Question page - Get rid of the date for answers"
Further to #261.
The single question page displays dates for answers. It shouldn't.

[2013-09-25 06:21] polinas123 opened #294 "avatar URL present but no picture appears"
URL is from facebook

e.g this candidate
http://localshot.org.il/Nir.Barkat/
http://localshot.org.il/Ofer.Berkovich/

why is that so? I remember at one time I could add pictures properly the same way

[2013-09-25 06:24] polinas123 opened #295 "add candidate first displays list of users in locality without the candidates"
if you create a list and then add candidate, the users list to choose from is the locality users list
clicking יצירה without choosing anything will open the list to all users in the whole system (including candidates).
much better to first show only candidates listed in the relevant locality
it will also prevent local editors adding themselves as candidates by mistake

[2013-09-25 06:29] polinas123 opened #296 "changing candidate's name (not username) is not updated in the locality display"
example:

I manually created user Yael.Antebi without name or surname
it appears as Yael.Antebi on Jerusalem's locality page
now I modify the user to have Hebrew name and surname יעל ענתבי
It's saved but not updated on the locality page display.

might be related to this one?
https://github.com/hasadna/open-shot/issues/292

[2013-09-25 06:32] polinas123 opened #297 "when candidate is female מועמד is not changed to מועמדת"
http://localshot.org.il/Yael.Antebi/

you can see here that gender is נקבה
http://localshot.org.il/admin/auth/user/286/

[2013-09-25 11:14] lotan1 commented on #296
http://localshot.org.il/Yael.Antebi/ ?

[2013-09-25 11:15] david206 commented on #288
Sorry, didn't understand what I should do.
If I should change a doc, can you please share the link?

Thanks

[2013-09-25 11:18] lotan1 commented on #294
by upload or by link?
is it here: http://localshot.org.il/admin/avatar/avatar/ ?

[2013-09-25 11:22] lotan1 commented on #288
would you like to update all this list by the new nummbers?
https://docs.google.com/spreadsheet/ccc?key=0AibPNoUcfXcMdHFrSmlOc1plZTA5Y1dGWjc1ZXh3Y3c&usp=drive_web
(E)

[2013-09-25 12:00] polinas123 commented on #294
From users menu - add user - avatar url
On 25 בספט 2013 14:18, "lotan1" notifications@github.com wrote:

[2013-09-25 12:01] polinas123 commented on #296
Yes. Also on users list
On 25 בספט 2013 14:14, "lotan1" notifications@github.com wrote:

[2013-09-25 12:28] danielhers commented on #228
I fixed the problem in [my django-taggit-autosuggest fork on Bitbucket](https://bitbucket.org/danielh/django-taggit-autosuggest), but I don't know how to incorporate this into the project. Will try on Monday.

[2013-09-25 14:30] david206 commented on #288
I can't edit this doc.
Anyway, E47 should be 11.
My suggest: Hide this field until it will be fixed.

[2013-09-25 14:37] lotan1 commented on #288
most of the municipalities are correct, some staged up since 2011
if you can check them all in the open link
https://docs.google.com/spreadsheet/ccc?key=0AibPNoUcfXcMdHFrSmlOc1plZTA5Y1dGWjc1ZXh3Y3c&usp=sharing
it'll help

2013/9/25 david206 notifications@github.com

[2013-09-25 14:47] tbrisker commented on #174
Closing due to newer designs making most of this issue obsolete.

[2013-09-25 14:47] #174 closed, assigned to nobody

[2013-09-25 15:17] tbrisker commented on #286
some links still use tag.slug and some use tag(.name) - so now clicking on a link that uses tag name (like the tags on a specific question) doesn't work.
should be consistent - preferably always using slug in the urls and displaying name in the page.

[2013-09-25 15:19] tbrisker opened #301 "allow users to specify gender"
currently gender can only be set in the admin interface - let users update their gender in the profile editing page.

[2013-09-25 15:20] tbrisker commented on #297
currently gender can only be specified by admin interface. opened #301 to allow users to update their gender.

[2013-09-25 15:25] tbrisker commented on #295
if a user is already listed as a candidate there is no point in listing him again - the editor interface is intended to mark users as candidates. once an editor adds a user as a candidate that user is set as is_candidate automatically. if you mark them as candidates in the admin instead of adding them to a list it will lead to bugs such as this and as their user profile causing problems - no user

[2013-09-25 15:25] #295 closed, assigned to nobody

[2013-09-25 15:29] tbrisker opened #302 "candidate interface rewrite meta-issue"
An issue to collect all issues related to the candidate interface rewrite.

[2013-09-25 15:29] tbrisker commented on #297
#302

[2013-09-25 15:31] tbrisker commented on #296
#302

[2013-09-25 15:31] tbrisker commented on #292
#302

[2013-09-25 15:31] tbrisker commented on #289
#302

[2013-09-25 15:34] tbrisker commented on #266
@gl1000007  - if I understand correctly the idea is just to add a button below the question to go back to the locality page (right now the user has to guess that to get back they need to click on the logo in the menu bar)

[2013-09-25 15:36] danielhers commented on #286
I'll do that.

[2013-09-25 15:41] tbrisker commented on #296
this is related to caching. it takes about 5 minutes for the locality page to be updated - right now it shows correctly on the locality page.

[2013-09-25 15:41] #296 closed, assigned to nobody

[2013-09-25 15:48] tbrisker commented on #234
I believe this is fixed now, if not please provide a screenshot.

[2013-09-25 15:48] #234 closed, assigned to nobody

[2013-09-25 15:48] danielhers commented on #294
You are talking specifically about the candidate user page, right?
I'll add the avatar there.

[2013-09-25 15:51] tbrisker commented on #170
#302

[2013-09-25 15:58] tbrisker commented on #126
#302

[2013-09-25 15:59] tbrisker commented on #123
#302

[2013-09-25 16:00] #75 closed, assigned to nobody

[2013-09-25 16:02] tbrisker opened #304 "allow candidates to be listed as mayor candidate"

[2013-09-25 16:02] tbrisker commented on #304
#302

[2013-09-25 17:23] #287 closed, assigned to nobody

[2013-09-26 07:04] gl1000007 commented on #123
for candidates - #253

for editors:
![editor avatar 123](https://f.cloud.github.com/assets/5072931/1215913/d1371cce-2679-11e3-8c9f-d894dbf1daec.png)

maybe assign this issue to design?

[2013-09-26 09:51] gl1000007 opened #307 "Edit profile: יש להזין תוכן בשדה זה - מקום מגורים"
![pleaseinsertcontentinthisfield](https://f.cloud.github.com/assets/5072931/1216691/e380988a-2690-11e3-9d66-feb05638a2c3.PNG)
והשדה לא זמין לעריכה
תוצאה - שום מידע לא מתעדכן
אותה הודעה במשתמש שלי בגן יבנה וגם במעלה אבק
"אתנחתא קומית - תיבת "ספר לי על עצמך

[2013-09-26 11:24] gl1000007 commented on #203
new size: 103x103 instead of 142x142.
[Wireframe](http://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Ffile%2Fd%2F0B3yaQaorsX55ZVJRd0l3UWV0VjA%2Fedit%3Fusp%3Dsharing)
[Details](https://docs.google.com/document/d/13nz0ByXhC7KsE_S8QklabbTWCHMlopPkfhnKHzcia5I/edit?pli=1#bookmark=id.bya0yqm2i267)

[2013-09-26 11:24] gl1000007 commented on #204
new size: 103x103 instead of 142x142.
[Wireframe](http://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Ffile%2Fd%2F0B3yaQaorsX55ZVJRd0l3UWV0VjA%2Fedit%3Fusp%3Dsharing)
[Details](https://docs.google.com/document/d/13nz0ByXhC7KsE_S8QklabbTWCHMlopPkfhnKHzcia5I/edit?pli=1#bookmark=id.sjm7wvz4ziac)

[2013-09-26 11:26] tbrisker commented on #307
#300

[2013-09-26 11:39] gl1000007 commented on #255
[new wireframe](http://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Ffile%2Fd%2F0B3yaQaorsX55ZVJRd0l3UWV0VjA%2Fedit%3Fusp%3Dsharing) in order to provide context, look at the bottom.
and a [detailed](https://docs.google.com/document/d/13nz0ByXhC7KsE_S8QklabbTWCHMlopPkfhnKHzcia5I/edit?pli=1#bookmark=id.tgr4lxrwsuen) document in Google drive, but you don't need to read it. This is the document

[2013-09-26 11:42] gl1000007 commented on #253
Do not implement, because I'm designing a new pop-up widget, which will be in a separate issue.

[2013-09-26 11:42] #253 closed, assigned to nobody

[2013-09-26 15:24] #162 closed, assigned to nobody

[2013-09-26 15:29] #307 closed, assigned to danielhers

[2013-09-26 15:32] tbrisker commented on #294
fix does not fix.

[2013-09-26 15:53] tbrisker commented on #202
Keep the nav bar, move the search up to the navbar.

[2013-09-26 16:16] #294 closed, assigned to danielhers

[2013-09-26 17:00] #286 closed, assigned to danielhers

[2013-09-26 17:26] #304 closed, assigned to nobody

[2013-09-26 17:32] tbrisker commented on #289
Candidate removal is now supported for editors, as well as editing lists.
Deleting will not be supported for editors right now.
if absolutely necessary, a super user can delete after verifying that there are no candidates in the list.

[2013-09-26 17:32] #289 closed, assigned to nobody

[2013-09-26 17:34] tbrisker commented on #292
עדכנתי ידנית אותו כמועמד לראשות העיר ואת המגדר שלו לזכר.
נראה לי שבעיית שמירת הנתונים אולי קשורה ל #307 שנפתר - אנא בקשי ממנו לנסות לעדכן שוב את הפרטים עכשיו.

[2013-09-26 17:34] #292 closed, assigned to nobody

[2013-09-26 17:40] tbrisker commented on #301
עדכון מגדר בטופס עריכת פרופיל לא נשמר. פותח מחדש

[2013-09-26 21:12] tbrisker commented on #56
possible direction: https://github.com/aljosa/django-tinymce

[2013-09-27 05:14] gl1000007 opened #309 "Question page - Always display the inline Edit button"
![editanswer](https://f.cloud.github.com/assets/5072931/1223878/284e7b56-2733-11e3-968b-ef1c3c63f439.PNG)
not just on mouse over
This will make it easy for candidates to edit their answers

[2013-09-29 13:52] danielhers commented on #178
I think this is a problem in our version of Django, where the Reset Password form raises an exception if at least one of the users that have the specified username (there may be more than one) does not have a usable password (e.g. if they have registered with Facebook and not set a password).
I'm pretty sure the newest version of Django does not have this problem, as [this](https://github.com/djan

[2013-09-29 16:36] #309 closed, assigned to nobody

[2013-09-29 16:40] gl1000007 opened #310 "Display Candidate Note On Avatar"
![candidatenoteonavatar](https://f.cloud.github.com/assets/5072931/1233414/09c53f82-2925-11e3-8683-15799914a0f1.png)
a substitute for #253 .
This is a part of a new design, which is still in the making, but still this issue can be implemented.
Detailed explanation on [Google Drive](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit#bookmark=id.5t0kisnzun9f)

[2013-09-29 16:40] #301 closed, assigned to nobody

[2013-09-29 16:43] gl1000007 opened #311 "Expand And Collapse Button"
![expandandcollapsebutton](https://f.cloud.github.com/assets/5072931/1233420/f8e4a7ba-2925-11e3-9ac7-eed01d03baf1.png)

This is a part of a new design, which is still in the making, but still this issue can be implemented.
Detailed explanation on [Google Drive](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit#bookmark=id.cdn2z9h2tffj)

[2013-09-29 16:47] #293 closed, assigned to nobody

[2013-09-29 17:39] lotan1 commented on #262
we can delete the regional entities as well, arnt usful anyway

[2013-09-29 17:42] lotan1 opened #312 "remove (תושבים למועמד) stats"
irrelevet isnt it?
10 מועמדים רשומים (19630 תושבים למועמד)
12 מועמדים רשומים (67033 תושבים למועמד)

[2013-09-29 17:47] lotan1 commented on #188
must change!
![screenhunter_64 sep 29 20 47](https://f.cloud.github.com/assets/4595165/1233512/2d8a0b6e-292f-11e3-927d-d8d004e62a68.jpg)
![screenhunter_63 sep 29 20 46](https://f.cloud.github.com/assets/4595165/1233513/2d8e8da6-292f-11e3-81b0-5e2b051bf424.jpg)
![screenhunter_64 sep 29 20 46](https://f.cloud.github.com/assets/4595165/1233514/2dac5304-292f-11e3-98c7-403bf975c0c8.jpg)

[2013-09-29 18:11] lotan1 commented on #240
#210 , #209, #126
temporary fix can be: display on locality page only mayor candidates, and municipality lists.
display them in two separate slots orderd by answers
anyway its should changed soon

[2013-09-29 18:15] lotan1 commented on #297
dont wont to be not feminist but the default should be male otherwise all the candidate that we didnt specifie and statisticly about 80% of them will appear "אבי לוי מועמדת ברשימת נעל לראשות משהו"

[2013-09-29 18:18] lotan1 opened #313 "rewrite header of candidate page"
should be מועמד ברשימת דרך חדשה לראשות {עיריית} באר שבע
![screenhunter_64 sep 29 21 16](https://f.cloud.github.com/assets/4595165/1233562/8eef57f2-2933-11e3-8a39-cc1d5a9d11a2.jpg)

[2013-09-29 18:23] lotan1 opened #314 "allow local editors to edit candidates pages"
enhancement
needed to create the first "must change" user page.
could sloved if we will use list pages as mayor candidates pages

[2013-09-29 18:31] tbrisker commented on #313
לא כל הרשויות הן ערייה - חלקן מועצה מקומית או אזורית ולכן לא הוספתי עיריית

[2013-09-29 18:34] #297 closed, assigned to nobody

[2013-09-29 18:36] tbrisker commented on #240
how should we display the lists, as they have no avatar (and as they can upload any image they want, we can't simply use their image as it won't be a fixed size)?

[2013-09-29 19:29] lotan1 commented on #240
their white letters voting note?

[2013-09-29 19:32] gl1000007 commented on #312
אתה יכול ללמוד מזה על מידת ה"פעילות" של היישוב.
נניח שיש הרבה מועמדים על יישוב קטן, בטח קורה שם משהו מעניין. אולי היישוב מלא באקטיביסטים?
מצד שני, מעט מועמדים על יישוב גדול יכול אולי להגיד שטוב להם עם ראש הרשות הנוכחי, או שהתבצע שם איזה מהלך בלתי חוקי (השתקת מתחרים?), או תאוריית הקונספירציה החביבה עליך.
בכל אופן, למידע הזה יש משמעות והוא יוצר פתח לחקירה נוספת. אני רוצה לחשוב שגולשים חדי עין יבחינו

[2013-09-29 20:16] gl1000007 commented on #240
![240 group candidates](https://f.cloud.github.com/assets/5072931/1233802/52f27422-2943-11e3-8843-d72c564558ff.PNG)
At the left, user can select a list and filter by that. Default is "All the lists", which is not shown here.
At the top-right, user can filter by candidate type: mayor, city council or no filter.
Both of the filtering options take action simultaneously.
What do you think?

[2013-09-30 09:16] tbrisker commented on #240
take into account that in some localities there may be over 100 council candidates.
i think that at first we should only show mayor candidates and lists and add filtering later - but the layout looks good.

[2013-09-30 09:18] tbrisker commented on #188
related to #114

[2013-09-30 09:57] tbrisker commented on #188
for now made our logo default for all pages as most users and all localities don't have an image yet. closing this issue - if we want to change this later open a new issue.

[2013-09-30 10:32] tbrisker commented on #188
turns out FB doesn't allow specifying images on CDNs. will have to find a way to work around.

[2013-09-30 10:43] gl1000007 commented on #240
How about adding an Expand button, that expands the layout to fill all of the vertical space in the viewport (minus the height of the button itself)?

[2013-09-30 10:47] tbrisker commented on #188
from facebook docs:
We suggest that you give us an image of at least 600x315 pixels. However, bigger is better, so if you have a 1200x630 or larger image that you can use, please give it to us. Also, we recommend that you keep images as close to a 1.91:1 aspect ratio as possible to avoid cropping. (Note: image sizes must be no more than 5MB in size.) Note that you can include more than that one og

[2013-09-30 11:28] tbrisker opened #315 "Retire Maale Avak"
It seems like the editor event will be a good time to retire maale avak as the default page for unregistered users.
Any suggestions as to how we should choose the new default page?
The one with most questions? most answers? most candidates? just a random one?
Note - do not remove maale avak from the DB as it will cause problems with search engines, just change the default page.

[2013-09-30 11:46] tbrisker opened #316 "about page"
there is a link to an about page in the footer. currently, there is no about page.
either make an about page or remove the link.

[2013-09-30 11:50] #114 closed, assigned to nobody

[2013-09-30 12:03] #202 closed, assigned to nobody

[2013-09-30 12:03] #279 closed, assigned to nobody

[2013-09-30 12:26] #177 closed, assigned to nobody

[2013-09-30 12:46] #204 closed, assigned to nobody

[2013-09-30 12:49] lotan1 commented on #316
there is no about page?

2013/9/30 tbrisker notifications@github.com

[2013-09-30 12:50] tbrisker commented on #316
oops. not on my local computer.

[2013-09-30 12:50] #316 closed, assigned to nobody

[2013-09-30 13:36] #251 closed, assigned to daonb

[2013-09-30 15:04] gl1000007 commented on #240
Updating the [Spec](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit?usp=sharing) now.

[2013-09-30 15:31] lotan1 opened #317 "Fix youtube link on list page"
redirect to: http://www.youtube.com/user/http%3A//www.youtube.com/user/netanyaahat?feature=watch
can be stright redirect so it can handle YT users as well as single movie link

[2013-09-30 15:34] lotan1 commented on #107
must change
![screenhunter_64 sep 30 18 33](https://f.cloud.github.com/assets/4595165/1238229/b4307584-29e5-11e3-83fe-2c743941e0e8.jpg)

[2013-09-30 15:38] danielhers opened #318 "Allow candidate to post links to their profile"
The module django-links is already installed and the Candidate model supports the required fields, but the edit_profile form does not yet support adding links. Need to add the required controls to the form.

[2013-09-30 15:39] danielhers opened #319 "Add 'edit my list' link to 'edit profile' form for candidates"
Candidates should be able to easily go to edit their CandidateList from their profile. Add the link.

[2013-09-30 16:25] gl1000007 commented on #240
![dei85yt8goig](https://f.cloud.github.com/assets/5072931/1238599/8756a23a-29eb-11e3-9358-951bee17d530.PNG)
Updated. [Read sections 6-11](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit#bookmark=id.c49yn9o2yab4).
**Now closing, because this issue consists of several sub-issues, which will be opened separately.**
This issue will remain for reference.

[2013-09-30 16:25] #240 closed, assigned to nobody

[2013-09-30 16:37] lotan1 opened #320 "allow users to change their password from "ערוך פרופיל" page"
Needed because we provide candidates temp pass that cant change till activating the e-mail, and require dissconnecting
http://localshot.org.il/u/profile/

[2013-09-30 16:41] danielhers commented on #318
What I discovered so far: the "links" app is very simple and doesn't do anything special.
The field is displayed in the admin interface for candidate objects because in polyorg/admin.py there is a LinksInline object which takes care of this.
We want to do something similar for user/views.py for edit_profile for candidates.

[2013-09-30 17:12] gl1000007 commented on #107
1. No time to design responsive spec!
2. There _is_ a layout that makes the change [here (specific bookmark)](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit#bookmark=id.nzrbtpczb2s4). The problem is lack of time to write documentation in Google Drive and break it into issues.
3. Why you are in Netanya and the navbar displays Beer-Sheva? When I tried, I saw maa

[2013-09-30 17:26] ozomer commented on #282
I will start working on this if none else already started.

[2013-09-30 17:29] danielhers commented on #228
My attempts so far are in this branch: https://github.com/danielhers/open-shot/tree/autosuggest

[2013-09-30 17:30] lotan1 commented on #107
we need some how to allow at least the use of Enter

[2013-09-30 17:47] tbrisker commented on #107
lotan - you are talking about a different issue - #56 .

[2013-09-30 17:55] lotan1 commented on #107
תכלס

[2013-10-01 08:30] #282 closed, assigned to nobody

[2013-10-01 08:37] tbrisker opened #323 "improve admin filtering and display of questions and answers"

[2013-10-01 08:54] gl1000007 opened #324 "Add horizontal scrollbar when viewport is too narrow"

[2013-10-01 13:41] tbrisker commented on #320
9d2b5a8

[2013-10-01 13:41] #320 closed, assigned to nobody

[2013-10-01 13:43] tbrisker commented on #170
obsoleted by new layout by @gl1000007 and #318

[2013-10-01 13:43] #170 closed, assigned to nobody

[2013-10-01 13:47] tbrisker commented on #88
could be done with this: https://bitbucket.org/mjs7231/django-dbbackup

[2013-10-01 14:31] tbrisker commented on #317
dd7f785

[2013-10-01 14:31] #317 closed, assigned to nobody

[2013-10-01 19:41] danielhers commented on #318
I think the edit_profile form will just have hard-coded fields for Facebook profile, Youtube URL, etc., and these will be translated to Link objects, calling the add_link function in the view when the form is submitted. The admin form will still allow editing links as it does now (which is not so intuitive for users, but OK for admins).
@daonb , let's discuss how to do this, since you have experie

[2013-10-02 06:05] danielhers opened #325 "Richer formatting for candidate list platform (מצע)"
Currently the platform is shown as plain text with no support for links or images, and even newlines are omitted.
Some lists publish their platform as an image, so we either have to copy the text manually or using OCR, or to post a link to the image.
What's more important is to respect newlines in the platform text, to make it readable.
Example:
![selection_039](https://f.cloud.github.com/assets/2

[2013-10-02 08:43] tbrisker commented on #267
The updated list is here: http://bocharim.org.il/files/list.pdf, we need to update the [cbs file](https://docs.google.com/spreadsheet/ccc?key=0AibPNoUcfXcMdHFrSmlOc1plZTA5Y1dGWjc1ZXh3Y3c&usp=drive_web) on the drive and scrape it again.

[2013-10-02 08:46] tbrisker commented on #262
entities that are up for election are these: http://bocharim.org.il/files/list.pdf

[2013-10-02 08:47] tbrisker commented on #262
@daonb  - would deleting entities from the DB cause any problems? what about the regional entities?

[2013-10-02 08:48] tbrisker commented on #262
also regional councils that are up for elections : http://bocharim.org.il/#idBchirotLamoazot (not in the pdf)

[2013-10-02 09:12] lotan1 commented on #262
maybe just hide those that wont ellect as done with regions
I can create the XLS of localities 1/0 for participating and updated
nummber of seats

2013/10/2 tbrisker notifications@github.com

[2013-10-02 09:28] danielhers opened #328 "Update CBS data"
Some of the data is not up-to-date.
For example, in מודיעין-מכבים-רעות the number of citizens shows as 80200 but the current number is 85501. The number of seats shows as 15 but it should be 19 for the upcoming elections.

[2013-10-02 09:58] tbrisker commented on #328
duplicate #267

[2013-10-02 09:58] #328 closed, assigned to nobody

[2013-10-02 09:59] tbrisker commented on #325
duplicate #56

[2013-10-02 09:59] #325 closed, assigned to nobody

[2013-10-02 11:40] #319 closed, assigned to nobody

[2013-10-02 12:02] #323 closed, assigned to tbrisker

[2013-10-02 12:03] tbrisker commented on #314
will require rewriting of the profile edit form to support one user editing another user's details.

[2013-10-02 12:37] tbrisker commented on #318
#302

[2013-10-02 12:38] tbrisker commented on #107
Will not change design to responsive until after elections.

[2013-10-02 12:42] tbrisker opened #329 "Add previous elections voting rates to locality page"
if we can find them...

[2013-10-02 12:46] tbrisker commented on #312
I agree with Lotan - this data is irrelevant to 95% of our users at least, not to mention that it might be misleading in localities where we didn't enter all the candidates.
I would rather focus on more interesting stats - such as voting rates (see #329).

[2013-10-02 12:49] #312 closed, assigned to nobody

[2013-10-02 12:51] daonb commented on #318
what you're saying makes sense - Add the specialized fields to the form and in the view add the links.

[2013-10-02 12:52] danielhers commented on #318
Yes, working on it.

On 2 October 2013 15:51, benny daon notifications@github.com wrote:

[2013-10-02 12:54] tbrisker commented on #203
after discussing this with @gl1000007 , will not fix. users know where their city is, and if they don't know and want to find out they can look it up in google maps on their own.

[2013-10-02 12:54] #203 closed, assigned to nobody

[2013-10-02 12:57] tbrisker commented on #241
@gl1000007 - your input on this issue please.

[2013-10-02 12:59] danielhers commented on #318
I'm actually pretty much done, as you can see on [my branch](https://github.com/danielhers/open-shot.git), but the only problem is that the icons are not found in the locations set by link_type.image. Is this set in the database?

[2013-10-02 12:59] lotan1 commented on #329
מה שאני מכיר זה באקסלים נפרדים לפי רשות
http://rashoyot.moin.gov.il/default.aspx?m=m

2013/10/2 tbrisker notifications@github.com

[2013-10-02 13:04] #190 closed, assigned to nobody

[2013-10-02 13:06] tbrisker commented on #164
please separate this to issues for every part. some are already done, some won't happen. closing.

[2013-10-02 13:06] #164 closed, assigned to nobody

[2013-10-02 13:09] tbrisker commented on #158
won't fix for current elections. maybe in the future.

[2013-10-02 13:12] lotan1 commented on #158
can also post it to the after ellection milestone
סחטיין על הקצב

2013/10/2 tbrisker notifications@github.com

[2013-10-02 13:58] tbrisker commented on #250
todo: fix editor count to be correct, add answer and candidate count.

[2013-10-02 15:28] #318 closed, assigned to danielhers

[2013-10-02 20:33] polinas123 opened #331 "מנהל לא יכול למחוק מועמדים ברשימות שלא מהעיר שלו"
אני יכולה לפתוח את מסך הניהול של הרשות הפעילה (מתוך האתר) אבל אין לי הרשאה למחוק כמו שעורך מוחק (רק דרך הניהול).

[2013-10-02 20:36] polinas123 opened #332 "עורכים מקבלים 500 כשמנסים למחוק מועמד מרשימה ברשות שלהם"
זה קורה אחרי שנוצרו (מסיבה לא ברורה לי) כפילויות ברשימות. מועמד מסויים מופיע פעמיים וכשמנסים למחוק אחד מהם לא מצליחים.
בממשק ניהול אני רואה שיש באמת שני יוזרים (זה לא קשור לדחיפה המרוכזת של מועמדים)

אין לי דוגמא טובה, מחקתי כבר את מה שהיה כפול וידעתי שכפול.

[2013-10-02 20:38] tbrisker commented on #332
should be fixed on next version. need to discover also how duplicates are created.

[2013-10-02 21:01] polinas123 opened #333 "candidates are not displayed in dropdown menu for adding candidates to lists"
if user is set to "is candidate" editor will not see it on the menu
the workaround is press יצירה with no item selected and then all users are visible

[2013-10-03 06:27] danielhers opened #334 "In admin interface, cannot save user with Hebrew username"
Users can register with a Hebrew username, but when trying to edit the user in the admin interface, the form cannot be saved without changing the username to Latin characters.

[2013-10-03 07:34] tbrisker commented on #334
duplicate #149

[2013-10-03 07:37] tbrisker commented on #333
the first part is a feature, not bug - users should not be set to is_candidate manually, adding them to a list automatically marks them as is_candidate.
the second part is a serious bug - only local users who are not editors or candidates should be available to add as candidates (I am guessing this is how we got the duplicate candidates in #332 )

[2013-10-03 07:41] #331 closed, assigned to tbrisker

[2013-10-03 08:02] lotan1 commented on #329
Here it is
http://www.moin.gov.il/Subjects/Bchirot/Documents/achoz.xls

2013/10/2 lotan rosenblum lotanro@gmail.com

2013/10/2 tbrisker notifications@github.com

[2013-10-03 08:20] #334 closed, assigned to nobody

[2013-10-03 08:27] danielhers commented on #149
@tbrisker as long as this isn't fixed, the username regex in user/forms.py should be the same as the one in the model.

[2013-10-03 08:29] danielhers commented on #149
Hey, @daonb , but since we have our own django fork now, why not fix the line you mentioned?

[2013-10-03 09:03] michalten opened #336 "Show candidate list and position in answer to question"
At the moment, there's just the candidate name, but we don't really care about his name; We care about which list he's on and whether he's the first in the list or somewhere in the middle (how important he is).

(See picture - I don't really know who Yosi is...)

![image](https://f.cloud.github.com/assets/717615/1260398/6647a46a-2c0a-11e3-97db-ece2968005ed.png)

[2013-10-03 09:12] michalten opened #337 "Move platform to end of list page"
A list's platform can be very long, so it should be at the end of the page as to not hide other things. Right now you would have to scroll all the way down just to see who's on the list, which is much more interesting than the platform.

(In the picture - Where are the candidates hiding?)
![image](https://f.cloud.github.com/assets/717615/1260435/78ae4608-2c0b-11e3-834e-35975f195cd4.png)

[2013-10-03 11:28] #333 closed, assigned to nobody

[2013-10-03 12:49] tbrisker commented on #332
should be fixed now. reopen if still exists.

[2013-10-03 12:49] #332 closed, assigned to tbrisker

[2013-10-03 12:52] tbrisker commented on #110
https://pypi.python.org/pypi/qrcode

[2013-10-03 13:34] tbrisker opened #338 "bug preventing changing avatar when logged in via faceboook"
from facebook:
Amos Shtibelman
יש לכם בעייה בתהליך ההרשמה. ניסיתי להכנס עם פרופיל הפייסבוק שלי תוך שאני מנסה להחליף תמונת פרופיל שתשמש אותי. קיבלתי הודעת שגיאה שעצרה אותי בתהליך ההרשמה, ניסיתי לעשות זאת עם מספר תמונות וקיבלתי את אותה התוצאה.

https://www.facebook.com/photo.php?fbid=744287248921481&set=a.210740292276182.66759.167171689966376&type=1&comment_id=116473366&offset=0&total_comments=3

[2013-10-03 14:36] tbrisker commented on #338
דיווח מפורט:
שאני מנסה לעשות לוג אין עם חשבון הפייסבוק הודעת השגיאה היא : 413 entity to long.
 כמו כן לא ניתן בכלל לעשות לוג אין עם חשבון הגוגל שלי הוא אפילו לא מביא אותי לאפשרות של שם וסיסמה.
לידיעתך אני עובד עם ipad אם יש לכך משמעות.

[2013-10-03 20:37] tbrisker commented on #110
הקישור הוא למודול פייתון שמייצר QR בצורה קלה ופשוטה, כהתחלה של פתרון לאישו.

2013/10/3 Gilad L notifications@github.com

##

יום טוב,
תומר בריסקר

[2013-10-05 08:47] gl1000007 commented on #158
אם זה כבר במיילסטון של אחרי הבחירות, בואו נפתח אותו כדי שלא נפספס.
בד"כ מסתכלים רק על הפתוחים...
אם נמשיך אותו או שנפתח חדש, זו החלטה נפרדת שנקבל אחרי הבחירות
בינתיים אנחנו רק צריכים לזכור שהנושא הזה קיים

[2013-10-05 08:57] gl1000007 commented on #310
for the new square note images, try 8x8 and 16x16.
sizes are only a recommendation.
link to folder in [Google Drive](https://drive.google.com/folderview?id=0B3yaQaorsX55X2dzdFJWbFhLY3M&usp=sharing)

[2013-10-05 09:58] polinas123 opened #339 "לא ניתן להפעיל יוזר שנוצר עם שמשתמש בעברית"
או שצריך לתקן או שצריך לרשום בבירור שיש עם זה בעיה
לדוגמא
http://localshot.org.il/admin/auth/user/710/

תנסו להפוך לפעיל ומקבלים הודעה ששם המשתמש לא חוקי
זה דף של מועמדת שניסתה להירשם בעצמה וזה מה שיצא
אז חשוב לטפל בזה

[2013-10-05 10:02] polinas123 opened #340 "please delete example.com from sites"

[2013-10-05 12:13] tbrisker commented on #340
Currently all questions and users are linked to site example.com for some reason - DO NOT DELETE FROM DB!

[2013-10-05 14:25] polinas123 opened #341 "can not erase or change user from users menu"
try ofek.birnholtz
returns 500

[2013-10-05 14:30] tbrisker commented on #341
Users should not be deleted from admin interface. uncheck "is_active" instead.

[2013-10-05 14:30] #341 closed, assigned to nobody

[2013-10-05 14:31] tbrisker commented on #339
duplicate #149

[2013-10-05 14:31] #339 closed, assigned to nobody

[2013-10-05 17:13] polinas123 commented on #340
This is why I didn't delete it. can it be fixed?
On 5 באוק 2013 15:13, "tbrisker" notifications@github.com wrote:

[2013-10-06 08:03] #266 closed, assigned to nobody

[2013-10-06 08:08] tbrisker commented on #126
Currently editors add candidates, and candidates can also add other candidates to their own list.
Closing this issue - open new issues for other methods of adding candidates. (invites? self-nomination?)

[2013-10-06 08:08] #126 closed, assigned to daonb

[2013-10-06 08:10] tbrisker commented on #123
changing issue title to "Add a special marking for editor pages/avatars". as candidates are already show in page, and candidate avatar is #310

[2013-10-06 08:48] tbrisker opened #343 "move all candidate handling to polyorg model, clean dead code from user module"

[2013-10-06 08:50] #302 closed, assigned to tbrisker

[2013-10-06 09:14] lotan1 commented on #340
Leads to Server Error (500) when adding profile to user from admin panel,
either for localshot.org.il and example.co.il

2013/10/5 polinas123 notifications@github.com

[2013-10-06 09:35] danielhers opened #344 "Editor notification links to example.com"
I got the "new candidate" email because I'm a local editor, and the link to the candidate page was into example.com rather than localshot.org.il.
This email is generated from user/templates/user/emails/editors_new_candidate.html which uses ROOT_URL, which is set to be the URL of the site whose ID is 1. Why is this example.com?

[2013-10-06 09:42] tbrisker commented on #344
related to #340

[2013-10-06 09:43] tbrisker commented on #340
@lotan1 - your comment doesn't seem to be related as it doesn't matter which site it is. please open new issue with steps to reproduce

[2013-10-06 09:44] tbrisker commented on #340
fixing this should include moving all objects from example.com to localshot.org.il and making sure no new objects are created there before finally removing unused sites from DB - @daonb ?

[2013-10-06 09:50] daonb commented on #340
wouldn't renaming "example.com" to "localshot
org.il" do the trick?
On Oct 6, 2013 12:44 PM, "tbrisker" notifications@github.com wrote:

[2013-10-06 09:54] danielhers opened #345 "In admin interface, need link from candidate to user"
When editing the candidate it would be useful to have a link or an inline form to edit the associated user's fields.

[2013-10-06 10:03] tbrisker commented on #340
deleted localshot.org.il and test.com and renamed example.com to localshot.org.il.
9 profiles may have been affected as they were related to localshot and not example - please check manually @polinas123 (some may not be active at all):
laura.vherton
ofek.birnholtz
ofekbirnholtz
edna.friedman
debi.benami
yafa.sehalo
meir.margalit
rona.orovano
roy.folkman

[2013-10-06 10:03] #340 closed, assigned to nobody

[2013-10-06 10:04] tbrisker commented on #344
fixed

[2013-10-06 10:04] #344 closed, assigned to nobody

[2013-10-06 10:07] tbrisker commented on #149
consider preventing hebrew usernames altogether because of all the problems they create.

[2013-10-06 10:11] danielhers commented on #149
Is this a decision? As I said, we just need to edit user/forms.py for that, I think.

[2013-10-06 10:15] tbrisker commented on #149
I would like input from @daonb @lotan1 - what do you think? This will require renaming and notifying the user who currently have hebrew usernames.

[2013-10-06 10:21] polinas123 commented on #340
yes, all mine. all active.
I'll check them thanks

2013/10/6 tbrisker notifications@github.com

##

localshot.org.il _השו"ת המקומי_
_אתר שאלות ותשובות לבחירות המקומיות_
בואו. שאלו. השפיעו

[2013-10-06 10:29] polinas123 commented on #340
@tbrisker, עכשיו כשאני נכנסת לכל אחד מהם לא מופיע להם פרופיל אבל הם פעילים
(אני מניחה שזה בגלל השינוי הנ"ל)
אם אני מנסה להוסיף פרופיל ("הוספת פרופיל") אני מקבלת 500
איך אפשר לקשר להם פרופיל בלי למחוק אותם? אלה מועמדים שכבר שלחנו להם שם
משתמש וססמא והם מקושרים לרשימות ולכן ואני מעדיפה מאוד להימנע מיצירת שם חדש.

2013/10/6 tbrisker notifications@github.com

##

localshot.org.il _השו"ת המקומי_
_אתר ש

[2013-10-06 10:58] lotan1 commented on #149
its about 20 active usres
can we just obligate english string when registering from now on?

2013/10/6 tbrisker notifications@github.com

[2013-10-06 11:01] tbrisker commented on #149
It might cause problems for the existing users.

[2013-10-06 11:23] danielhers opened #346 "Increase size of question and answer text"
At least on my screen (which has a reasonable resolution), the question and answer text is readable but very small. For some people it may be unreadable, and they shouldn't have to zoom in because it's the main content of the site. The titles are fine, but the contents should be enlarged.

[2013-10-06 11:31] lotan1 commented on #315
must change
just spoke to or from mynet its his input as well

maybe by ip locality if its from active locality else random from the
active answerd localities

2013/9/30 tbrisker notifications@github.com

[2013-10-06 11:39] tbrisker commented on #315
will change soon to localities with answers, but the welcome flatblock has to change

[2013-10-06 11:54] lotan1 commented on #315
http://localshot.org.il/admin/flatblocks/flatblock/6/

2013/10/6 tbrisker notifications@github.com

[2013-10-06 12:02] #315 closed, assigned to nobody

[2013-10-06 12:08] tbrisker commented on #315
Retired. Right now should display random locality with answers.

[2013-10-06 12:39] danielhers commented on #255
Working on it.

[2013-10-06 14:24] #56 closed, assigned to nobody

[2013-10-06 14:28] tbrisker opened #347 "make urls from text fields open in new tab"
Currently urls are automatically made into links using the [urlize](https://docs.djangoproject.com/en/dev/ref/templates/builtins/#urlize) template tag.
Should be fixed so that the tag still works as expected only adding target='_blank' to the links.

[2013-10-06 14:44] tbrisker commented on #346
related to #241

[2013-10-07 05:23] daonb opened #349 "Order questions based on number of answers and then by the number of askers"

[2013-10-07 05:36] daonb commented on #149
@MeirKriheli, @shaib what's your take? can we change our fork to support hebrew usernames? Mayber create a special branch till we do a proper refactor?

[2013-10-07 05:40] daonb commented on #340
יעזור לקבל את הכתובת שנותנת 500...

2013/10/6 polinas123 notifications@github.com

##

http://yeda.us/daonb

[2013-10-07 06:46] polinas123 commented on #340
בני, בעיקרון כבר סידרנו את זה תומר ואני, אז לא יודעת כמה רלוונטי כרגע,
הכתובות היו העמודים של כל אחד מהרשומים מעלה בממשק הניהול. אם זה להבא, ארשום
(אני משתדלת לרוב לתת דוגמא).

בתאריך 7 באוקטובר 2013 08:40, מאת benny daon notifications@github.com:

##

localshot.org.il _השו"ת המקומי_
_אתר שאלות ותשובות לבחירות המקומיות_
בואו. שאלו. השפיעו

[2013-10-07 08:45] #250 closed, assigned to nobody

[2013-10-07 09:13] #255 closed, assigned to nobody

[2013-10-07 09:30] lotan1 commented on #149
בנתיים נרשמים עוד משתמשים גם בעברית, אם זו התלבטות, למה לא לפחות לרשום
בטופס התחברות שחובה באנגלית?
כרגע לא ניתן לשייך מועמדים עם יוזר עברי לרשימות וזה מחייב את השינוי הידני
אם הם נרשמים בעצמם.

2013/10/7 benny daon notifications@github.com

[2013-10-07 10:35] daonb commented on #76
should we notify editors as well? @lotan1

[2013-10-07 10:46] lotan1 commented on #76
yes

[2013-10-07 14:42] lotan1 opened #350 "promote our site on google"
maybe need to add meta description
@talbatz
https://docs.google.com/spreadsheet/ccc?key=0AibPNoUcfXcMdDgyeEZnb3RVd3k0RVBFYkFSV2N5b0E&usp=drive_web#gid=0

[2013-10-07 15:56] tbrisker opened #351 "only let registered users flag questions."

[2013-10-07 16:03] polinas123 opened #352 "דגל אדום יושב קרוב מדי לתמיכה בשאלה - אנשים מתבלבלים"
קיבלתי שני דגלים בארבע שעות
די :)

[2013-10-07 16:04] M4XIMU5 commented on #350
הצעה ל Meta Description
לוקאלשוט (השו"ת המקומי) הוא אתר שהוקם במיוחד לקראת הבחירות לעיריות ברשויות המקומיות, מאפשר לאזרחים לשאול את המועמדים שאלות מוניציפליות ולקבל מכל המועמדים לבחירות' תשובות בשביל לבצע את הבחירה המושכלת ביותר לקראת הבחירות המקומיות הקרובות ב 22.10.13.

[2013-10-07 16:05] tbrisker commented on #352
add a confirm dialog before flagging

[2013-10-07 16:10] M4XIMU5 commented on #350
הצלחתי לשלב כאן 7 מילות חיפוש מתוך הטבלה. אם זה מספיק טוב אז נשאר רק להטמיע את זה.

[2013-10-07 16:46] polinas123 opened #353 "candidate lists indexing doesn't seem to effect display"
http://localshot.org.il/po/list/110
עדנה פרידמן היא מס 2
http://localshot.org.il/admin/polyorg/candidate/184/

[2013-10-07 16:48] ricardinho commented on #209
Took this. Please assign me :)

[2013-10-07 16:54] lotan1 commented on #352
דיגול רק בתוך עמודי השאלות
תמיכה בעמוד הראשי

2013/10/7 tbrisker notifications@github.com

[2013-10-07 17:11] tbrisker commented on #353
add order_by ordinal to candidate model

[2013-10-07 17:12] tbrisker commented on #184
@michalten

[2013-10-07 17:15] lotan1 commented on #209
explain?

2013/10/7 Ricardo Moreno notifications@github.com

[2013-10-07 17:19] ricardinho commented on #209
Working on this issue right now... If you are too then i'll do something else...

[2013-10-07 17:28] lotan1 commented on #209
good luck!

2013/10/7 Ricardo Moreno notifications@github.com

[2013-10-07 17:38] polinas123 opened #355 "insert MOIN candidate info"
XLS file can be found here

http://www.moin.gov.il/SubjectDocuments/bechirot/list-election-2013.xlsx

[2013-10-07 17:48] moshe742 commented on #256
did this

[2013-10-07 17:48] #257 closed, assigned to danielhers

[2013-10-07 18:07] gl1000007 opened #357 "Design new icons for Flag, Delete Question Buttons"
![flagdeletebuttons](https://f.cloud.github.com/assets/5072931/1282793/5658703e-2f7a-11e3-9769-f3079262166b.PNG)

Max is currently creating the new pictures. When he finishes, he will post a link here and I'll open a separate issue for applying them in code.
@M4XIMU5

[2013-10-07 18:45] gl1000007 opened #358 "Design a large Note image for List Page"
![zedek](https://f.cloud.github.com/assets/5072931/1283088/4a92a1e8-2f7f-11e3-9866-fc0763179412.PNG)
The image size is exactly like candidate the and user avatar: 140x140 px.
The note should be empty and letters will be added later by code.
This is bullet no.1 in the [List page in the spec](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit#bookmark=id.nzrbtpczb2s

[2013-10-07 19:19] gl1000007 opened #359 "Design Default avatar, Unregistered User Avatar"
Current default avatar is Gravatar's default image.

The Default Avatar is a person's silhouette: one for male and one for female. As far as I know, choosing a gender while registering a must.

The Unregistered user is intended for use on the List Page, for candidates that are in the list but not yet created a user on the site:
![shabzak](https://f.cloud.github.com/assets/5072931/1283274/5f5860ce-

[2013-10-07 21:12] gl1000007 commented on #352
להפריד את הכפתורים ויזואלית, שיהיה קצת רווח ביניהם, וגם שייראו כמו כפתורים נפרדים עם 4 פינות מעוגלות לכל כפתור.
אפשר להתחיל מ- 10px ואם צריך אז להגדיל את הרווח, לפי משוב מפולינה.

[2013-10-07 21:13] gl1000007 commented on #351
+1

[2013-10-07 21:25] gl1000007 commented on #349
In any locality, there are far more potential askers than candidates, therefore I think the exact opposite from you.
We said before that a well supported question reflects what's important to the citizens to know about.
What are your considerations?

[2013-10-07 21:32] gl1000007 commented on #337
In the [new layout](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit?usp=docslist_api), the vertical space of that text will be limited to 300 pixels, followed by an "Expand" button.

I'm working on dividing the spec into issues. Stay tuned ;)

[2013-10-08 06:51] daonb commented on #349
As a voter I want to raise questions but more importantly read answers.
Questions with no answers are useless when it comes to choosing who you
vote for.

On 8 October 2013 00:25, Gilad L notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-10-08 07:29] lotan1 commented on #352
בהמשך לאלכס בגוגל גרופ
must change
כרגע בעמוד רשות יש רק דגלים אדומים,
צריך רק כפתורי תמיכה או ביטול תמיכה (ללא רשומים יפנה להרשמה)
ובתוך עמוד השאלה, תמיכה לצד דיגול (או מחיקה לבעלים ולעורכים)
#351 #357

[2013-10-08 10:08] danielhers commented on #352
There are too many suggestions here for how to resolve this. What's the decision? To remove the "flag question" button from the question list and only show it in the question details page?

[2013-10-08 10:34] Talbatz commented on #352
maybe a better looking set of icons / buttons can solve the issue? i can send an alternative option if you guys are intrerested

[2013-10-08 10:48] lotan1 commented on #352
diffrent issues:
-remove flags from locality page
-add support q to locality page for every user (redirect to login)
-add support q to q page for every user (redirect to login)
-improve icons

2013/10/8 Talbatz notifications@github.com

[2013-10-08 12:07] #256 closed, assigned to nobody

[2013-10-08 13:08] tbrisker opened #362 "Improve performance by caching and reducing sql calls"

[2013-10-08 13:09] #209 closed, assigned to nobody

[2013-10-08 13:15] #351 closed, assigned to nobody

[2013-10-08 13:20] danielhers commented on #352
Do you think there should be an [icon](http://fortawesome.github.io/Font-Awesome/icons/) for "add answer"?
Maybe http://fortawesome.github.io/Font-Awesome/icon/reply/

[2013-10-08 13:28] Talbatz commented on #352
that specific icon you linked to may be a lil' more suitable for a 'back' button... i think we should go for something more obvious/literal like a question mark with a little + next to it.

Generally, i recommend keeping a consistent look and feel  to all the button/icons/action on the site, it would make the site more coherent.

[2013-10-08 13:29] Talbatz opened #364 "h"

[2013-10-08 14:19] daonb opened #365 "When a user add a description to a question it looses all followers"
happened to me: http://localshot.org.il/97/qna/%D7%90%D7%99%D7%9A-%D7%AA%D7%9C%D7%97%D7%9E%D7%95-%D7%91%D7%AA%D7%95%D7%A4%D7%A2%D7%94-%D7%A9%D7%9C-%D7%9B%D7%A8%D7%98%D7%99%D7%A1%D7%99-%D7%91%D7%99%D7%A7%D7%95%D7%A8-%D7%A2%D7%9D-%D7%AA%D7%9E%D7%95%D7%A0%D7%95%D7%AA-%D7%A9%D7%9C-%D7%91%D7%97%D7%95%D7%A8%D7%95%D7%AA-%D7%9B%D7%9E%D7%A2%D7%98-%D7%A2%D7%A8%D7%95%D7%9E%D7%95%D7%AA-%D7%A9%D7%A6%D7%A6%D7%9

[2013-10-08 14:44] #364 closed, assigned to nobody

[2013-10-08 15:00] danielhers opened #367 "test_post_question_facebook appears twice in qa/tests.py"
The second one should probably be test_post_answer_facebook, and right now it overrides the first definition.
When I rename it, the first definition is active again, but it fails... I can't seem to figure out why. Apparently post_question returns 200 (OK) rather than 302 (redirect) which is the expected code when a question is published.

[2013-10-08 15:11] polinas123 opened #368 "להוסיף לינק להרשמה עבוד מועמדים במסך ההרשמה"
מועמדים צריכים להיות מזוהים על ידינו ולהיות משויכים לרשימה.
לכן מועמד שאין לו שם משתמש וססמא ואין לו עורך לפנות אליו לא ידע מה לעשות מרגע שנרשם דרך האופציות האפשריות
בנוסף, אחרי שניצור משתמשים לרוב המועמדים מהאקסל של משרד הפנים - הם יצטרכו לקבל מאיתנו פרטי הרשמה ממילא.

בקיצור - להפנות אותם לגוגלדוק ממסך ההרשמה ולא רק ממסך האודות שאליו מעטים יגיעו

[2013-10-08 16:39] polinas123 opened #369 "candidate image not displayed on candidate list page"
IMAGE URL
https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/601753_521097534644041_708687844_n.jpg

USER 293
http://localshot.org.il/Hanoch.Verdiger/

[2013-10-08 16:59] polinas123 commented on #369
עוד דוגמא
http://localshot.org.il/Shmuel.Shkedi/

[2013-10-08 17:20] polinas123 commented on #369
http://localshot.org.il/tamir.n/

[2013-10-08 17:37] tbrisker opened #370 "candidate list view shows user's entity in title and header and not the list's"

[2013-10-08 17:49] tbrisker commented on #369
should work now, might need to delete the url, save the user, and then add the url again for it to work.

[2013-10-08 17:49] #369 closed, assigned to nobody

[2013-10-08 19:12] tbrisker commented on #188
from mail:
כשאני שמה בפייסבוק קישור לעמוד של ירושלים בשו"ת המקומי, ה-thumbnail בתצוגה המקדימה הוא תמונה של עופר ברקוביץ'. יש סיבה שזה קורה? אפשר לטפל בזה? המועמדים האחרים לא מתלהבים מזה , ובצדק.

[2013-10-08 19:14] Talbatz commented on #188
כן. צריך להוסיף תגיות של פייסבוק אופ גרף בהאדר של האתר
On Oct 8, 2013 9:12 PM, "tbrisker" notifications@github.com wrote:

[2013-10-08 22:02] ofir-ov commented on #121
Another problem is acronyms. The first tag I tried to add was תחב"צ, which didn't work. Got תחב and צ. Quotation marks seem to be less ideal for Hebrew.

BTW, Stack Overflow solves these issue by not allowing multiple words in a tag and putting each tag in a box after pressing space\comma (sort of like a preview).

[2013-10-09 03:52] danielhers commented on #121
Autosuggest also puts the tag in a box when a separator is entered. It has
other problems, though...
On Oct 9, 2013 12:02 AM, "Ofir-Purple" notifications@github.com wrote:

[2013-10-09 06:29] danielhers commented on #352
Anything else?

(Right now the answer button is text - "Answer the Question" / "Change Your Answer". If a clear enough icon with enough visual presence is suggested, I'll change it.)

[2013-10-09 06:59] danielhers commented on #214
@gl1000007 what do you suggest?

[2013-10-09 07:31] #365 closed, assigned to nobody

[2013-10-09 07:39] #346 closed, assigned to nobody

[2013-10-09 07:39] #241 closed, assigned to nobody

[2013-10-09 09:09] lotan1 commented on #368
אולי להדביק בנתיים את שני הקישורים כמו הכפתורים באודות לטופס מועמדים ולטופס
עורכים

בתאריך 8 באוקטובר 2013 18:11, מאת polinas123 notifications@github.com:

[2013-10-09 10:39] danielhers commented on #368
לאן בדיוק צריך להפנות?

[2013-10-09 10:43] danielhers opened #379 "In about page, make language links uniform"
English link says "English", while Russian link says "About project". What?

[2013-10-09 10:48] lotan1 commented on #379
Fixed to About.
yet need arabic translation
and make the about page better.

[2013-10-09 10:48] #379 closed, assigned to nobody

[2013-10-09 10:51] polinas123 commented on #368
לטופס שהכפתור בעמוד האודות מפנה אליו

וכמו שלוטן הציע, אפשק להוסיף גם "רישום עורכים"

2013/10/9 Daniel Hershcovich notifications@github.com

##

localshot.org.il _השו"ת המקומי_
_אתר שאלות ותשובות לבחירות המקומיות_
בואו. שאלו. השפיעו

[2013-10-09 10:51] lotan1 commented on #368
זה רק רעיון זמני
להדביק צורה כלשהי של הכפתורים שיש באודות ומפנים לעמודי הטפסים להרשמת עורכים
והרשמת מועמדים

2013/10/9 Daniel Hershcovich notifications@github.com

[2013-10-09 16:05] gl1000007 commented on #164
Maybe we can find time for it at the Hackathon.
Until then, @lotan1 if you have time, you can make more detailed requirements list and post it to drive.

[2013-10-09 17:20] gl1000007 commented on #257
Looking good, but please change the message text to (RTL):
מצטערת, ניתן להעלות שאלה ברשות שלכם בלבד. לפני שתעלו שאלה חדשה, אנא בדקו אם היא כבר קיימת בעמוד הנוכחי.

[2013-10-09 17:48] lotan1 commented on #315
till we'll create homepage,
should be somthing that considers not only the first answer,
maybe above 10 questions

2013/10/6 tbrisker notifications@github.com

[2013-10-09 21:06] #368 closed, assigned to nobody

[2013-10-09 21:08] tbrisker commented on #352
closing this now. if you have any more related issues - open new issues as this issue has become overloaded with ideas for various changes.

[2013-10-09 21:08] #352 closed, assigned to danielhers

[2013-10-10 05:30] Talbatz opened #383 "Alert / notification appears on top of content and below button"
The issue occurred when i was not logged in, while viewing a singular question page, after clicking the upvote button. was done on chrome/mac.

This issue looks like a css positioning bug, i think it is caused by div#messages getting position:fixed; (line 17 in style.css)

[2013-10-10 05:34] Talbatz opened #384 "Visual / markup bug - footer file is being called in the wrong location"
here's where the issue occurs:
http://localshot.org.il/p/about/

the footer seems so narrow since it is misplaced, it is supposed to inside div#container, now it is called within the actual textual content of the page (inside div.WordSection1)

[2013-10-10 08:01] gl1000007 opened #385 "Can't support my own question -> Remove Button."
![cantsupportmyownquestion](https://f.cloud.github.com/assets/5072931/1304514/ef67a87c-3181-11e3-8efb-120ad6a3888e.PNG)
This needs a fix in the locality page and in the single question page.
It's better to avoid the error than display an error message.
**NOTE: I can still support other users' questions, and they still can support mine.**

[2013-10-10 08:10] gl1000007 commented on #385
https://github.com/danielhers/open-shot/commit/04d89b8d3e4d83c54660d4e2393b78d5abef260e

[2013-10-10 08:32] lotan1 opened #386 "Count, show and order by number of answers for lists"
count combined no of answers for candidate lists
Im not shure about viewing it
and order the lists notes by no of answers (consider precentage)

[2013-10-10 08:50] gl1000007 opened #387 "Add an outline to candidate list and list list in Locality page"
![tadrich](https://f.cloud.github.com/assets/5072931/1304736/0d191526-3188-11e3-961c-0d48027aa2f4.png)
Further to the discussion [תדריך מסודר](https://groups.google.com/d/msg/localshot/JZFIRNsmdy8/JeMK3fge92MJ) in the Group.
Line style is identical to existing lines, for example in the question list, including the rounded edges.

The outline gives the user a hint that there is more content under t

[2013-10-10 09:26] daonb commented on #387
IMO, we need more than a hint. have you tried pushing the candidates to the side and bringing the questions to the top? questions are our unique, dynamic content and we should give them a prominent place and above the fold.

[2013-10-10 09:47] gl1000007 commented on #387
Have a glimpse at any mobile app which displays a list of objects (FB?) and look at the bottom of the screen. In most cases, the lowest object is cut off by the fold. In that case, you can conclude that the object continues under the fold, and then you scroll down.
So, that line is all the hint we need. _Maybe_ it can be a little thicker, but nothing beyond that point.

BTW there is a long-term so

[2013-10-10 10:54] gl1000007 commented on #214
@lotan1  can you be more specific? "something" doesn't tell me anything.
Until then, I suggest to **do nothing**. Yes do nothing at all.
The name is used to identify the person in a more unique manner, so it has to stay.
Really, this is a tiny bit and we are short in time. What about the big picture? There are many features we have not begun to apply (!)
Please close.

[2013-10-10 12:46] #214 closed, assigned to gl1000007

[2013-10-10 13:36] lotan1 commented on #188
אנחנו ממשיכים לקבל תלונות על עניין זה מהעורכים המקומיים
"רשימת שאלות (נתניה) | example.com"

[2013-10-10 14:53] Talbatz commented on #188
Ok so let's get this done

Here's the relevant fb dev doc: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/

We need to upload a 1200x630 image to the website (i made one, it's quite basic, find it attached)
![og-image-localshot](https://f.cloud.github.com/assets/1596230/1307020/fdc858f8-31b8-11e3-95b7-8e27129bc6d7.jpg)

then we need to add an open graph