[2013-10-10 15:03] Talbatz commented on #188
While at it, there few other metadata tags missing in the header, like:

[code]

and of course there's the meta description tag that is missing, it is very important to seo!

[code]

these tags should be inserted into the page header and get populated with the appropriate data.

[2013-10-10 16:13] tbrisker commented on #188
@daonb - can you handle adding the image? as it seems uploading it to the cdn where all the static files are located does not work (see above) - we need to make it available in the localshot domain and link to it from the og tag

[2013-10-10 16:35] lotan1 commented on #188
Actually the Issue should change to somthing like - make an invitable
facebook manual share

suggestions are to use our logo as default
and to change title from
רשימת שאלות (הוד השרון) | localshot.org.il and
https://www.facebook.com/?ref=logo#
אנחנו זוג צעיר ללא עזרה כספית מההורים אוהבים את העיר אך מחירי הדיור יקרים
מאוד https://www.facebook.com/?ref=logo# and
אמיר כוכבי (הוד השרון) | localshot.or

[2013-10-10 16:48] #367 closed, assigned to nobody

[2013-10-10 17:09] gl1000007 commented on #349
@lotan1 לא דיברנו על זה כבר?

[2013-10-10 17:11] gl1000007 commented on #349
#251
If it's not broke, don't fix it. Close it.

[2013-10-10 17:17] lotan1 commented on #349
לא
והנושא אכן דורש איזה כיוונון, אנחנו רוצים למעלה גם תשובות ולא רק תמיכות
אפשר להתייחס ל2 תשובות ויותר לצורך הסידור או ליצור משהו מורכב יותר כמו סיכום של מספר התמיכות + פעמיים*מספר התשובות
רק רעיון
בכל מקרה שני המשתנים חשובים והסידור שבכותרת האישו עדיף על הסידור הקיים

[2013-10-10 17:31] Talbatz commented on #188
@tbrisker i'm not sure that we must have the image hosted on our domain, I think a cdn would do just fine.
Please take into account that once a page has been shared on fb the data gets cached and it might take a while before we actually see the changes reflected on the walls in facebook where those pages are shared.

@lotan1 about using the logo image, facebook recommends to use a 1200x630 image (

[2013-10-10 18:36] gl1000007 opened #388 "Design new small note images"
Replacing ![note yellow](https://f.cloud.github.com/assets/5072931/1309173/9b9a4cb4-31da-11e3-903e-57de8f979f50.png) and ![note white](https://f.cloud.github.com/assets/5072931/1309177/a2ae6d46-31da-11e3-85b8-b1a3885e638e.png) from the [assets](https://drive.google.com/folderview?id=0B3yaQaorsX55X2dzdFJWbFhLY3M&usp=sharing) library.
For use in #209 and #310.
Later I'll put links to more specific i

[2013-10-10 18:48] gl1000007 opened #389 "META ISSUE: Visual indication of candidate response rate"
The objective is to highlight the (generally low) response rate of every candidate in various ways, thereby increasing it.
[Candidate Widget in the Spec](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit#bookmark=id.gahl56epvf0x)

[2013-10-10 19:17] gl1000007 opened #390 "Resize the candidate Avatar to 140x140px with 10px horizontal spacing"
Essentially resize only the avatar and leave the text as it is.
#389

[2013-10-10 19:17] gl1000007 opened #391 "Make all the avatars square (not round)"
#389

[2013-10-10 19:17] gl1000007 opened #392 "Design a colored square representing the response rate"
![zadik](https://f.cloud.github.com/assets/5072931/1044435/a3902690-1011-11e3-9af4-15bc5e4660b4.PNG)
I'm talking about the little green square near the response rate.
There should be 3 colors: green, yellow, red.
Talked to @M4XIMU5 at the last meeting and he's on it.
When finished, please upload to [assets](https://drive.google.com/folderview?id=0B3yaQaorsX55X2dzdFJWbFhLY3M&usp=sharing).
#389

[2013-10-10 19:18] gl1000007 opened #393 "Add a colored square to Candidate Widget"
Only apply after #392 is done.
Read about applying it in the [spec (8g)](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit#bookmark=id.gahl56epvf0x)
#389

[2013-10-10 19:19] gl1000007 opened #394 "Add a colored progress bar in Candidate Widget"
Only apply after #390 and #392 are done.
Read about applying it in the [spec (8d)](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit#bookmark=id.gahl56epvf0x)
Use the images from #392, or draw a rectangle with the same color.
#389

[2013-10-10 19:23] gl1000007 opened #395 "Add small notes to Candidate Widget"
![zadik](https://f.cloud.github.com/assets/5072931/1044435/a3902690-1011-11e3-9af4-15bc5e4660b4.PNG)
**Low priority** + only after #388 and #390 are done.
This issue is relevant to the first 2 lines - yellow and white notes.

[2013-10-10 19:30] gl1000007 commented on #209
Not entirely. #389

[2013-10-10 20:00] gl1000007 opened #396 "Change calculation method for response rate in a locality"
Existing method: % of (sum of questions \* sum of candidates)
That leads to:
- Very low rates, even in active cities like [Jerusalem](http://localshot.org.il/55/qna/).
- Getting 100% requires every candidate to answer every question. That includes **every candidate in every list**, and it's a lot. It will mess up the question page, and is generally an unreachable goal.

New calculation method (pro

[2013-10-10 22:13] asfaltboy opened #397 "Enable filtering by multiple tags (simultaneously)"
Please consider allowing users to filter questions by multiple tags (perhaps OR-ing the tags instead of AND-ing them for more results rather than less) - this way people can get answers to all the subjects that matter to them quickly.

Note: URL could be updated with +new_tag on each addition. Appending each url should probably be done alphabetically to allow consistent permalinks

[2013-10-11 06:49] daonb commented on #387
I don't know of any app that use its first page to display static
information, keeping dynamic content hidden. As a returning user there's
nothing to interest me in the home page of my locality.

[2013-10-11 07:51] gl1000007 commented on #397
please separate this into 2 issues
regarding the second idea, +1 for the OR-ing method.

[2013-10-11 08:02] asfaltboy opened #399 "There seems to be no obvious way to remove tags from active filters"
A nice `X` symbol next to the chosen (grey) tag would be useful. (see [`.btn-group`](http://getbootstrap.com/2.3.2/components.html#buttonGroups) for implementation example).

Would probably be a good idea to change the link on the tag itself (after it's added) to do something else or perhaps just remove the link completely.

The URL should be updated to match the new selected tags (if any remain)

[2013-10-11 08:06] #383 closed, assigned to nobody

[2013-10-11 08:08] gl1000007 commented on #386
can be applied, but:
1. is it really necessary, considering our time constraints?
2. keep the option to sort alphabetically along with the sorting by number of answers.

IMO, we don't have time for it, maybe after elections.

[2013-10-11 08:23] #347 closed, assigned to nobody

[2013-10-11 08:38] #370 closed, assigned to nobody

[2013-10-11 08:38] #324 closed, assigned to nobody

[2013-10-11 08:43] Talbatz commented on #188
here is the open graph image on hasadna.org.il server:

http://www.hasadna.org.il/wp-content/uploads/2013/10/og-image-localshot.jpg

[2013-10-11 08:50] #188 closed, assigned to nobody

[2013-10-11 08:54] gl1000007 commented on #336
I think we should display the full name instead of only the first name.

Regarding list and position:
- short term - that's the job of the candidate and list pages.
- long term (after elections) - I have designed a new tool tip (pop up) for users, but due to time constraints I haven't opened an issue for it.

**Action item: Display full name under avatar.**
First name and last name.
@michalten If

[2013-10-11 08:55] gl1000007 commented on #313
המצב הקיים נראה לי הכי מתאים.
אולי לסגור?

[2013-10-11 08:58] tbrisker commented on #313
ניתן לתיקון (סוג הרשות קיים במסד נתונים) אבל לא דחוף

[2013-10-11 09:00] gl1000007 commented on #267
Looks like it's updated. @lotan1 Close?

[2013-10-11 09:16] gl1000007 opened #400 "Change response rate to number of answers"
Issue created after discussing it with @daonb and @polinas123.
instead of
"27% מענה"
write:
"6 תשובות"
#389

@Yarond

[2013-10-11 09:26] tbrisker opened #401 "correct meta tags"
While at it, there few other metadata tags missing in the header, like:

[code]

and of course there's the meta description tag that is missing, it is very important to seo!

[code]

these tags should be inserted into the page header and get populated with the appropriate data.

[2013-10-11 09:29] gl1000007 commented on #393
Following #400, the spec is now updated to count questions instead of percents.

[2013-10-11 09:29] gl1000007 commented on #394
Following #400, the spec is now updated to count questions instead of percents.

[2013-10-11 09:49] gl1000007 commented on #249
Take a look at http://www.kolzchut.org.il/ - Bottom-Left corner.
The form itself is a Google Doc. In addition, there are a picture with a link, and a simple modal window.
I think it's easy to apply it.
@tbrisker can be applied? before or after elections?

[2013-10-11 09:58] gl1000007 opened #402 "Mail alert for "Have you already voted?""
#440 had to be divided into 2 issues.

The first one is #440 itself, and this is the second one.
@tbrisker please assign to the "Election Day" milestone.

---

"Have you already voted?"can be accompanied by a mail like:
אתר השו"ת המקומי מזכיר לך ללכת להצביע!
כבר הצבעת? [לחץ כאן]()

This link should be equivalent to a click on "כבר הצבעתי" button.
I think we should use some kind of secret alphanume

[2013-10-11 10:00] gl1000007 commented on #313
+1

[2013-10-11 10:10] Talbatz opened #403 "A singular answer page URL is required in order to submit the open graph action to facebook's approval"
In order to properly create the "answer question" story on google open graph we must specify a singular unique url to a specific answer.

These pages should not be necessarily linked from within the website itself, and should probably not be indexed on search engines. I do recommend adding a "back to question" button, somewhere visible, in order to make the page more friendly in case it is visited

[2013-10-11 10:11] gl1000007 commented on #123
זה מופיע באתר? אפיה אפשר לראות?
בכל מקרה נראה לי עדיפות נמוכה

[2013-10-11 10:56] lotan1 commented on #267
I havnet update yet

2013/10/11 Gilad L notifications@github.com

[2013-10-11 13:57] danielhers commented on #153
Anyone on it? No? I'll do it then.

[2013-10-11 14:55] danielhers commented on #153
Should the question author be included? It already appears on the right...

[2013-10-11 15:33] polinas123 opened #404 "add candidate list info to answers display"
מתחת לתמונה של כל מועמד להדביק גם את שם הרשימה. ככה רואים בתשובות לשאלות גם מי הרשימות שעונות, ובד"כ יש לכל שאלה כיסוי של מועמד אחד מסיעה, רק לעיתים נדירות כמה.

[2013-10-11 16:45] tbrisker opened #406 "adding question with tag ' causes locality page to fail loading"

[2013-10-11 18:28] #353 closed, assigned to nobody

[2013-10-12 07:13] #355 closed, assigned to nobody

[2013-10-12 07:24] tbrisker opened #408 "Take care of long list names"
options to handle:
1. manually shorten long names
2. only display first X characters on pages other the the list/candidate pages.

[2013-10-12 07:26] tbrisker commented on #404
related to #336

[2013-10-12 07:36] tbrisker commented on #391
I would like input from more people on this - should we make it square or keep them round?
I tend to like the round ones.
@lotan1 @daonb

[2013-10-12 07:37] tbrisker opened #409 "add all collaborators to the github team"
so we can assign issues to them etc.

[2013-10-12 07:40] tbrisker commented on #387
How about making all the candidate listings hidden by default and only displaying it when clicking on a button next to locality name, maybe with an nice slide toggle effect?

[2013-10-12 08:03] #76 closed, assigned to daonb

[2013-10-12 08:04] #147 closed, assigned to daonb

[2013-10-12 08:06] tbrisker commented on #178
seems like the problem with the mailer on the server caused this not to work. now fixed.

[2013-10-12 08:06] #178 closed, assigned to nobody

[2013-10-12 08:28] #409 closed, assigned to daonb

[2013-10-12 08:30] tbrisker opened #410 "לבקש מכל זכות להוסיף אותנו בחלק העליון של עמוד הבחירות המקומיות"
http://www.kolzchut.org.il/he/%D7%91%D7%97%D7%99%D7%A8%D7%95%D7%AA_%D7%9C%D7%A8%D7%A9%D7%95%D7%99%D7%95%D7%AA_%D7%94%D7%9E%D7%A7%D7%95%D7%9E%D7%99%D7%95%D7%AA

[2013-10-12 08:38] Talbatz opened #411 "an aggregated tag page - nice to have"
A page that would display a tag cloud / list of tags aggregated from all questions in the website should be an interesting view and might be helpful when it comes to marketing..

[2013-10-12 09:34] danielhers opened #412 "In public profile: questions I'm following, do not display buttons"
Need to pass parameters to _question.html so that the question preview is as clean as possible in this view.

[2013-10-12 10:35] #387 closed, assigned to tbrisker

[2013-10-12 10:55] polinas123 opened #413 "change default avatar to something more elegant"

[2013-10-12 10:56] polinas123 opened #414 "add facebook page to profile of user signed in by facebook"

[2013-10-12 11:00] Talbatz commented on #413
Something like that?

http://www.newportoak.com/wp-content/uploads/default-avatar.jpg
 On Oct 12, 2013 12:55 PM, "polinas123" notifications@github.com wrote:

[2013-10-12 11:24] daonb commented on #413
![default-avatar 1](https://f.cloud.github.com/assets/36852/1320012/df288ee4-3330-11e3-9311-7198b3b88948.png)

[2013-10-12 13:09] lotan1 commented on #410
אני על זה
אקשר גם אליהם מהאודות שלנו עם הפנייה לשאלות בנושאי בחירות ונהליהן

2013/10/12 tbrisker notifications@github.com

[2013-10-12 14:13] #343 closed, assigned to nobody

[2013-10-12 15:55] polinas123 opened #416 ""413 entity too large" when adding picture to candidate profile"
adding the avatar as candidate on an existing profile

attached error screenshot and picture
![shay_engler_pic](https://f.cloud.github.com/assets/5359949/1320371/9ac2384c-3356-11e3-9658-a12781fa5cd3.jpg)
![5774 02 08 17 50 20](https://f.cloud.github.com/assets/5359949/1320372/a13a52ea-3356-11e3-89ac-75b003837d57.png)

[2013-10-12 16:05] taleinat commented on #401
I'd like to add these.

Any other specific tags I should add?

Which pages is this relevant to?

[2013-10-12 17:57] #410 closed, assigned to lotan1

[2013-10-13 05:16] #400 closed, assigned to nobody

[2013-10-13 05:18] tbrisker commented on #416
related to #338 ?

[2013-10-13 05:34] polinas123 commented on #416
no idea. this was login with username and password

[2013-10-13 06:08] lotan1 opened #417 "Remove the view of no` of listed candidates at locality page"
its a lot anyway and dosnt say anything

[2013-10-13 06:13] lotan1 opened #418 "View information from list page at the new list view"
לחיצה ראשונה על רשימה http://localshot.org.il/42/qna/?list=91
לא תראה את המצע והקישורים שלה או לא תאזכר את קיומם
שנמצא כאן http://localshot.org.il/po/list/91

[2013-10-13 06:15] lotan1 opened #419 "הבלטת כפתור הצגת המועמדים בעמוד הרשות"
או הצגתם כברירת מחדל ברשויות בלי שאלות

[2013-10-13 06:16] lotan1 commented on #262
quick solution can be remove view of entities without candidates

[2013-10-13 06:22] lotan1 commented on #416
קורה לי כשמנסה להעלות תמונות גדולות מדי
עברתי ללקישורי תמונות פרופיל בפייסבוק מהניהול
אולי אפשר לאפשר למשתמשים לקשר תמונה ולא רק להעלות כמו שניתן היה בעבר?

2013/10/13 polinas123 notifications@github.com

[2013-10-13 08:40] daonb commented on #419
אין להציג אותן כברירת מחדל בגלל שזו היתה הבעיה - המועמדים תפסו את כל המקום.

[2013-10-13 08:49] daonb commented on #417
I think we should count only the 'verified' candidates - those candidates that have real people connected to them. @tbrisker, I saw you're import command added the candidates as verified, It could be better to add them as unverified and change it only when the editor uses the special form. This way we can count the number of candidates registered.

[2013-10-13 08:56] daonb commented on #416
It's an nginx limit. I've changed the limit to 5MB. please try uploading again and close the issue if all is well

[2013-10-13 08:57] daonb commented on #338
#416

[2013-10-13 08:57] #338 closed, assigned to nobody

[2013-10-13 13:44] daonb commented on #412
There's no way to pass a parameter. probably simpler to create a new file _question_by_owner.html and include the original _question.html

[2013-10-13 13:50] danielhers commented on #412
Why not? Just do
{% with can_vote=False %}
  {% include "qa/_question.html" %}
{% endwith %}

And read can_vote inside _question.html (in addition to the template tags
question|can_vote:user, question|can_upvote:user and
question|can_downvote:user.

On 13 October 2013 16:44, benny daon notifications@github.com wrote:

[2013-10-13 14:06] daonb commented on #412
+1.
You live and learn.

On 13 October 2013 15:50, Daniel Hershcovich notifications@github.comwrote:

##

http://yeda.us/daonb

[2013-10-13 14:06] daonb commented on #412
only the paramter should be

On 13 October 2013 16:06, benny daon bennydaon@gmail.com wrote:

##

http://yeda.us/daonb

[2013-10-13 14:10] daonb commented on #386
I think it's important to promote the candidate lists that do answer questions.

[2013-10-13 14:32] polinas123 opened #421 "עדיין מופיע 1% מענה בשורת הסטטיסטיקות למעלה"
http://localshot.org.il/55/qna/

[2013-10-14 03:56] polinas123 opened #422 "looks like sorting the candidates in list by position isn't displayed"
http://localshot.org.il/42/qna/?list=86

בדוגמא הזו ארנון אברמוב מוגדר כ 1 ולא מופיע כ 1
לא לכל המועמדים יש מספר מוגדר אבל מי שיש לו, בעיקר הראשונים, לא מופיע לפי הסדר של הרשימה

[2013-10-14 14:23] gl1000007 commented on #421
Duplicate?
https://github.com/hasadna/open-shot/issues/396

[2013-10-14 15:38] tbrisker commented on #391
after a quick survey and trying the square avatars, looks better with round.

[2013-10-14 15:38] #391 closed, assigned to nobody

[2013-10-14 15:45] tbrisker commented on #396
too complicated. change to simple answer count.

[2013-10-14 15:51] tbrisker commented on #422
candidates without ordinal appear before candidate with ordinal.

[2013-10-14 15:52] #421 closed, assigned to nobody

[2013-10-14 15:55] tbrisker commented on #416
should be fixed.

[2013-10-14 15:55] #416 closed, assigned to daonb

[2013-10-14 15:56] #419 closed, assigned to daonb

[2013-10-14 15:59] tbrisker commented on #417
remove. the number doesn't say anything right now, and showing we only have 2-4 active candidates isn't a good idea either.

[2013-10-14 16:07] #413 closed, assigned to daonb

[2013-10-14 16:12] tbrisker commented on #401
Relevant on all main templates - tags which are relevant to the entire site should be added on base.html, others should be added on the relevant template using the {% block extrahead %} block

[2013-10-14 16:13] tbrisker commented on #390
140 is too large - only two candidates will be shown per row. change to to 100. (currently it is 75)

[2013-10-14 16:18] tbrisker commented on #359
handled by #413, replaced the default avatar.

[2013-10-14 16:18] #359 closed, assigned to nobody

[2013-10-14 16:20] gl1000007 commented on #417
+1 to @daonb. And,
The number has a meaning - it can tell about the "activeness" of a locality in a vert fast way, before you even notice the candidate and party list.

[2013-10-14 16:24] tamarcon opened #423 "register link"
on the homepage when choosing the register Option, the link get you to a log in page

[2013-10-14 16:31] gl1000007 commented on #396
Can't you run a query for list IDs that linked to a certain question ID? That's all there is to it, assuming that every candidate is linked to a list.
If still complicated, please explain why, including any relevant constraints.

[2013-10-14 16:41] tbrisker commented on #396
it's complicated because it's a number that has no intuitive meaning to the user - they know what an answer count is, they don't know what a response rate % means.
Also the calculation is very heavy on the db - checking every question for entity, then every question all answers and who answered etc, which is calculated every time a page is loaded...

[2013-10-14 17:16] tamarcon opened #424 "welcome box"
כאשר העכבר עובר על כפתור ה"סגור" הגרפיקה משתנה לא לצורה הנכונה

 ואחרי שלוחצים עליו וסוגרים את החלון אין דרך לפתוח אותו שוב

[2013-10-14 17:16] gl1000007 commented on #408
למה להסתבך? אפשר להחליף לתצוגת רשימה, אולי עם גופן קטן יותר. במצב הזה יש גלישת שורות וכל השמות הארוכים יעברו לשורה הבאה. זה באפיון:
[דף רשות, סימון 10](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit?usp=docslist_api).
כל הקוד כבר קיים, השינוי הנדרש הוא רק (או בעיקר) ויזואלי.

[2013-10-14 17:45] gl1000007 commented on #153
Yes. If a user writes a question, it's logical to say that he/she supports it.

**Off-Topic Warning**
Plus, like Facebook does, if the logged in user supports the question, their avatar will be the first, then their friends, then all the other supporters. If it can be applied in code, I'll open a separate issue for it. We can wait with it until after the elections.

-------- הודעה מקורית --------

[2013-10-14 17:51] gl1000007 commented on #424
בואו ניפטר מה"סגור" הזה לגמרי, ונתייחס למלבן הזה כאל חלק בלתי נפרד מהדף.

[2013-10-14 17:52] gl1000007 commented on #359
+1

[2013-10-14 17:52] gl1000007 commented on #413
Looks nice. +1

[2013-10-14 17:59] gl1000007 commented on #390
Look at the column sizes in the spec. There is a place for 4 candidates in a row.
Look at [the numbers on the top, and marks 6-10](https://docs.google.com/document/d/1cEObTn5NWn-BjkWpSiqpsmy8zCMGVmmt4h9rv8XaRnE/edit?usp=docslist_api).
Also, there is a link to the specific part in the spec, at the META ISSUE page.

[2013-10-14 18:10] gl1000007 commented on #396
Simple answer count.

[2013-10-14 18:25] lotan1 commented on #424
אבל הוא ממש דוחק מטה את עמוד הרשות, אז אני מעדיף לראות בו חלק כן נפרד מהדף,
מבחינתי אפילו היה יכול לרחף באמצע עד שמסלקים אותו..

בתאריך 14 באוקטובר 2013 20:51, מאת Gilad L notifications@github.com:

[2013-10-14 18:58] tamarcon opened #426 "חיפוש באתר"
כאשר לא רשומים למערכת ומבצעים חיפוש ברשות מסוימת , לאחר הצגת התוצאות בחירת הרשות .
מתאפסת , והחיפוש הבא יתבצע על כל הרשויות

כאשר רשומים למערכת ובוחרים רשות שונה לבצע בה חיפוש, לאחר שהעמוד מתעדכן עם תוצאות החיפוש הבחירה של הרשות חוזר לזו בה המשתמש רשום

[2013-10-14 19:41] tamarcon opened #427 "סרגל חיפוש נעלם"
כאשר נכנסים לעמוד של משתמש אחר , סרגל החיפוש נעלם

[2013-10-14 19:45] polinas123 commented on #422
אוי. זה קקי.
אפשר לעשות הפוך?

2013/10/14 tbrisker notifications@github.com

##

localshot.org.il _השו"ת המקומי_
_אתר שאלות ותשובות לבחירות המקומיות_
בואו. שאלו. השפיעו

[2013-10-15 08:25] lotan1 commented on #413
much better!
but seems now that candidate without avatar wont show his name under his avatar when answering
http://localshot.org.il/277/qna/

[2013-10-15 17:47] tbrisker commented on #422
after checking again seems like there is a problem with ordering even if all candidates do have an ordinal, for example here: http://localshot.org.il/po/list/46

[2013-10-16 03:53] danielhers opened #428 "Update email contains deleted questions"
I just got an email with "שאלות חדשות לשיקולך", containing all the questions in my locality, including questions that have is_deleted=True because they have been deleted by an editor.

[2013-10-16 04:41] danielhers opened #429 "Missing translation for email subject "A new answer for your question""
The title appears in English.

[2013-10-16 07:35] danielhers commented on #223
Just tried to login with Google and it didn't work. Got the server error.

[2013-10-16 07:43] tbrisker commented on #223
Traceback (most recent call last):

  File "/home/oshot/src/oshot/ENV/src/django/django/core/handlers/base.py", line 115, in get_response
    response = callback(request, _callback_args, *_callback_kwargs)

  File "/home/oshot/src/oshot/ENV/src/django/django/views/decorators/csrf.py", line 77, in wrapped_view
    return view_func(_args, *_kwargs)

  File "/home/oshot/src/oshot/ENV/local/lib/python

[2013-10-16 08:52] danielhers opened #430 "Email updates are sent whenever a candidate edits their answer"
If I'm registered for email updates about a question, I get an email for each answer published for that question, but I also get an email when an answer is edited (saying a new answer was published).
Emails should not be sent about edits.

[2013-10-16 09:18] Talbatz opened #431 "A little error on flat pages template file"
here's the file:
/templates/flatpages/default.html
line 19 is:
div class="offset1 span10":

should be
div class="span12"

can someone please change it?

[2013-10-16 10:22] lotan1 commented on #408
רק לא גופן קטן יותר..
עשיתי כמה קיצורים ידניים בנתיים
עדיין דורש טיפול, כבר פחות דחוף

[2013-10-16 10:31] lotan1 commented on #350
for "השו"ת המקומי":
השו"ת המקומי: רשימת שאלות (ירושלים)
localshot.org.il/‎Translate this page
מצביע בבחירות המקומיות? ברוכים הבאים לאתר השו"ת (שאלות ותשובות) המקומי. בעזרת האתר יכולים תושבים להעלות שאלות למועמדים השונים ולהשוות בין התשובות שלהם.

חיפושים כמו
"שאלות ותשובות לקראת הבחירות המוניציפליות"
לא נמניב אותנו

אבל מכוסה באדוורדס
meanwhile 115,000 Impressions at google adwords

[2013-10-16 10:31] #350 closed, assigned to nobody

[2013-10-16 10:34] lotan1 commented on #262
should be simple isnt it?
if we do have now on db regional entities that wont show on site and appear at admin,
why wont we do the same with מועצות אזוריות
or make an if for more than 1 candidate at municipality

[2013-10-16 10:39] lotan1 opened #432 "Show candidates as default for sleepy localites"
For localities with no questions http://localshot.org.il/99/qna/
make the default view with הצגת מועמדים open.
we are holding imortant information evevn for localities without questions,
lets show it

[2013-10-16 10:41] #288 closed, assigned to nobody

[2013-10-16 12:08] lotan1 commented on #267
done with https://docs.google.com/spreadsheet/ccc?key=0AibPNoUcfXcMdHFrSmlOc1plZTA5Y1dGWjc1ZXh3Y3c&usp=drive_web#gid=0

[2013-10-16 12:25] daonb commented on #262
we just need to make sure we delete the fixture/initial_data.json or
deleted entity we reappear when we upgrade

On 16 October 2013 12:34, lotan1 notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-10-16 12:35] lotan1 commented on #262
since we havnt delete the entity "הדרום" I just thoght why wond we do the
same with "אבו בסמה"?
but ill leave it here for you

2013/10/16 benny daon notifications@github.com

[2013-10-16 14:31] lotan1 commented on #423
can be separte now when there are different links on home page
register: same as now with bigger buttons 1. fb 2. g 3.tw. 4. עצמונית. with the green buttons smaller. without the login form.
login: same as now without the green buttons. and without 4.עצמונית

[2013-10-16 15:59] lotan1 commented on #399
אני לא מבין
אתה מעלה שאלה עם תגיות,
אתה נכנס לעריכה שלה ומוחקר את התגיות ואז התגיות*0 לא יופיעו בתצוגה
מה אני מפספס?

[2013-10-16 16:00] lotan1 commented on #396
כמו לגבי תצוגת מועמדים רשומים
להבנתי, אם לא ניתן לשינוי מהיר,
עדיף למחוק זמנית מאשר להציג כך

[2013-10-16 16:01] asfaltboy commented on #399
לא בעריכה, אלא כמשתמש קצה. עודכנה הכותרת

[2013-10-16 16:02] lotan1 commented on #399
כן כן
כרגע עשיתי את זה כמשתמש קצה לא כעורך
שים לב ששאלות עם מענה לא ניתן לערוך

[2013-10-16 16:05] lotan1 commented on #388
what about that?
can it be meanwhile biger, rectangle, bold letters?

[2013-10-16 16:06] lotan1 commented on #386
+1 ?

[2013-10-16 16:08] lotan1 commented on #384
נראה לי שזה האודות המבולגן שלי
גורר איזה בלגן html
אני אשחק עם זה בסופש עד שיסתדר

[2013-10-16 16:10] lotan1 commented on #358
If its going to be big, why not do it as the official one that going to be on Kalpi?

[2013-10-16 16:37] lotan1 commented on #329
done https://docs.google.com/spreadsheet/ccc?key=0AibPNoUcfXcMdEctN0VRT041c3dlYm5ZcFptcW9PR3c&usp=drive_web#gid=0

[2013-10-16 16:46] lotan1 commented on #84
maybe we can add somthing as all or latest to the new homepage

[2013-10-16 19:04] tbrisker commented on #267
updated on the server.

[2013-10-16 19:04] #267 closed, assigned to nobody

[2013-10-16 19:26] #329 closed, assigned to nobody

[2013-10-16 19:26] #396 closed, assigned to nobody

[2013-10-16 19:38] #428 closed, assigned to nobody

[2013-10-16 19:38] #412 closed, assigned to nobody

[2013-10-16 19:39] #432 closed, assigned to nobody

[2013-10-17 05:11] danielhers commented on #422
According to [polyorg/models.py line 85](https://github.com/hasadna/open-shot/blob/dev/polyorg/models.py#L85), it looks like they're sorted in reverse order of ordinal. Shouldn't it be ascending order?
Also, it doesn't seem to agree with the order you showed in the אמת list in תל אביב יפו, where the apparent order is 3,2,1,4.

[2013-10-17 06:23] daonb commented on #153
The supporters scroll bar looks silly, why not keep the list of supporters going?
![selection_025](https://f.cloud.github.com/assets/36852/1349647/96e069e6-36f4-11e3-8dd6-5e8056e71484.png)

[2013-10-17 06:28] daonb commented on #386
@lotan1 what is "+1 ?"? you can do "+ 0.5" if you're not sure, but your reply makes no sense to me

[2013-10-17 06:47] lotan1 commented on #386
Sorry, but its funny, Im just getting use to it.
Im voting for it anyway.
בתאריך 17 באוק 2013 08:28, "benny daon" notifications@github.com כתב:

[2013-10-17 08:11] danielhers commented on #153
It has a scrollbar in the [spec](https://docs.google.com/file/d/0B3yaQaorsX55dnAyeDI2aXZNek0/edit). @gl1000007 , what do you think? Maybe just increase the height?

[2013-10-17 10:26] gl1000007 commented on #153
Scrollbar is not mandatory + since there is nothing below the supporters list, we can let it wrap until (minimum):
*it ends, or
*up to the height of the viewport minus the top bar.

If applying this is too complicated, make the list wrap until it endswithout considering the viewport.

Another thing - all of the avatars have to be the same size. Please make them circle (not eliptic). That way we ca

[2013-10-17 10:30] gl1000007 commented on #153
Forgot the footer...
Just let the list wrap until it ends.

[2013-10-17 17:04] #406 closed, assigned to nobody

[2013-10-17 17:26] #153 closed, assigned to nobody

[2013-10-17 17:33] #429 closed, assigned to nobody

[2013-10-17 17:33] #430 closed, assigned to nobody

[2013-10-17 22:09] #404 closed, assigned to nobody

[2013-10-18 00:00] daonb opened #438 "Display the per-question toolbar only on mouse over"
Just like twitter does: http://twitter.com/hasadna. Come to think of it, "expand" looks like a good idea also...

[2013-10-18 00:07] daonb commented on #386
depending on how funny it gets, you can comment with :-), lol
(laugh-out-loud) or ROFL (rolling on the floor laughing)

On 17 October 2013 09:47, lotan1 notifications@github.com wrote:

##

http://yeda.us/daonb

[2013-10-18 12:10] gl1000007 commented on #386
I see a commit here. Close?

[2013-10-18 12:16] gl1000007 commented on #438
That will make it hard for mobile users to use that toolbar, for there is no museover in mobile. Considering that the site is already mobile-unfriendly,  until we have a separate mobile or responsive version, I suggest to keep it as it is.

[2013-10-18 12:19] danielhers commented on #386
The "show" part isn't implemented yet.

[2013-10-18 16:16] #262 closed, assigned to nobody

[2013-10-18 18:57] gl1000007 commented on #208
Maybe add "משתמשים פעילים" to the text.

[2013-10-20 08:14] lotan1 commented on #418
Can we make it?
need to dicide if keep on pushing the parties links pics and text

[2013-10-20 12:22] polinas123 opened #439 "תקלה ברישום באמצעות גוגל"
![1](https://f.cloud.github.com/assets/5359949/1368112/22e0ed3c-3982-11e3-8757-f2b3cb5bf6fd.JPG)

התקבל מאלנה העורכת בנשר
alnae87@gmail.com

[2013-10-20 20:53] gl1000007 opened #440 "Have you already voted? version 2"
A simpler version of #208.
![votedv2](https://f.cloud.github.com/assets/5072931/1368919/16d8fc0e-39c9-11e3-8153-ea9a04a185ff.png)

This version doesn't require potntially complicated percent calaulation, only a simple counter.
Other issues have been updated to link here.
Please asign to "election day" milestone.

[text deleted, moved to a separate issue, listed in a comment below]

[2013-10-20 20:54] gl1000007 commented on #208
Closing due to an updated layout #440

[2013-10-20 20:54] #208 closed, assigned to nobody

[2013-10-20 20:55] gl1000007 commented on #402
Changed #208 to #440

[2013-10-21 07:13] daonb opened #441 "google plus login eror"
here is the error as reported by @nonZero

Error: redirect_uri_mismatch
The redirect URI in the request: http://localshot.org.il/complete/google-oauth2/ did not match a registered redirect URI
Learn more
Request Details
cookie_policy_enforce=false
scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile
response_type=code
access_type=online
redirect_uri

[2013-10-21 08:01] #418 closed, assigned to daonb

[2013-10-21 16:38] lotan1 commented on #422
#386

[2013-10-21 17:48] #417 closed, assigned to daonb

[2013-10-21 22:39] #386 closed, assigned to nobody

[2013-10-23 20:01] daonb opened #445 "get admins and devs a way to get database backup"
Add two fabric command:
- `fab getdb`
- `fab putdb`

[2013-10-23 21:24] daonb opened #446 "Show only second round localities"
- Refactor `entities.models.Entity` to be an abstract class and create our own Entity in oshot.models based on it and with a property of election_time.
- Add a fixture to update the election_time
- Change oshot.context_processors.forms to show only entities with less than 3 months to election

[2013-10-23 21:38] daonb opened #447 "ְArabic Translation"

[2013-10-26 21:44] daonb opened #448 "replace PIL with pillow"
for easier installation - https://github.com/python-imaging/Pillow

[2013-10-28 18:25] danielhers commented on #399
I think this refers to the locality page, where the list of questions is filtered by a tag. We want the option un-filter by a selected tag.

[2013-11-04 17:18] michalten commented on #440
I guess this should be closed...

[2013-11-04 17:33] michalten commented on #423
Could you elaborate? I don't understand the problem...

[2013-11-04 18:05] gl1000007 commented on #441
screenshot @ #439

[2013-11-04 18:05] gl1000007 commented on #439
please append pic to #441 and close this.

[2013-11-04 18:14] gl1000007 commented on #438
Any decision? make the change or leave it as it is? If we choose to keep, this issue needs to be closed.

[2013-11-04 18:15] gl1000007 commented on #427
Looks OK to me. close?

[2013-11-04 18:22] gl1000007 commented on #424
ניסיתי עכשיו ו:
1. הגרפיקה נשארת במקום, אז נראה שתיקנו את זה.
2. אפשר לרענן את הדף, או בניווט הבא לדף הרשות מדפים אחרים.
3. נתעסק בעניינים עיצוביים כשיהיה לנו "כיוון" חדש.
אפשר לסגור.

[2013-11-04 18:25] gl1000007 commented on #423
זה דף אחד שכולל את הכניסה וגם את ההרשמה...
מציע לא להתעסק כרגע בענייני עיצוב

[2013-11-04 18:50] #427 closed, assigned to nobody

[2013-11-04 19:20] gl1000007 commented on #440
נשאיר לבחירות הבאות...

[2013-11-04 19:20] #440 closed, assigned to nobody

[2013-11-04 19:20] gl1000007 commented on #402
נשאיר לבחירות הבאות...

[2013-11-04 19:20] #402 closed, assigned to nobody

[2013-11-04 19:25] gl1000007 commented on #399
I think like @danielhers
an X would be nice, with a "בטל סינון" label next to it.

[2013-11-04 19:31] gl1000007 commented on #388
design issue, leave it for the next elections.

[2013-11-04 19:31] #388 closed, assigned to M4XIMU5

[2013-11-04 19:31] gl1000007 commented on #395
design issue, leave it for the next elections.

[2013-11-04 19:31] #395 closed, assigned to nobody

[2013-11-04 19:31] gl1000007 commented on #390
can be closed?

[2013-11-04 19:31] gl1000007 commented on #394
design issue, leave it for the next elections.

[2013-11-04 19:31] #394 closed, assigned to nobody

[2013-11-04 19:32] gl1000007 commented on #393
design issue, leave it for the next elections.

[2013-11-04 19:32] #393 closed, assigned to nobody

[2013-11-04 19:33] gl1000007 commented on #392
design issue, leave it for the next elections.

[2013-11-04 19:33] #392 closed, assigned to nobody

[2013-11-04 19:34] #389 closed, assigned to nobody

[2013-11-04 19:37] gl1000007 commented on #385
What I meant is to avoid the error before it occurs, instead of displaying an error message.
Please read again the opening message of the issue.

[2013-11-04 19:39] gl1000007 commented on #384
seems fine to me. please check it and close if done.

[2013-11-04 19:40] gl1000007 commented on #358
design issue, leave it for the next elections.

[2013-11-04 19:40] #358 closed, assigned to nobody

[2013-11-04 19:40] gl1000007 commented on #357
design issue, leave it for the next elections.

[2013-11-04 19:40] #357 closed, assigned to nobody

[2013-11-04 19:45] #390 closed, assigned to nobody

[2013-11-04 19:50] gl1000007 commented on #349
אנחנו אחרי הבחירות. עדיין רלוונטי?

[2013-11-04 19:51] gl1000007 commented on #337
After the elections...
seems like there won't be a design change. close?

[2013-11-04 19:53] gl1000007 commented on #336
I think it's still relevant.
Action item: Display full name under avatar.

[2013-11-04 19:54] gl1000007 commented on #313
עדיין רלוונטי? לממש או לסגור.

[2013-11-04 19:55] gl1000007 commented on #311
design issue, leave it for the next elections.

[2013-11-04 19:55] #311 closed, assigned to nobody

[2013-11-04 19:55] gl1000007 commented on #310
design issue, leave it for the next elections.

[2013-11-04 19:55] #310 closed, assigned to nobody

[2013-11-04 19:57] gl1000007 commented on #210
יש מצב שזה עדיין רלוונטי. אם בא לכם

[2013-11-04 19:59] gl1000007 commented on #205
design issue, leave it for the next elections.

[2013-11-04 19:59] #205 closed, assigned to nobody

[2013-11-04 19:59] gl1000007 commented on #159
maybe move to "after elections' milestone ?

[2013-11-04 20:02] gl1000007 commented on #123
design issue, I suggest to leave it for the next elections. close?

[2013-11-05 04:47] daonb commented on #438
it does look very noisy. how do people solve that mouse over issue?
On Nov 4, 2013 8:14 PM, "Gilad L" notifications@github.com wrote:

[2013-11-05 04:54] daonb commented on #123
if it's agood idea, i'd rather leave it open
On Nov 4, 2013 10:02 PM, "Gilad L" notifications@github.com wrote:

[2013-11-06 14:16] #422 closed, assigned to nobody

[2013-11-11 17:41] moshe742 commented on #431
Hi,
Is the problem still exists? if so, how/where can I see the result of the problem?

[2013-12-09 18:14] danielhers opened #452 "Rename 'local_home' to 'entity_home'"
Now we're adding entities that are not localities, e.g. the general entity for the Public Knowledge Workshop (which is the domain with id=2). The word 'local' doesn't make sense here.

[2013-12-09 18:15] danielhers commented on #452
Maybe we'll just add another view and leave local_home as it is. Later we can generalize it.

[2013-12-13 13:32] danielhers opened #453 "Add user entities index page"
Now that a user profile has an "entities" field rather than a single "locality", the context processor needs to behave differently when the user tries to access a page without an explicit entity parameter. The old behavior is to use the user's locality (so for example, accessing local_home without an entity parameter gives the user's locality question list). The temporary behavior will now be to r

[2013-12-13 15:14] danielhers opened #454 "Unify Candidate and Membership"
Both Candidate in polyorg.models and Membership in user.models are connecting between Profile and Entity. This may cause problems, e.g. when a user is a candidate in an entity where they are not a member. This should be a single table.

[2013-12-13 16:00] danielhers opened #455 "Remove qa/templates/qa/candidate_email_update.html"
No one seems to be using this template. Is it really necessary?

[2013-12-14 17:42] danielhers commented on #455
Same for user/templates/user/emails/editors_new_candidate.html

[2014-03-31 19:43] #452 closed, assigned to nobody

[2014-03-31 20:07] daonb commented on #454
Is it done?

[2014-04-01 03:52] danielhers commented on #454
I'm not sure the 'mayor' thing is working yet.

On 31 March 2014 23:07, benny daon notifications@github.com wrote:

[2014-05-11 19:42] daonb opened #456 "Bill detail redesign"
![keneset-law-page](https://cloud.githubusercontent.com/assets/36852/2939369/5a696290-d944-11e3-8ffc-d6a4fce75b9f.jpg)

[2014-05-11 19:51] gl1000007 commented on #456
First impression: Nice!
Why a redesign was needed?

[2014-05-11 19:52] gl1000007 commented on #456
Ummm... are you sure this is the right repo your'e posting to?

[2014-05-11 19:54] daonb commented on #456
You're right, it's the wrong repo...

https://github.com/hasadna/Open-Knesset/issues/227

[2014-05-11 19:55] #456 closed, assigned to daonb

[2014-06-25 21:54] #455 closed, assigned to nobody

[2015-12-26 22:31] #448 closed

[2016-12-12 17:16] daonb opened #458 "Add RESTfull API"
Start with writing API docs, and than use Django REST Framework.

[2016-12-12 17:16] daonb opened #459 "Simplify Entity"
Get rid of Domain & Whaever

[2018-07-31 14:25] bulbapeppe opened #460 "Question - remove permission"
[x] Question

Dear All,
does anyone know how to remove (using pnp) all the permission that a GROUP has on an item?
I cannot get the role definition id needed to use, for example, the roleAssignments.remove  function which wants the PrincipalId and the RoleDefinitioId.

Thank you.